div .horizontalLine{
    background-color:#000000;
    height: 4px;
}

div .verticalLine{
    background-color:#000000;
    width: 4px;
}

.scroll{
    overflow: scroll;
}

div .many{
    
    width: 10px;
    height: 10px;
}

div .one{
    
    width: 10px;
    height: 10px;
}