*{
  padding: 0;
  margin: 0;
}

img{
  border: none;
}

.headerTitle{
  color: #10477f!important;
  font-size: 16px!important;
  font-weight: bold!important;
}

body, table {
  color: #505050;
  font: 11px Calibri, Arial, Helvetica, sans-serif;
}

input, textarea, select {}

textarea {
  background: #FFF8DA;
  border: 1px solid #F7EFC4;
  color: #0E76BC;
}

select {}

input {}

fieldset {
  border: 0px none;
}

.iceInpTxt, .iceInpSecrt, .iceInpTxtArea {
  border: 1px solid #F7EFC4;
  color: #0E76BC;
  height: 16px;
  font: 11px Calibri, Arial, Helvetica, sans-serif;
}

th .iceInpTxt{
  background: #FFF8DA;
  border: 1px solid #F7EFC4;
  color: #0E76BC;
  height: 16px;
  font: 11px Calibri, Arial, Helvetica, sans-serif;
}

.iceSelMnyCb {
  white-space: nowrap;
}

.iceSelMnyCb input, .iceSelOneRb input, .iceSelBoolChkbx {
  margin: 1px;
  padding: 1px;
}

.iceSelOneRb table tr td {
  padding: 1px;
}

.iceSelOneRb {
  padding-right: 15px;
  white-space: nowrap;
}

.iceSelOneMnu, .iceSelMnyLb, .iceSelMnyMnu, .iceSelOneLb {
  margin: 2px;
  padding: 1px;
  font: 10px;
  background: #FFF;
  border: 1px solid #d9d9d9;
  color: #0E76BC;
  height: 18px;
  font-size: 11px;
}

.iceInpTxtArea {
  margin: 2px;
  padding: 2px;
  font: 9px tahoma;
  background: #FFF;
  border: 1px solid #d9d9d9;
}

.iceCmdLnk, .iceOutLnk {
  text-decoration: none;
  font-weight: normal;
  color: #FFF;
}

.iceOutTxt, .iceOutLbl {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  padding: 1px 4px 1px 0px;
}

.iceOutLbl {
  font-weight: normal;
  color: #484848;
}

.icePopUpLbl {
  font-weight: normal;
  color: #fdfdfd;
}

.closeButtonStyle {
  padding-right: 5px;
  text-align: right;
}

.iceInpFileBtn, input [ type = "submit" ].iceCmdBtn {
  background: #222 url(btn_bg.png) repeat-x;
  background: repeat-x;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 16px;
  margin: 3px;
}

.descLBL{
  vertical-align: top;
}

input [ type = "submit" ].iceCmdBtn:hover {
  background: url(btn_hover.png);
  color: #0E76BC !important;
}

input [ type = "image" ].iceCmdBtn {}

.iceSelInpDate {
  background: #FFFFFF;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  margin-top: 10px;
}

table.iceSelInpDate tbody tr td table{
  border-right: 1px solid #d9d9d9;
}

.iceSelInpDateIFrameFix, .iceIEIFrameFix {
  z-index: -1;
  position: absolute;
  display: block;
  filter: mask();
}

.iceIEIFrameFix {
  height: 0;
}

.iceSelInpDatePopup {
  min-width: 125px;
}

.iceSelInpDateInput {
  background: #FFF8DA;
  border: 1px solid #F7EFC4;
  color: #0E76BC;
  height: 16px;
  margin: 2px;
  width: 100px;
  font: 11px Calibri, Arial, Helvetica, sans-serif;
}

.iceSelInpDateOpenPopup {
  display: inline;
  text-decoration: none;
    background-image: url( "../xmlhttp/css/rime/css-images/cal_button.gif" );
  background-repeat: no-repeat;
  text-align: center;
  border: none;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.iceSelInpDateClosePopup {
  display: inline;
  text-decoration: none;
  background-image: url( "../resources/close.gif" ) no-repeat;
  text-align: center;
  border: none;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.iceSelInpDateMonthYear {
  background: #F5F5F5;
  font-weight: bold;
  text-align: center;
  color: #666;
  padding: 4px 1px 4px 1px;
}

.iceSelInpDateMoYrDropdown {
  background: #F5F5F5;
  font-weight: bold;
  color: #666;
}

.iceSelInpDateMonthYear img {
  border: none;
  margin-left: 3px;
  padding: 2px;
}

.iceSelInpDateMovePrev {
  text-decoration: none;
  display: inline;
  background: transparent url( "../xmlhttp/css/rime/css-images/cal_arrow_left.gif" ) no- repeat;
  text-align: center;
  border: none;
  width: 16px;
  height: 16px;
}

.iceSelInpDateMoveNext {
  text-decoration: none;
  display: inline;
  background: transparent url( "../xmlhttp/css/rime/css-images/cal_arrow_right.gif" ) no- repeat;
  text-align: center;
  border: none;
  width: 17px;
  height: 16px;
}

.iceSelInpDateWeek {
  font-weight: normal;
  color: #666;
  text-align: center;
  padding: 2px;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.iceSelInpDateDay {
  text-align: center;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 2px;
}

.iceSelInpDateCur {
  background: #faa620;
  text-align: center;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.iceSelInpDateCur .iceCmdLnk {
  background: none;
  border: none;
}

.iceSelInpDateCur .iceOutTxt {
  color: #FFFFFF;
}

.weekend {
  background: #e9e9e9;
}

.weekend .iceOutTxt {
  color: #666;
}

.weekend .iceCmdLnk {
  background: none;
  border: none;
}

.iceSelInpDateDay a {
  text-decoration: none;
  background: #FFFFFF;
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 0px;
  display: block;
}

.iceSelInpDateCur a {
  text-decoration: none;
  background: #2A6CC2;
  border: 1px solid #2A6CC2;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  padding: 0px;
  display: block;
}

.iceSelInpDateDay a:hover {
  text-decoration: none;
  color: #666;
}

.exampleBoxCol1 {
  padding: 7px;
}

.firstChildTitle .icePnlGrd {
  margin-top: 0px;
  border: 0px solid #d9d9d9;
  border-collapse: collapse;
}

.firstChildTitle .icePnlGrdRow1 {
  background: #f1f1f1;
  border-left: 0px solid #d9d9d9;
}

.firstChildTitle .icePnlGrdRow2 {
  background: #FFF;
  border-left: 0px solid #d9d9d9;
}

.firstChildTitle .icePnlGrdCol1 {
  font-weight: bold;
  padding: 0px;
  border-right: 0px solid #CCCCCC;
  border-bottom: 0px solid #CCCCCC;
  text-align: left;
}

.firstChildTitle .icePnlGrdCol2 {
  padding: 0px;
  border: 0px;
  text-align: left;
}

.iceDatTbl {
  background: #FFFFFF;
  border-collapse: collapse;
  border: none;
  margin: 10px 0 0 0;
}

.iceDatTbl table {
  border-collapse: collapse;
}

.iceDatTblColHdr, .iceDatTblColHdr1, .iceDatTblColHdr2, .iceDatTblColGrpHdrCol, .iceDatTblFtr {
  text-align: center;
  color: #484848;
  font-weight: bold;
  border: 1px solid #d9d9d9;
  background: url(table_header_bg.png) repeat-x;
  height: 20px;
}

.iceDatTblResHdlr {
  margin: 0px;
;
  padding: 0px;
  border: 0px;
  width: 2px;
  background: transparent;
}

.iceDatTblResBor {
  margin: 0px;
;
  padding: 0px;
  width: 2px;
  border-top: 1px solid #CCCCCC;
}

.iceDatTblBlkTd {
  border-bottom: 1px solid #CCCCCC;
}

.iceDatTblRow1 {
  background: #e5eef3;
  border-left: 1px solid #d9d9d9;
}

.iceDatTblRow2 {
  background: #FCFAFA;
  border-left: 1px solid #d9d9d9;
}

.iceDatTblCol, .iceDatTblCol1, .iceDatTblCol2 {
  color: #000000;
  padding: 0px 2px 0px 2px;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.iceDatTblHdr {
  width: 150px;
  background: #e8e8e6;
}

.iceDatTblFtr {
  background: none;
  border-top: 1px solid #d9d9d9;
}

.iceDatTblScrlSpr{
  background: url( '../xmlhttp/css/rime/css-images/table_col_header.gif' ) repeat-x bottom left;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

.iceDatTblScrlSprFtr{
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

.iceDatTblScrlSprFtr .iceDatTblFtr{
  border-bottom: none;
}

.iceDatTblScrlSpr .iceDatTblColHdr1, .iceDatTblScrlSpr .iceDatTblColHdr2 {
  border-left-style: none;
  border-top-style: none;
}

.iceDatTblActvSrtHdr{}

.iceDatTbl td span.iceOutTxt {
  overflow: hidden;
  display: block;
  padding: 2px 0px;
}

.iceDatPgrScrOut {
  background: transparent;
  margin: 10px;
}

.iceDatPgrScrBtn {
  background: transparent;
  padding: 2px;
}

.iceDatPgrTbl {
  background: transparent;
}

.iceDatPgrScrCol a, .iceDatPgrCol a {
  background: url(paging_btn.png) no-repeat;
  color: #545454;
  display: block;
  float: left;
  height: 19px;
  margin-right: 3px;
  padding-top: 2px;
  text-align: center;
  text-decoration: none;
  width: 18px;
}

.iceDatPgrScrCol a {
  background: url(paging_hover.png) no-repeat;
  color: #FFF;
  display: block;
  float: left;
  height: 19px;
  margin-right: 3px;
  padding-top: 2px;
  text-align: center;
  text-decoration: none;
  width: 18px;
}

.iceDatPgrCol a:hover {
  background: url(paging_hover.png) no-repeat;
  color: white;
  display: block;
  height: 19px;
  padding-top: 2px;
  text-align: center;
  width: 18px;
}

.iceDatPgrScrCol a:hover {
  color: #000000;
  text-decoration: none;
}

.iceCmdSrtHdrAsc, .iceCmdSrtHdrDesc{
  background: no-repeat center;
  width: 10px;
  height: 10px;
}

.iceCmdSrtHdrAsc{
  background: url('../xmlhttp/css/rime/css-images/column_sort_asc.gif');
}

.iceCmdSrtHdrDesc{
  background: url('../xmlhttp/css/rime/css-images/column_sort_desc.gif');
}

.icePnlTbOn {
  margin-right: 0;
}

.icePnlTbOn .MidMid td {
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

.icePnlTbOn .LftTop {
  background: url( '../xmlhttp/css/rime/css-images/Tab_LftTop.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

.icePnlTbOn .MidTop {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidTop.gif' ) repeat-x top left;
  border: none;
  padding: 0;
  text-align: center;
  height: 4px;
}

.icePnlTbOn .RtTop {
  background: url( '../xmlhttp/css/rime/css-images/Tab_RtTop.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

.icePnlTbOn .LftMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_LftMid.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOn .MidMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidMid.gif' ) repeat-x top left;
  border: none;
  padding: 0;
  text-align: center;
}

.icePnlTbOn .MidMid a {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidMid_bullet.gif' ) no-repeat top left;
  border: none;
  padding: 4px 8px 5px 28px;
  margin: 3px;
  text-decoration: none;
  font-weight: bold;
  color: #666;
  cursor: pointer;
  display: block;
}

.icePnlTbOn .RtMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_RtMid.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOn .LftBtm {
  background: #f7f7f7;
  padding: 0;
  text-align: center;
  height: 1px;
}

.icePnlTbOn .MidBtm {
  background: #f7f7f7;
  border: none;
  padding: 0;
  text-align: center;
  height: 1px;
}

.icePnlTbOn .RtBtm {
  background: #f7f7f7;
  padding: 0;
  text-align: center;
  height: 1px;
}

* html .icePnlTbOn .MidMid a {
  width: 1%;
}

.icePnlTbOff {
  margin-right: 0;
}

.icePnlTbOff .MidMid td {
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

.icePnlTbOff .LftTop {
  background: url( '../xmlhttp/css/rime/css-images/Tab_LftTop_off.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

.icePnlTbOff .MidTop {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidTop_off.gif' ) repeat-x top left;
  border: none;
  padding: 0;
  text-align: center;
  height: 4px;
}

.icePnlTbOff .RtTop {
  background: url( '../xmlhttp/css/rime/css-images/Tab_RtTop_off.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

.icePnlTbOff .LftMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_LftMid_off.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOff .MidMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidMid_off.gif' ) repeat-x top left;
  border: none;
  padding: 0;
  text-align: center;
}

.icePnlTbOff .MidMid a {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidMid_bullet_off.gif' ) no-repeat top left;
  border: none;
  padding: 4px 8px 5px 28px;
  margin: 3px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  display: block;
}

.icePnlTbOff .MidMid a:hover {
  font-weight: bold;
}

.icePnlTbOff .MidMid td:hover{
  color: #3581A5;
}

.icePnlTbOff .RtMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_RtMid_off.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOff .LftBtm {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 1px;
}

.icePnlTbOff .MidBtm {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  height: 1px;
}

.icePnlTbOff .RtBtm {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 1px;
}

* html .icePnlTbOff .MidMid a {
  width: 1%;
}

.icePnlTbOver {}

.icePnlTbOver .MidMid td {
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

.icePnlTbOver .LftTop {
  background: url( '../xmlhttp/css/rime/css-images/Tab_LftTop_off.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

.icePnlTbOver .MidTop {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidTop_off.gif' ) repeat-x top left;
  border: none;
  padding: 0;
  text-align: center;
  height: 4px;
}

.icePnlTbOver .RtTop {
  background: url( '../xmlhttp/css/rime/css-images/Tab_RtTop_off.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

.icePnlTbOver .LftMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_LftMid_off.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOver .MidMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidMid_off.gif' ) repeat-x top left;
  border: none;
  padding: 0;
  text-align: center;
}

.icePnlTbOver .MidMid a {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidMid_bullet_over.gif' ) no-repeat top left;
  border: none;
  padding: 4px 8px 5px 28px;
  margin: 3px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  display: block;
}

.icePnlTbOver .MidMid a:hover {
  font-weight: bold;
  color: #3581A5;
}

.icePnlTbOver .RtMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_RtMid_off.gif' ) no-repeat top left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOver .LftBtm {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 1px;
}

.icePnlTbOver .MidBtm {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  height: 1px;
}

.icePnlTbOver .RtBtm {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 1px;
}

* html .icePnlTbOver .MidMid a {
  width: 1%;
}

.icePnlTbSetSpcr {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.icePnlTbSet {
  width: 100%;
}

.icePnlTbSetCnt {
  background: #FFF url( '../xmlhttp/css/rime/css-images/contentContainer_bg.gif' ) repeat-x top left;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 16px;
}

.icePnlTbSetCntBtm {
  background: url( '../xmlhttp/css/rime/css-images/contentContainer_bg_up.gif' ) repeat-x top left;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 16px;
}

.icePnlTbOnBtm {
  margin-right: 0;
}

.icePnlTbOnBtm .MidMid td {
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.icePnlTbOnBtm .LftTop {
  background: #f7f7f7;
  padding: 0;
  text-align: center;
  height: 1px;
}

.icePnlTbOnBtm .MidTop {
  background: #f7f7f7;
  border: none;
  padding: 0;
  text-align: center;
  height: 1px;
}

.icePnlTbOnBtm .RtTop {
  background: #f7f7f7;
  padding: 0;
  text-align: center;
  height: 1px;
}

.icePnlTbOnBtm .LftMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_LftMid.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOnBtm .MidMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_MidMid.gif' ) repeat-x bottom left;
  border: none;
  padding: 0;
  text-align: center;
}

.icePnlTbOnBtm .MidMid a {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidMid_bullet.gif' ) no-repeat top left;
  border: none;
  padding: 3px 8px 2px 28px;
  margin: 3px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  display: block;
}

.icePnlTbOnBtm .RtMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_RtMid.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOnBtm .LftBtm {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_LftBtm.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

.icePnlTbOnBtm .MidBtm {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_MidBtm.gif' ) repeat-x bottom left;
  border: none;
  padding: 0;
  text-align: center;
  height: 4px;
}

.icePnlTbOnBtm .RtBtm {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_RtBtm.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

* html .icePnlTbOnBtm .MidMid a {
  width: 1%;
}

.icePnlTbOffBtm {
  margin-right: 0;
}

.icePnlTbOffBtm .MidMid td {
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

.icePnlTbOffBtm .LftTop {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 1px;
}

.icePnlTbOffBtm .MidTop {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  height: 1px;
}

.icePnlTbOffBtm .RtTop {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 1px;
}

.icePnlTbOffBtm .LftMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_LftMid_off.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOffBtm .MidMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_MidMid_off.gif' ) repeat-x bottom left;
  border: none;
  padding: 0;
  text-align: center;
}

.icePnlTbOffBtm .MidMid a {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidMid_bullet_off.gif' ) no-repeat top left;
  border: none;
  padding: 3px 8px 2px 28px;
  margin: 3px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  display: block;
}

.icePnlTbOffBtm .MidMid a:hover {
  font-weight: bold;
}

.icePnlTbOffBtm .RtMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_RtMid_off.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOffBtm .LftBtm {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_LftBtm_off.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

.icePnlTbOffBtm .MidBtm {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_MidBtm_off.gif' ) repeat-x bottom left;
  border: none;
  padding: 0;
  text-align: center;
  height: 4px;
}

.icePnlTbOffBtm .RtBtm {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_RtBtm_off.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

* html .icePnlTbOffBtm .MidMid a {
  width: 1%;
}

.icePnlTbOverBtm {}

.icePnlTbOverBtm .MidMid td {
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

.icePnlTbOverfBtm .LftTop {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 1px;
}

.icePnlTbOverBtm .MidTop {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  height: 1px;
}

.icePnlTbOverBtm .RtTop {
  background: #d9d9d9;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 1px;
}

.icePnlTbOverBtm .LftMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_LftMid_off.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOverBtm .MidMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_MidMid_off.gif' ) repeat-x bottom left;
  border: none;
  padding: 0;
  text-align: center;
}

.icePnlTbOverBtm .MidMid a {
  background: url( '../xmlhttp/css/rime/css-images/Tab_MidMid_bullet_over.gif' ) no-repeat top left;
  border: none;
  padding: 3px 8px 2px 28px;
  margin: 3px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  display: block;
}

.icePnlTbOverBtm .MidMid a:hover {
  font-weight: bold;
}

.icePnlTbOverBtm .RtMid {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_RtMid_off.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
}

.icePnlTbOverBtm .LftBtm {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_LftBtm_off.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

.icePnlTbOverBtm .MidBtm {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_MidBtm_off.gif' ) repeat-x bottom left;
  border: none;
  padding: 0;
  text-align: center;
  height: 4px;
}

.icePnlTbOverBtm .RtBtm {
  background: url( '../xmlhttp/css/rime/css-images/Tab_Btm_RtBtm_off.gif' ) no-repeat bottom left;
  border: none;
  padding: 0;
  text-align: center;
  width: 4px;
  height: 4px;
}

* html .icePnlTbOverBtm .MidMid a {}

.icePnlTbSetSpcrBtm {
  width: 100%;
  border-top: 1px solid #d9d9d9;
}

.icePnlTbSetBtm {
  padding: 10px;
  border-right: 1px solid #ABABAB;
  border-top: 1px solid #ABABAB;
  border-left: 1px solid #ABABAB;
  background: #FFFFFF;
}

.icePnlBrdrNorth {
  padding: 5px;
  background: #FFF;
  font-weight: bold;
  height: 60px;
  text-align: center;
}

.icePnlBrdrEast {
  width: 10%;
  background: #FFFFFF;
  padding: 5px;
  vertical-align: top;
}

.icePnlBrdrWest {
  width: 20%;
  background: #FFFFFF;
  vertical-align: top;
}

.icePnlBrdrCenter {
  width: 70%;
  background: #FFFFFF;
  padding: 5px;
  vertical-align: top;
}

.icePnlBrdrSouth {
  border-top: 1px solid #FFFFFF;
  color: #666666;
  padding: 4px;
}

.pageHdr {
  font-weight: bold;
  height: 80px;
  background: #CDCDCD;
  padding: 5px;
  text-align: center;
}

.icePnlBrdrStyle {
  background: #FFFFFF;
  border: 1px solid #ABABAB;
  margin: 10px;
  width: 97%;
}

.pageNavigation {
  width: 20%;
  background: #DEDEDE;
  padding: 5px;
  vertical-align: top;
}

.pageBody {
  width: 80%;
  background: #FFFFFF;
  padding: 5px;
  vertical-align: top;
}

.pageFtr {
  border-top: 1px solid #ABABAB;
  color: #666666;
  padding: 4px;
}

.navFormOutline {
  background: #DEDEDE;
  margin: 0px;
  width: 100%;
  padding: 0px;
}

.navItem, .navActvItem, .navOpenItem {
  color: #333333;
  text-decoration: none;
  background: #CDCDCD;
  width: 100%;
  border: 1px solid #CDCDCD;
  border-bottom: 1px solid #FFFFFF;
  padding: 3px 1px 3px 5px;
  display: block;
}

.navItem:hover, .navActvItem:hover, .navOpenItem:hover {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #2A6CC2;
}

.navOpenItem {
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
}

.navActvItem {
  width: 100%;
  background: #2A6CC2 url( ../xmlhttp/css/rime/css-images/cal_arrow_right.gif ) no-repeat center right;
  color: #FFFFFF;
}

.navSeparator {
  width: 100%;
  height: 1px;
  padding: 0px;
  margin: 0px;
  background: #CDCDCD;
  border-bottom: 1px solid #DEDEDE;
}

.iceOutProg {
  margin: 0;
}

.iceOutProgBg {
  width: 300px;
  height: 17px;
  border: 1px solid #d9d9d9;
  background: #FFF;
}

.iceOutProgFill {
  display: block;
  margin: 1px;
  height: 17px;
  background: url( '../xmlhttp/css/rime/css-images/ProgFill_bg.gif' ) repeat-x top left;
}

.iceOutProgTxt {
  color: #484848;
}

.iceSelInpTxtTxt {
  border: 1px solid #ABABAB;
  background: #FFFFFF;
  margin: 10px 0 0 2px;
  padding: 2px;
}

.iceSelInpTxtList {
  position: absolute;
  display: block;
  border-top: 1px solid #ABABAB;
  border-right: 1px solid #666666;
  border-left: 1px solid #ABABAB;
  border-bottom: 1px solid #333333;
}

.iceSelInpTxtRow {
  display: block;
  background: #FFFFFF;
  color: #333333;
  padding: 2px;
  padding-left: 10px;
  border-bottom: 1px solid #DEDEDE;
  position: relative;
}

.iceSelInpTxtSelRow {
  display: block;
  background: #4591A1;
  color: #FFFFFF;
  padding: 2px;
  padding-left: 10px;
  border-bottom: 1px solid #FFFFFF;
  position: relative;
}

.iceSelInpTxtSelRow span {
  color: #FFFFFF;
}

.iceSelInpTxtTxt-dis {
  font: .95em Arial, Helvetica, sans-serif;
  color: #ABABAB;
  border: 1px dotted #CCCCCC;
  cursor: default;
}

.iceInpFile {
  overflow: hidden;
}

.iceInpFileTxt {
  border: 1px solid #ABABAB;
  background: #FFFFFF;
  margin: 2px;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.tablebg {
  background: #EEF3FB;
  border: 1px solid #6392C6;
  width: 70%;
}

.oddRow {
  background: #FFFFFF;
}

.evenRow {
  background: #EEF3FB;
}

.barCol1 {
  width: 40%;
  text-align: left;
}

.barCol2 {
  width: 15%;
  text-align: left;
}

.barCol3 {
  width: 20%;
  text-align: left;
}

.barCol4 {
  width: 15%;
  text-align: right;
}

.barCol5 {
  width: 15%;
  text-align: left;
}

.iceTreeRow {
  white-space: nowrap;
  vertical-align: middle;
  padding: 0;
}

.iceTreeRow a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
}

.iceTreeRow a:hover {
  text-decoration: underline;
}

.iceTreeRow img {
  border: 0;
  vertical-align: middle;
  background: repeat-y;
  padding: 0;
}

.iceTreeRow > img{}

.iceTreeRow a img {
  background: repeat-y;
  border: 0;
  padding: 0;
}

.iceTreeRow * div {
  padding: 0;
  vertical-align: middle;
}

.iceMnuBar, .iceMnuBarVrt {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  background: #FCFCFC none;
}

.iceMnuBarItem, .iceMnuBarVrtItem {
  border: 0px solid #000000;
  float: right;
  white-space: nowrap;
  background: none;
}

.iceMnuBar {
  padding: 0;
  white-space: nowrap;
}

.iceMnuBarItem {
  float: left;
  padding: 0;
  white-space: nowrap;
}

.iceMnuBarItem a {
  background: none;
  border-right: 0px solid #FFFFFF;
  color: #333;
  display: block;
  float: none;
  height: 30;
  margin: 0;
  padding: 0px;
  text-decoration: none;
  width: 25px;
  font-stretch: semi-condensed;
  font: normal normal 8px "arial";
}

.iceMnuBarItem a:hover {
  background: none;
  color: #000;
  font-weight: bold;
  border: 5px;
}

.iceMnuBarItem hr {
  -moz-border-bottom-colors: #000;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-right: 0 none;
  border: 1px 0 0 solid none none #999999;
  height: 1px;
  margin-top: 3px;
  padding: 0;
  text-align: left;
  width: 100%;
}

.iceMnuBarSubMenu {
  background: #fff;
  border: 0px solid #999999;
  display: list-item;
  height: auto;
  padding: 1px;
  position: absolute;
  width: 100px;
  z-index: 1000;
}

.iceMnuItm {
  display: compact;
  height: 15px;
  padding: 1px;
  vertical-align: text-top;
  text-align: left;
  border-bottom: none!important ;
  border-bottom-style: none!important;
  border-bottom-color: none!important;
}

.iceMnuItm a {
  color: #333;
  text-decoration: none;
  text-align: left;
  text-shadow: 0px;
  white-space: nowrap;
  word-spacing: normal;
  vertical-align: middle;
}

.iceMnuItm a:hover {
  text-shadow: #FF33CC, 3px;
  text-decoration: blink;
  text-transform: none;
}

.iceMnuItm a:hover .iceOutTxt, .iceMnuItm a:hover .iceMnuItmLabel {
  color: #000;
  font: normal normal bold 10px Calibri, Arial, Helvetica, sans-serif;
}

.iceMnuItmLabel, .iceMnuBarItemLabel {
  display: inline;
  font: 10px Calibri, Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: #333;
  border-bottom: 1px solid #CCCCCC;
  cursor: default;
  background: transparent;
}

.iceMnuBarVrtItem a {}

.iceMnuBarItem a {
  border-right: 0 solid #FFFFFF;
  color: #333333;
  display: block;
  float: left;
  font-stretch: extra-expanded;
  font: normal normal 10px "arial";
  height: auto;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: auto;
}

.iceMnuBarItemImage{
  background: none!important;
  border: none!important;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 3.5px;
  margin-bottom: 0px;
  padding-right: 4px;
  padding-left: 2.5px;
}

.iceMnuPopVrtItemLabel {
  vertical-align: middle;
  color: #333333;
}

.iceMnuPopVrtItemImage {
  width: 19px;
  vertical-align: middle;
}

.iceMnuPopVrt {
  float: left;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 0px;
  height: 0px;
}

.iceMnuPopVrtTopSubMenu {
  padding: 1px;
  width: 160px;
  background: #FCFCFC;
  border: 1px solid #999999;
  position: absolute;
  font-size: 9px;
  height: auto;
  display: block;
}

.iceMnuPopVrtItem {
  width: 160px;
  display: block;
}

.iceMnuPopVrtItem a {
  height: auto;
  padding: 3px;
  color: #333333;
  font-size: 1.1em;
  margin-bottom: 1px;
  float: none;
  display: block;
  text-decoration: none;
  border: 0px solid #FFFFFF;
}

.iceMnuPopVrtItem a:hover {
  background: #4591A1;
  color: #4591A1;
  text-decoration: none;
}

.iceMnuPopVrtItem a:hover .iceMnuPopVrtItemLabel {
  color: #FFFFFF;
}

.iceMnuPopVrtSubMenu {
  padding: 1px;
  width: 160px;
  background: #EFEFEF;
  border-top: 1px solid #999999;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
  position: absolute;
  height: auto;
  display: block;
}

.iceMnuPopVrtSubMenuInd {
  display: inline;
  float: right;
  padding-top: 0px;
  padding-right: 1px;
}

.icePnlPop, .icePnlTlTip, .icePnlCnf {
  padding: 0px;
  z-index: 1000;
  background: #F5F5F5;
  border: 1px solid #d9d9d9;
  color: #666666;
}

.icePnlTlTipHdr{
  height: 2.0em;
  font-weight: bold;
  background: #FFF url( '../xmlhttp/css/rime/css-images/PnlHdr_bgslice.gif' ) repeat-x top left;
  border-bottom: 1px solid #d9d9d9;
}

.popUpHeader{
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background: url("btn_bg.png") repeat-x scroll 0 0 #222222;
  color: #FDFDFD !important;
  cursor: pointer;
  display: inline-table;
  height: 10%;
  left: -4px;
  margin: 3px;
  position: relative;
  text-align: left;
  text-decoration: none !important;
  top: -6px;
  width: 101%;
}

.icePnlCnfHdr{
  position: relative;
  left: -4px;
  top: -7px;
  width: 100.4%;
  background: #222 url(btn_bg.png) repeat-x;
  background: repeat-x;
  display: inline-table;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  text-align: center;
  border: none;
  height: 16px;
  margin: 3px;
}

.icePnlTlTipHdr .iceOutTxt {
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  font: 9px tahoma;
  color: #484848;
  font-weight: bold;
}

.icePnlPopBody, .icePnlTlTipBody{
  padding: 10px;
}

.icePnlPopFtr, .icePnlTlTipFtr {
  float: right;
  height: auto;
  background: #DDDDDD;
}

.popupTopTextDrag, .popupTopTextModal {
  margin: 2px 0 0 4px;
  display: inline;
  float: left;
}

.popupTopClose, .popupTopCloseModal {
  vertical-align: middle;
  margin: 4px;
  display: inline;
  float: right;
}

.popupContentText {
  display: block;
}

.iceOutProgIndetActv {
  margin: 1px;
  height: 17px;
  background: url( '../xmlhttp/css/rime/css-images/ProgFill_Indet_Bg_active.gif' ) repeat-x top left;
}

.iceOutProgIndetInactv {
  margin: 1px;
  height: 17px;
  background: url( '../xmlhttp/css/rime/css-images/ProgFill_Indet_Bg_inactive.gif' ) repeat-x top left;
}

.iceOutConStatInactv, .iceOutConStatActv, .iceOutConStatCaution, .iceOutConStatDisconnect {
  height: 33px;
  width: 33px;
  position: absolute;
  margin-left: -10px;
}

.iceOutConStat {
  margin: 10px;
  width: 25px;
  height: 25px;
  border: none;
  font-size: .5em;
}

.iceOutConStatInactv {
  background: url( '../xmlhttp/css/rime/css-images/connect_idle.gif' ) no-repeat center top;
}

.iceOutConStatActv {
  background: url( '../xmlhttp/css/rime/css-images/connect_active.gif' ) no-repeat center top;
}

.iceOutConStatCaution {
  background: url( '../xmlhttp/css/rime/css-images/connect_caution.gif' ) no-repeat center top;
}

.iceOutConStatDisconnect {
  background: url( '../xmlhttp/css/rime/css-images/connect_disconnected.gif' ) no-repeat center top;
}

.iceCmdBtn-dis {
  background: url(btn_hover.png);
  color: gray !important;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none!important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 16px;
  margin: 2px;
}

.iceCmdLnk-dis, .iceOutLnk-dis {
  color: #ABABAB;
  text-decoration: none;
  border-bottom: 0px solid #CCCCCC;
  cursor: default;
}

.iceOutTxt-dis, .iceOutLbl-dis {
  color: #ABABAB;
  text-decoration: none;
  border-bottom: 1px dotted #CCCCCC;
  cursor: default;
}

.iceInpTxt-dis, .iceInpSecrt-dis {
  color: #ABABAB;
  cursor: default;
  margin: 1px;
  padding: 1px;
  font: 9px tahoma;
  border: 1px dotted #CCCCCC;
}

.iceInpTxtArea-dis {
  font: .95em Arial, Helvetica, sans-serif;
  color: #ABABAB;
  border: 1px dotted #CCCCCC;
  cursor: default;
  margin: 2px;
  padding: 2px;
}

.iceSelMnyCb-dis {
  background: #CCCCCC;
  padding: 2px;
  margin: 2px;
  cursor: default;
  color: #CCCCCC;
  border: none;
}

.iceSelOneMnu-dis, .iceSelMnyLb-dis, .iceSelMnyMnu-dis, .iceSelOneLb-dis {
  color: #CCCCCC;
  padding: 2px;
  font: 9px Arial, Helvetica, sans-serif;
  cursor: default;
  border: none;
}

.iceSelOneRb-dis {
  background: #CCCCCC;
  padding: 2px;
  margin: 2px;
  cursor: default;
  color: #CCCCCC;
  border: none;
}

.iceInpFileTxt-dis {
  border: none;
  background: #FFFFFF;
  margin: 2px;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: #CCCCCC;
  cursor: default;
}

.iceInpFileBtn-dis {
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  margin: 2px;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: #CCCCCC;
  cursor: default;
}

.iceSubMenuRowLabel-dis {
  color: #ABABAB;
  text-decoration: none;
  cursor: default;
}

.iceSubMenuRow-dis {
  color: #ABABAB;
  text-decoration: none;
  cursor: default;
  padding: 0px;
  display: block;
  height: auto;
}

.iceSubMenuRow-dis a {
  color: #333333;
  text-decoration: none;
  cursor: default;
  display: block;
  padding: 3px;
}

.iceSubMenuRow-dis a:hover {
  color: #ABABAB;
  text-decoration: none;
  border-bottom: 1px dotted #CCCCCC;
  cursor: default;
}

.icePnlTbOff {}

.icePnlTbOff .LftTop-dis {
  background: transparent url( "../xmlhttp/css/rime/css-images/off-left-top-dis.gif" ) no- repeat bottom;
  text-align: center;
  padding-top: 1px;
  border: none;
  height: 4px;
}

.icePnlTbOff .MidTop-dis {
  background: #DEDEDE url( '../xmlhttp/css/rime/css-images/off-mid-top-dis.gif' ) repeat-x;
  text-align: center;
  padding-top: 1px;
  border: none;
}

.icePnlTbOff .RtTop-dis {
  background: transparent url( "../xmlhttp/css/rime/css-images/off-right-top-dis.gif" ) no- repeat bottom;
  text-align: center;
  padding-top: 1px;
  border: none;
}

.icePnlTbOff .LftMid-dis {
  background: #DEDEDE;
  text-align: center;
  padding-top: 15px;
  border: none;
}

.icePnlTbOff .MidMid-dis {
  background: #DEDEDE;
  text-align: center;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  white-space: nowrap;
  color: #ABABAB;
}

.icePnlTbOff .MidMid-dis a {
  text-decoration: none;
  color: #ABABAB;
  cursor: default;
}

.icePnlTbOff .RtMid-dis {
  background: #DEDEDE;
  text-align: center;
  padding-top: 15px;
  border: none;
}

.icePnlTbOff .LftBtm-dis {
  background: transparent url( "../xmlhttp/css/rime/css-images/off-left-bot.gif" ) no-repeat;
  border: none;
}

.icePnlTbOff .MidBtm-dis {
  background: transparent url( "../xmlhttp/css/rime/css-images/off-mid-bot.gif" ) repeat-x;
  border: none;
}

.icePnlTbOff .RtBtm-dis {
  background: transparent url( "../xmlhttp/css/rime/css-images/off-right-bot.gif" ) no- repeat;
  border: none;
}

.icePnlTbOn {}

.icePnlTbOn .LftTop-dis {
  background: transparent url( "../xmlhttp/css/rime/css-images/off-left-top-dis.gif" ) no- repeat bottom;
  text-align: center;
  padding-top: 1px;
  border: none;
  height: 4px;
}

.icePnlTbOn .MidTop-dis {
  background: #DEDEDE url( '../xmlhttp/css/rime/css-images/off-mid-top-dis.gif' ) repeat-x;
  text-align: center;
  padding-top: 1px;
  border: none;
}

.icePnlTbOn .RtTop-dis {
  background: transparent url( "../xmlhttp/css/rime/css-images/off-right-top-dis.gif" ) no- repeat bottom;
  text-align: center;
  padding-top: 1px;
  border: none;
}

.icePnlTbOn .LftMid-dis {
  background: #DEDEDE;
  text-align: center;
  padding-top: 15px;
  border: none;
}

.icePnlTbOn .MidMid-dis {
  background: #DEDEDE;
  text-align: center;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  white-space: nowrap;
  color: #ABABAB;
}

.icePnlTbOn .MidMid-dis a {
  text-decoration: none;
  color: #ABABAB;
  cursor: default;
}

.icePnlTbOn .RtMid-dis {
  background: #DEDEDE;
  text-align: center;
  padding-top: 15px;
  border: none;
}

.icePnlTbOn .LftBtm-dis {
  background: transparent url( "../xmlhttp/css/rime/css-images/off-left-bot.gif" ) no-repeat;
  border: none;
}

.icePnlTbOn .MidBtm-dis {
  background: transparent url( "../xmlhttp/css/rime/css-images/off-mid-bot.gif" ) repeat-x;
  border: none;
}

.icePnlTbOn .RtBtm-dis {
  background: transparent url( "../xmlhttp/css/rime/css-images/off-right-bot.gif" ) no- repeat;
  border: none;
}

.sclBtnCell-dis {
  background: #FFFFFF;
  padding: 2px;
}

.sclBtnCell-dis img {
  cursor: default;
}

.icePaginatorTbl-dis {
  background: #FFFFFF;
}

.icePaginatorAtvCol-dis a, .icePaginatorCol-dis a {
  text-decoration: none;
  font-weight: normal;
  background: #FFFFFF;
  color: #ABABAB;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #FFFFFF;
  cursor: default;
}

.icePaginatorAtvCol-dis a {
  color: #ABABAB;
  cursor: default;
}

.icePaginatorCol-dis a:hover {}

.iceSelInpDate-dis {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
}

.iceSelInpDateMonthYear-dis {
  background: #EFEFEF;
  font-weight: normal;
  text-align: center;
  color: #999999;
  padding: 4px 1px 4px 1px;
}

.iceSelInpDateMoYrDropdown-dis {
  background: #EFEFEF;
  color: #999999;
}

.iceSelInpDateMonthYear-dis img {
  cursor: default;
}

.iceSelInpDateWeek-dis {
  font-weight: normal;
  color: #999999;
  background: #EFEFEF;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #ABABAB;
}

.iceSelInpDateDay-dis, .iceSelInpDateCur-dis {
  padding: 3px;
  text-align: center;
}

.iceSelInpDateDay-dis a {
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #ABABAB;
  width: 100%;
  height: 100%;
  padding: 0px;
  display: block;
  cursor: default;
}

.iceSelInpDateCur-dis a {
  text-decoration: none;
  background: #ABABAB;
  border: 1px solid #ABABAB;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  padding: 0px;
  display: block;
  cursor: default;
}

.iceCmdSrtHdr {
  text-decoration: none;
  color: #0778A0;
  width: 100%;
  height: 100%;
  padding: 0px;
  display: block;
  margin-left: 15px;
}

.iceCmdSrtHdr-dis {
  text-decoration: none;
  color: #999999;
  width: 100%;
  height: 100%;
  padding: 0px;
  display: block;
  cursor: default;
}

* html .iceCmdSrtHdr {
  height: 1%;
}

.iceFrm {}

.iceGphImg {}

.iceMsg {}

.iceMsgFatal {}

.iceMsgError {}

.iceMsgWarn {}

.iceMsgInfo {}

.iceMsgs {}

.iceMsgsFatal {}

.iceMsgsError {}

.iceMsgsWarn {}

.iceMsgsInfo {}

.icePnlGrd {
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.icePnlGrdHdr {}

.icePnlGrdFtr {}

.icePnlGrdRow1 {
}

.icePnlGrdRow2 {}

.icePnlGrdCol1 {
}

.icePnlGrdCol2 {}

.icePnlGrp {}

.iceOutFrmt {}

.iceTree {}

.iceTreeRow {}

.icePnlSrs {}

.icePnlPos {}

.icePnlPos-dis {}

.icePnlStk {}

.icePnlStkRow {}

.icePnlStkCol {}

.icePnlTbSetHdrIconLft {
  display: none;
  width: 0;
  height: 0;
}

.icePnlTbSetHdrIconRt {
  display: none;
  width: 0;
  height: 0;
}

.icePnlTbSetHdrLbl {
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
}

.iceRowSelSelected {
  background: url( 'selected.png' ) repeat;
}

.iceRowSelSelected .iceOutTxt{
  color: #578E93;
}

.iceRowSelSelected .iceOutTxt {
  color: #428F99;
}

.iceRowSelSelectedMouseOver {
  background: url( 'selected.png' ) repeat;
}

.iceRowSelSelectedMouseOver .iceOutTxt {
  color: #316AC5;
}

.iceRowSelMouseOver {
  color: #316AC5;
  background: #8b8b8b;
}

.iceRowSelMouseOver .iceOutTxt {
  color: #316AC5;
}

.iceOutChrt {}

.icePnlClpsbl {
  border: 1px solid #d9d9d9;
}

.icePnlClpsblCnt .icePnlClpsbl {
  border: none;
}

.icePnlClpsblHdr {
  font: 9px tahoma;
  color: #484848;
  padding: 6px 0 0 8px;
  font-weight: bold;
  height: 16px;
  background: #FFF url( '../xmlhttp/css/rime/css-images/PnlHdr_bgslice.gif' ) repeat-x top left;
  border-bottom: 1px solid #d9d9d9;
}

.icePnlClpsblHdr .iceCmdLnk, .icePnlClpsblColpsdHdr .iceCmdLnk {
  padding-left: 22px;
}

.icePnlClpsblHdr .icePnlGrp a {
  font-weight: bold;
}

.icePnlClpsblCnt {
  font: 9px/14px tahoma;
  color: #494949;
  background: #f5f5f5;
  padding: 4px 4px 4px 9px;
  border-bottom: none;
}

.icePnlClpsblCnt .icePnlClpsblHdr {
  font: 9px tahoma;
  color: #484848;
  padding: 0 0 0 0;
  font-weight: bold;
  height: 16px;
  border: none;
  margin-top: 8px;
}

.icePnlClpsblCnt .icePnlClpsblHdr .iceOutTxt {
  background: none;
}

.icePnlClpsblCnt .icePnlClpsblColpsdHdr {
  font: 9px tahoma;
  color: #484848;
  padding: 0 0 0 0;
  font-weight: bold;
  height: 16px;
  border: none;
  margin-top: 8px;
}

.icePnlClpsblCnt .icePnlClpsblColpsdHdr .iceOutTxt{
  background: none;
}

.icePnlClpsblCnt .icePnlClpsblCnt {
  border-left: none;
  border-right: none;
  padding: 0 0 0 10px;
}

.icePnlClpsblColpsd {
  border: 1px solid #d9d9d9;
}

.icePnlClpsblCnt .icePnlClpsblColpsd {
  border: none;
}

.icePnlClpsblColpsdHdr {
  font: 9px tahoma;
  color: #484848;
  padding: 6px 0 0 8px;
  font-weight: bold;
  height: 16px;
  background: #FFF url( '../xmlhttp/css/rime/css-images/PnlHdr_bgslice.gif' ) repeat-x top left;
  border-bottom: none;
}

.icePnlClpsblColpsdHdr .iceOutTxt, .icePnlClpsblHdr .iceOutTxt {
  padding-left: 22px;
}

.icePnlClpsblColpsdCnt {
  border: none;
}

.icePnlClpsblHdr, .icePnlClpsblHdr-dis, .icePnlClpsblColpsdHdr, .icePnlClpsblColpsdHdr-dis {
  cursor: pointer;
}

.icePnlClpsblHdr div, .icePnlClpsblHdr-dis div, .icePnlClpsblColpsdHdr div, .icePnlClpsblColpsdHdr-dis div {
  background: no-repeat left top;
  height: 18px;
}

.icePnlClpsblHdr div, .icePnlClpsblHdr-dis div {
  background: url( '../xmlhttp/css/rime/css-images/PnlHdr_down.gif' ) no-repeat top left;
  padding: 2px 0 0 5px;
  margin: -2px 0 0 -3px;
}

.icePnlClpsblColpsdHdr div, .icePnlClpsblColpsdHdr-dis div {
  background: url( '../xmlhttp/css/rime/css-images/PnlHdr_collapsed.gif' ) no-repeat top left;
  padding: 2px 0 0 5px;
  margin: -2px 0 0 -3px;
}

.iceGmp {}

.iceGmpMapTd {
  vertical-align: top;
}

.iceGmpMapTd div.gmap {
  width: 600px;
  height: 400px;
}

.iceInpRchTxt {
  width: 100%;
}

.icePnlDvr, .icePnlDvrHor {
  width: 800px;
  height: 400px;
}

.icePnlDvrCnt, .icePnlDvrHorCnt {
  border-bottom: 1px dashed #ABABAB;
  height: 100%;
}

.icePnlDvrFst, .icePnlDvrSnd {
  height: 100%;
  display: block;
  float: left;
  overflow: auto;
}

.icePnlDvrSpt {
  width: 2px;
  height: 100%;
  display: inline;
  background: #EFEFEF;
  border-left: 1px solid #ABABAB;
  border-right: 1px solid #ABABAB;
  float: left;
  cursor: e-resize;
}

.OTMSTextBox{
  color: #0E76BC;
  height: 16px;
  background: white;
  border: 1px solid #E5E5E5;
  text-align: left;
  font: 11px Calibri, Arial, Helvetica, sans-serif;
}

.OTMSTextBox-dis{
  color: #0E76BC;
  height: 16px;
  font: inherit Calibri, Arial, Helvetica, sans-serif;
  background: transparent;
  border: 0px none transparent;
  text-align: left;
}

.icePnlDvrHorFst, .icePnlDvrHorSnd {
  width: 100%;
  display: block;
  overflow: auto;
  display: block;
}

.icePnlDvrHorSpt {
  width: 100%;
  height: 0px;
  cursor: n-resize;
}

.iceSelMnyCb input, .iceSelOneRb input, .iceSelBoolChkbx {
  margin: 0 5px 2px 2px;
  padding: 2px;
  vertical-align: middle;
}

.icePnlCnfBtns{
  padding: 5px 10px 10px 10px;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
}

.icePnlCnfBtns input {
  margin: 0 20px 0 20px;
  background: #222 url(btn_bg.png) repeat-x;
  background: repeat-x;
  padding-left: 15px;
  padding-right: 15px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 16px;
  margin: 3px;
}

.icePnlCnfBody {
  padding: 10px 10px 5px 10px;
  font-size: 1em;
  font-weight: normal;
}

.icePnlCnfBtns input:hover {
  background: url(btn_hover.png);
  color: #0E76BC !important;
}

.add_btn, .add_btn-dis
{
  background: transparent!important;
  margin: 0px;
  border: 0px!important;
  padding: 0px;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 43px!important;
  height:53px!important;
  padding-left: 5px!important;
  padding-right:5px!important;
}
.add_btn_icon{
    background-image: url(add_btn.png)!important;
    width: 43px!important;
  height:53px!important;
}

.add_btn:hover{
  background: no-repeat 0 0;
  display: inline-block!important;
}

.new_row_btn, .new_row_btn-dis
{
  background: transparent!important;
  margin: 0px;
  border: 0px!important;
  padding: 0px;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 43px!important;
  height:53px!important;
  padding-left: 5px!important;
  padding-right:5px!important;
}
.new_row_btn_icon{
    background-image: url(new_row_btn.png)!important;
    width: 43px!important;
  height:53px!important;
}

.new_row_btn:hover {
  background: no-repeat 0 0;
  display: inline-block!important;
}

.save_btn {
    background-image: url(b3.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width: 30px!important;
    height:30px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
}

.save_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.ui-state-default .save_btn_icon{
    margin: 2px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-position: 0px 0px!important;
    background-color: transparent !important;
    width: 52px!important;
    height:43px!important;
    left:  -2px!important;
    top:  -3px!important;
    z-index: 1005;
    box-shadow: none;
    border-radius: 0px;
}

.save_btn:hover{
  background: no-repeat 0 0;
  display: inline-block!important;
}

.save_exit_btn, .save_exit_btn-dis
{
  background: transparent!important;
  margin: 0px;
  border: 0px!important;
  padding: 0px;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 43px!important;
  height:53px!important;
  padding-left: 5px!important;
  padding-right:5px!important;
}
.save_exit_btn_icon{
    background-image:url(save_exit_btn.png)!important;
    width: 43px!important;
   height:53px!important;
}

.save_exit_btn:hover {
  background: no-repeat 0 0;
  display: inline-block!important;
}

.active_btn, .active_btn-dis {
  background: none!important;
  border: none!important;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.active_btn:hover {
  background: no-repeat 0 0;
  display: inline-block!important;
}

.action_btn, .action_btn-dis {
  background: none!important;
  border: none!important;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.action_btn:hover {
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
}

.delete_btn, .delete_btn-dis {
  background: none!important;
  border: none!important;
  background: no-repeat 0 0;
  width: 30px!important;
  height: 30px!important;
  display: inline-block!important;
}

.delete_btn:hover {
  background: no-repeat 0 0;
  display: inline-block!important;
}

.Inputs_btn, .Inputs_btn-dis {
  background: none!important;
  border: none!important;
  background: no-repeat 0 0;
  width: 30px!important;
  height: 30px!important;
  display: inline-block!important;
}

.Inputs_btn:hover{
  background: no-repeat 0 0;
  display: inline-block!important;
}

.balloonPanelStyleL{
  /*background: URL(balloon.png) no-repeat;*/
  width: 550px;
  height: 225px;
  display: block;
  left: -43px;
  position: absolute;
  z-index: 1000;
  display: none;
}

.balloonActionsPStyleL{
  width: 222px;
  height: 150px;
  left: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 60px;
  text-align: left;
}

.balloonBriefInfoPStyleL{
  height: 170px;
  left: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 45px;
  vertical-align: top;
  width: 280px;
}

.balloon_title{
  color: #65642F;
  font-size: 16px;
  font-weight: bold;
  left: 60px;
  position: absolute;
  top: 30px;
  z-index: 10;
}

.balloon_close{
  left: 510px;
  position: inherit;
  top: 29px;
}

.header_Menu_Style{
  height: 25px!important;
  position: absolute!important;
  right: 5px!important;
  top: 3px!important;
  width: 25px!important;
  padding: 0px!important;
  display: none!important;
}

.header_Menu_Style .iceMnuBarVrtItem a, .header_Menu_Style .iceMnuBarVrtItem span, .header_Menu_Style .iceMnuBarVrtItem a:hover{
  padding: 0px!important;
}
.actionStyle{
      background: transparent!important;
  margin: 0px;
  border: 0px!important;
  padding: 0px;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 43px!important;
  height:53px!important;
  padding-left: 5px!important;
  padding-right:5px!important;
}
.actionicon{
    background-image: url(actionicon.png)!important;
    width: 43px!important;
  height:53px!important;
}
.activeMenuItem{
      background: transparent!important;
  margin: 0px;
  border: 0px!important;
  padding: 0px;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 43px!important;
  height:53px!important;
  padding-left: 5px!important;
  padding-right:5px!important;
}
.activeMenuItemIcon{
    background-image: url(active.png)!important;
    width: 43px!important;
  height:53px!important;
}
.moreActionStyle{
    background-image: url(b6.png)!important;
    /* height: 25px!important;
    position: absolute!important;*/
    top: 4px!important;
    width: 25px!important;
    padding: 0px!important;
}
.moreActionStyleMenuItem{
    background-image: url(b6.png)!important;
}

.moreActionStyle .iceMnuBarVrtItem a, .moreActionStyle .iceMnuBarVrtItem span, .moreActionStyle .iceMnuBarVrtItem a:hover{
  padding: 0px!important;
}

.headerAsterisk{
  font-size: 12px;
  font-weight: bold;
  color: red;
  vertical-align: top;
  position: relative;
}

.tableheaderTxt{
  font-size: 12px;
  font-weight: bold;
  color: #000;
  white-space: nowrap;
}

.buttonsGeneralPanel{
  width: 100%;
  position: inherit;
}

.buttonsBGPanel{
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.buttonTitleLinkPanel{
  background: url("butTtlBckgrnd.png");
  border-radius: 5px 5px 5px 5px;
  height: 25px;
  position: absolute;
  z-index: 1000;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.buttonTitleLink{
  color: white;
  float: left;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  top: 10px;
  vertical-align: super;
  white-space: nowrap;
  z-index: 1001;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 1.25);
}

.balloonButton{
    /*margin-left: 2px;*/
    width: 23px;
    height: 18px;
    background-image: url('icon.png')!important;
    background-repeat:  no-repeat;
    margin-right: 2px;
}

.balloonButton:hover {
  width: 23px;
  height: 18px;
  margin-left: 0px;
  margin-right: 0px;
}

.inlineErrorMsgTitle{
  color: red;
  font-size: 11px;
}

.inlineErrorMsgTitleError{
  color: red;
  font-size: 11px;
}

.usrMsgFrame{
  border-radius: 0px 0px 4px 4px;
  background: #FFF8DA;
  width: 100%;
}

.usrMsgFrame .icePnlClpsblCnt{
  background: transparent;
  border-radius: 0px 0px 4px 4px;
}

.usrMsgFrame .icePnlClpsblHdr{
  background: none;
}

.usrMsgFrame .icePnlClpsblColpsdHdr{
  background: none;
}

.usrMsgFrameColpsdHdr{
  border: none;
  background: none;
}

.usrMsgFrame .icePnlClpsblColpsdHdr-dis{
  background: none;
}

.usrMsgFrame .icePnlClpsblColpsd{}

.usrMsgFrame .icePnlClpsblHdr div{
  background: url('usrMsgCls.png') no-repeat;
}

.usrMsgFrameColpsd .icePnlClpsblColpsdHdr div{
  background: url( 'usrMsgOpn.png' ) no-repeat;
}

.usrMsgFrame .icePnlClpsblColpsdHdr-dis div{
  background: none;
}

.usrMsgFrame .icePnlClpsblColpsdHdr div{
  background: none;
}

.usrMsgFrameColpsd{
  background: #FFF8DA;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 5px;
}

.usrMsgTitle{
  font-weight: bold;
  font-size: 10px;
}

.usrMsgHeader{
  font-weight: bold;
  font-size: 11px;
  position: relative;
  left: 20px;
}

.usrMsgText{
  font-size: 10px;
}

.successMsg{
  background: #CAFFD9;
}

.errorMsg{
  background: #FECCCC;
}

.warningMsg{
  background: #FDFECC;
}

.userMsgMessagesTable{
  margin: 0px;
  border-collapse: separate;
  background: transparent;
}

.userMsgMessagesTable .iceDatTblCol,.userMsgMessagesTable .iceDatTblCol1,.userMsgMessagesTable .iceDatTblCol2{
  border: none;
  padding: 0 3px;
}

.userMsgMessagesTable .iceDatTblRow,.userMsgMessagesTable .iceDatTblRow1,.userMsgMessagesTable .iceDatTblRow2{
  background: transparent;
}

.FirstColumn{
  background: #A6C6F5;
}

.userMsgInnerTbl{
  width: 100%;
}

.filterCollapsible{
  border-radius: 4px 4px 4px 4px;
  width: 100%;
}

.filterCollapsible .icePnlClpsblCnt{
  background: transparent;
  border-radius: 4px 4px 4px 4px;
}

.filterCollapsible .icePnlClpsblHdr{
  border: none;
  background: none;
}

.filterCollapsible .icePnlClpsblColpsdHdr{
  background: none;
}

.filterCollapsibleColpsdHdr{
  border: none;
  background: none;
}

.filterCollapsible .icePnlClpsblColpsdHdr-dis{
  background: none;
}

.filterCollapsible .icePnlClpsblColpsd{}

.filterCollapsible .icePnlClpsblHdr div{
  background: url( 'tree_nav_top_close_no_siblings.gif' ) no-repeat;
  background: 0 -3px;
}

.filterCollapsibleColpsd .icePnlClpsblColpsdHdr div{
  background: url( 'tree_nav_top_open_no_siblings.gif' ) no-repeat;
  background: 0 -3px;
}

.filterCollapsible .icePnlClpsblColpsdHdr-dis div{
  background: none;
}

.filterCollapsible .icePnlClpsblColpsdHdr div{
  background: none;
}

.filterCollapsibleColpsd{
  width: 100%;
  border-radius: 4px 4px 4px 4px;
}

.filterLabel{
  font-weight: bold;
  position: relative;
  left: 20px;
  cursor: pointer;
}

.labelContainer{
  float: right;
}

.button_grid{
  padding: 0px!important;
  margin:  0px!important;
  border:  0px!important;
}

.btnPanel_layout{
  position: relative;
}

.menuItem{
  background: transparent;
  height: 23px;
  border-bottom: 1px, solid;
}

.wizard_next{
  background-image: url(wizard_next_btn.png);
   background-repeat: no-repeat!important;
  display: inline-block;
  padding: 0px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 43px!important;
  width:55px!important;
 margin: 10px 10px 0px 10px;
}

.wizard_next:hover{
  background-image: url(wizard_next_btn.png);
   background-repeat: no-repeat!important;
  height: 43px!important;
  width:55px!important;

}

.wizard_next-dis{
  background-image: url(wizard_next_dis_btn.png);
   background-repeat: no-repeat!important;
  display: inline-block;
   padding-right: 10px;
  padding-right: 10px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 32px!important;
  width:32px!important;
  margin: 20px;
  background-repeat: no-repeat;
}

.wizard_back{
  background-image: url(wizard_back_btn.png);
   background-repeat: no-repeat!important;
  display: inline-block;
  padding: 0px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 32px!important;
  width:32px!important;
  margin: 10px 10px 0px 10px;
}

.wizard_back:hover{
  background-image: url(wizard_back_btn.png);
   background-repeat: no-repeat!important;
  height: 43px!important;
  width:55px!important;
}

.wizard_back-dis{
  background-image: url(wizard_back_dis_btn.png);
   background-repeat: no-repeat!important;
  display: inline-block;
   padding-right: 10px;
  padding-right: 10px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 32px!important;
  width:32px!important;
  margin: 10px 10px 0px 10px;
}

.wizard_skip{
  background-image: url(wizard_skip_btn.png);
  background-repeat: no-repeat!important;
  display: inline-block;
  padding: 0px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 43px!important;
  width:55px!important;
  margin: 10px 10px 0px 10px;
}

.wizard_skip:hover{
  background-image: url(wizard_skip_btn.png);
   background-repeat: no-repeat!important;
  height: 43px!important;
  width:55px!important;
}

.wizard_skip-dis{
  background-image: url(wizard_skip_dis_btn.png);
  background-repeat: no-repeat!important;
  display: inline-block;
   padding-right: 10px;
  padding-right: 10px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 32px!important;
  width:32px!important;
  margin: 10px 10px 0px 10px;
}

.wizard_exit{
  background-image: url(wizard_exit_btn.png);
  background-repeat: no-repeat!important;
  display: inline-block;
  padding: 0px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 43px!important;
  width:55px!important;
  margin: 10px 10px 0px 10px;
}

.wizard_exit:hover{
  background-image: url(wizard_exit_btn.png);
   background-repeat: no-repeat!important;
  height: 43px!important;
  width:55px!important;
}

.wizard_exit-dis{
  background-image: url(wizard_exit_dis_btn.png);
  background-repeat: no-repeat!important;
  display: inline-block;
  padding-right: 10px;
  padding-right: 10px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 32px!important;
  width:32px!important;
  margin: 10px 10px 0px 10px;
}
.lookUpButton_btn{
  background-image: url(lookup_btn.png);
  background-repeat: no-repeat!important;
  display: inline-block;
  padding: 0px;

  text-decoration: none!important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  text-align: center;
  color:#FFFFFF!important;
  border: none;
  height: 20px!important;
  width:20px!important;
  margin: 0;

}
.lookUpButton_dis_btn{
  background-image: url(lookup_dis_btn.png);
  background-repeat: no-repeat!important;
  display: inline-block;
  padding: 0px;
  color: #fdfdfd!important;
  text-decoration: none!important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 20px!important;
  width:20px!important;
  margin: 10px 10px 0px 10px;
}
.pick_btn, .pick_btn-dis {
  background: none!important;
  border: none!important;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pick_btn:hover{
  background: no-repeat 0 0;
  display: inline-block!important;
}
.cancel_btn, .cancel_btn-dis {
  background: none!important;
  border: none!important;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cancel_btn:hover{
  background: no-repeat 0 0;
  display: inline-block!important;
}
.reset_btn, .reset_btn-dis {
  background: none!important;
  border: none!important;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.reset_btn:hover{
  background: no-repeat 0 0;
  display: inline-block!important;
}

.upload_btn, .upload_btn-dis {
  background: none!important;
  border: none!important;
  background: no-repeat 0 0;
  display: inline-block!important;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 52px;
  height: 43px;
}

.upload_btn:hover{
  background: no-repeat 0 0;
  display: inline-block!important;
   width: 52px;
  height: 43px;
}

potlet{
background: none repeat scroll 0 0 #FAFAED;
}
.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;
}

.ctrlTable > tbody > tr{
    border: hidden;
}
.ctrlTable > tbody > tr > td{
    border: hidden;
}
 .lookUpButton_btn {
    background-image: url("lookup_btn.png");
    background-repeat: no-repeat !important;
    border: medium none;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    height: 20px !important;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    width: 20px !important;
}
.ui-selectonemenu .ui-selectonemenu-label{
    width: 100%!important;
}
.ui-icon-check{
    display: none!important;
}
.ui-window-link-icon{
    background-image: url(new_window.png)!important;
    width:15px; height:15px;
}