.OTMSTextBox-dis {
    color: rgb(14, 118, 188);
width: 9px;
background: none repeat scroll 0% 0% transparent;
border: 0px none transparent;
text-align: center;
}

.iceInpTxt-dis, .iceInpSecrt-dis {
cursor: default;
margin: 0px;
padding: 0px;
font: 9px tahoma;
width: 100%;
}

.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
    border-color: inherit;
    margin: 0px;
    overflow: hidden;
    border-width: 1px;
border-style: none;
border-color: inherit;
padding:0px ;

}

.ui-datatable th, .ui-datatable tfoot td {
    text-align: center;
    white-space: nowrap;
    padding: 2px 5px;
    padding : 0px;
    overflow: hidden;
}

.ui-datepicker-year{
display:none;
}

.absentClass td{
background-color:#FF0033;
}

.offdayClass td{
background-color:#0099FF;
}

.workingClass td{
background-color:#C8C8C8;
}

.vacationClass td{
background-color:#FFFF66;
}

.holidayClass td{
background-color:#FF9933;
}

.naClass td{
background-color:#E8E8E8 ;
}

.absentClass{
    background-color:#FF0033;    
}

.offdayClass{
background-color:#0099FF;
}

.workingClass{
background-color:#C8C8C8;
}

.vacationClass{
background-color:#FFFF66;
}

.holidayClass{
background-color:#FF9933;
}

.naClass td{
background-color:#E8E8E8 ;
}

.naClass{
background-color:#E8E8E8 ;
}

.ui-dt-c{
    padding: 2px 5px !important;
}

.columnS > div{
    padding: 2px 5px !important;
}

.labelTxt{
    font-size: 12px;
    font-weight: normal;
    color: #434343;
    white-space: nowrap;
}

.ui-selectonemenu .ui-selectonemenu-label {
    float: left;
    width: 80px !important;
    text-align:left;
}

.loading-icon{
    top: 0px!important;
    left: 0px!important;
    position: relative!important;
    height: 27px!important;
    width: 27px!important;
    background-image: url(connect_idle.gif)!important;
    background-repeat: no-repeat!important;
    background-size: cover;
}


.loading-active{
    top: 0px!important;
    /*left: -1px!important;*/ 
    position: relative!important;
    height: 24px!important;
    width: 24px!important;
     background-size: cover;
    background-image: url(connect_active.gif);
    background-repeat: no-repeat!important;
    display: block!important;
    background-color: transparent !important;
}
