/*.jqplot-xaxis-tick {
    transform: rotate(-45deg);
    text-align: center !important;
    vertical-align: top;
}
.jqplot-xaxis-label {
    position: absolute;
    font-size: 11pt;
    margin-top: 10px;  
    bottom: -30px;
}
*/
.jqplot-xaxis-label {
    bottom: -155px!important;
    font-size: 11pt;
    position: absolute;
}
.jqplot-xaxis{
    bottom: 0;
    left: 0;
    position: absolute;
    height: auto !important;
}
.jqplot-xaxis-tick {
    float: inherit !important;
    top: 60px;
    transform: rotate(-90deg);
    vertical-align: baseline;
}