.ui-helper-hidden{
  display: none;
}

.ui-helper-hidden-accessible{
  position:absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.ui-helper-reset{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ui-helper-clearfix{
  display: inline-block;
}

* html .ui-helper-clearfix{
  height: 1%;
}

.ui-helper-clearfix{
  display: block;
}

.ui-helper-zfix{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter:Alpha(Opacity=0);
}

.ui-state-disabled{
  cursor:default !important;
}

.ui-icon{
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background: no-repeat;
}

.ui-widget-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-resizable{
  position: relative;
}

.ui-resizable-handle{
  position: absolute;
  font-size: 0.1px;
  display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle{
  display: none;
}

.ui-resizable-n{
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

.ui-resizable-s{
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.ui-resizable-e{
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-w{
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-se{
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

.ui-resizable-sw{
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

.ui-resizable-nw{
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

.ui-resizable-ne{
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

.ui-selectable-helper{
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

.ui-slider{
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle{
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

.ui-slider .ui-slider-range{
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: 0 0;
}

.ui-slider-horizontal{
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle{
  top: -.3em;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range{
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min{
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max{
  right: 0;
}

.ui-slider-vertical{
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle{
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range{
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min{
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max{
  top: 0;
}

.ui-datepicker{
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

.ui-datepicker .ui-datepicker-header{
  position: relative;
  padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover{
  top: 1px;
}

.ui-datepicker .ui-datepicker-prev{
  left: 2px;
}

.ui-datepicker .ui-datepicker-next{
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover{
  left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover{
  right: 1px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title{
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-title select{
  font-size: 1em;
  margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year{
  width: 100%;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
  width: 49%;
}

.ui-datepicker table{
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

.ui-datepicker th{
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.ui-datepicker td{
  border: 0;
  padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a{
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane{
  background: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button{
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{
  float: left;
}

.ui-datepicker .ui-datepicker-multi{
  width: auto;
}

.ui-datepicker-multi .ui-datepicker-group{
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group table{
  width: 95%;
  margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group{
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group{
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group{
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{
  border-left: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{
  border-left: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane{
  clear: left;
}

.ui-datepicker-row-break{
  clear: both;
  width: 100%;
  font-size: 0em;
}

.ui-datepicker-rtl{
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev{
  right: 2px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next{
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover{
  right: 1px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover{
  left: 1px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane{
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button{
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group{
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{
  border-right-width: 0;
  border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{
  border-right-width: 0;
  border-left-width: 1px;
}

.ui-datepicker-cover{
  display: none;
  display: block;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -4px;
  left: -4px;
  width: 200px;
  height: 200px;
}

.ui-timepicker-div .ui-widget-header{
  margin-bottom: 8px;
}

.ui-timepicker-div dl{
  text-align: left;
}

.ui-timepicker-div dl dt{
  height: 25px;
}

.ui-timepicker-div dl dd{
  margin: -25px 0 10px 65px;
}

.ui-timepicker-div td{
  font-size: 90%;
}

.ui-datepicker-trigger .ui-button-icon-only .ui-button-text{
  padding: 0.3em;
}

.ui-accordion{
  width: 100%;
}

.ui-accordion .ui-accordion-header{
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  zoom: 1;
}

.ui-accordion .ui-accordion-header a{
  display: block;
  font-size: 1em;
  padding: .5em .5em .5em 2.2em;
}

.ui-accordion .ui-accordion-header .ui-icon{
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}

.ui-accordion .ui-accordion-content{
  padding: 1em 2.2em;
  border-top: 0;
  margin-top: -2px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  zoom: 1;
}

.ui-accordion .ui-accordion-header .ui-state-disabled, .ui-accordion .ui-accordion-header .ui-state-disabled a{
  cursor: default;
}

.ui-autocomplete{
  width: auto;
  zoom: 1;
  cursor: pointer;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: static;
}

.ui-autocomplete-query{
  font-weight: bold;
}

.ui-autocomplete-panel{
  position: absolute;
  overflow: auto;
}

.ui-autocomplete-panel .ui-autocomplete-list{
  padding: 0.4em;
  border: 0 none;
}

.ui-autocomplete-panel .ui-autocomplete-list-item{
  border: 0px none;
  cursor: pointer;
  font-weight: normal;
  margin: 1px 0;
  padding: 3px 5px;
  text-align: left;
}

.ui-autocomplete-panel .ui-autocomplete-table{
  border-collapse: collapse;
  width: 100%;
}

.ui-autocomplete-panel .ui-autocomplete-table td{
  border: 1px solid inherit;
  padding: 4px 10px 4px 10px;
}

.ui-autocomplete .ui-button-icon-only .ui-button-text{
  padding: 0.29em;
}

.ui-autocomplete-multiple-container{
  clear: left;
  cursor: text;
  list-style: none;
  margin: 0;
  min-height: 1px;
  overflow: hidden;
  width: 400px;
}

.ui-autocomplete-multiple-container .ui-inputfield{
  padding: 0;
}

.ui-autocomplete-token{
  cursor: default;
  float: left;
  overflow: hidden;
  padding: 1px 3px;
  white-space: nowrap;
  position: relative;
  margin: 2px;
}

.ui-autocomplete-token-label{
  display: block;
  padding: 0em 2.1em 0em 0.5em;
}

.ui-autocomplete-token-icon{
  margin-top: -9px;
  position: absolute;
  right: 0.2em;
  top: 50%;
  cursor: pointer;
}

.ui-autocomplete-input-token{
  float: left;
  list-style: none;
  margin: 1px;
  padding: 0;
}

.ui-autocomplete-input-token input{
  border: 0 none;
  width: 140px;
  outline: medium none;
  background: transparent;
  margin: 2px;
}

.ui-autocomplete-itemtip-content{
  display: none;
}

.ui-autocomplete-itemtip{
  position: absolute;
  display: none;
  padding: 0.4em;
}

.ui-blockui{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.ui-blockui-content{
  position: absolute;
  text-align: center;
  padding: 1em;
}

.ui-carousel{
  position: relative;
  display: inline-block;
  padding: 1px;
}

.ui-carousel .ui-carousel-viewport ul{
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 32000px;
  left: 0;
}

.ui-carousel .ui-carousel-viewport ul li{
  margin: 1px;
  padding: 0;
  float: left;
}

.ui-carousel .ui-carousel-viewport{
  overflow: hidden;
  position: relative;
  border: 0;
}

.ui-carousel .ui-carousel-vertical-viewport ul li{
  float:none !important;
}

.ui-carousel .ui-carousel-vertical-viewport ul{
  width:auto !important;
}

.ui-carousel .ui-carousel-footer{
  margin: 1px 1px 0px 1px;
  height: 16px;
  padding: 9px 10px 6px 10px;
  overflow: hidden;
}

.ui-carousel .ui-carousel-header{
  margin: 0 1px;
  height: 16px;
  overflow: hidden;
  padding: 7px 10px 8px 10px;
}

.ui-carousel .ui-carousel-header .ui-carousel-header-title{
  display: inline-block;
  width: 30%;
  padding-top: 2px;
  overflow: hidden;
}

.ui-carousel .ui-carousel-dropdown{
  float: right;
  margin: 0px 10px;
  background: none;
}

.ui-carousel .ui-carousel-dropdown option{
  background: none;
  border: 0 none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.ui-carousel .ui-carousel-button{
  float: right;
  margin: 2px;
}

.ui-carousel .ui-carousel-page-link{
  float: left;
  margin: 0 2px;
}

.ui-carousel .ui-carousel-page-link, .ui-carousel .ui-carousel-button{
  cursor: pointer;
}

.ui-carousel .ui-carousel-page-links{
  margin: 0px 9px;
  margin-top: 1px;
  display: inline-table;
  float: right;
}

.ui-carousel .ui-carousel-page-links, .ui-carousel .ui-carousel-button, .ui-carousel .ui-carousel-dropdown{
  *margin-top: -1.4em;
}

.ui-shadow{
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.ui-overlay-visible{
  visibility: visible;
}

ui-overlay-visible *{
  visibility:visible !important;
}

.ui-overlay-hidden{
  visibility: hidden;
}

.ui-overlay-hidden {
  visibility:hidden !important;
}

.ui-overlay-visible table{
  *border-collapse:collapse !important;
}

.ui-overlay-hidden table{
  *border-collapse:separate !important;
}

.ui-dashboard-column{
  float: left;
  padding-bottom: 100px;
}

.ui-datalist .ui-datalist-header,.ui-datalist .ui-datalist-footer{
  text-align: center;
  padding: 4px 10px;
}

.ui-datalist .ui-datalist-header{
  border-bottom: 0px none;
}

.ui-datalist .ui-datalist-footer{
  border-top: 0px none;
}

.ui-datalist .ui-paginator-top{
  border-bottom: 0px none;
}

.ui-datalist .ui-paginator-bottom{
  border-top: 0px none;
}

.ui-datagrid-data{
  width: 100%;
}

.ui-datagrid .ui-paginator{
  text-align: center;
}

.ui-datagrid-column{
  padding: 3px;
}

.ui-datagrid-content-empty{
  padding: 4px 10px;
}

.ui-datagrid .ui-datagrid-header,.ui-datagrid .ui-datagrid-footer{
  text-align: center;
  padding: 4px 10px;
}

.ui-datagrid .ui-datagrid-header{
  border-bottom: 0px none;
}

.ui-datagrid .ui-datagrid-footer{
  border-top: 0px none;
}

.ui-datagrid .ui-paginator-top{
  border-bottom: 0px none;
}

.ui-datagrid .ui-paginator-bottom{
  border-top: 0px none;
}

.ui-datatable table{
  border-collapse: collapse;
  width: 100%;
}

.ui-datatable .ui-datatable-header,.ui-datatable .ui-datatable-footer{
  text-align: center;
  padding: 4px 10px;
}

.ui-datatable .ui-datatable-header{
  border-bottom: 0px none;
}

.ui-datatable .ui-datatable-footer{
  border-top: 0px none;
}

.ui-datatable th, .ui-datatable tfoot td{
  text-align: center;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.ui-datatable-data, .ui-datatable-data-empty{}

.ui-datatable .ui-datatable-data td,.ui-datatable .ui-datatable-data-empty td{
  border: 1px solid inherit;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.ui-datatable .ui-sortable-column{
  cursor: pointer;
}

.ui-datatable div.ui-dt-c{
  position: relative;
}

.ui-datatable .ui-sortable-column-icon{
  position: absolute;
  left: 0;
  margin-left: -2px;
}

.ui-datatable .ui-column-filter{
  display: block;
  width: 100px;
  margin: auto;
}

.ui-datatable .ui-expanded-row{
  border-bottom: 0px none;
}

.ui-datatable .ui-expanded-row-content{
  border-top: 0px none;
}

.ui-datatable .ui-row-toggler{
  cursor: pointer;
}

.ui-datatable .ui-cell-editor-input{
  display: none;
}

.ui-datatable .ui-row-editor-column{}

.ui-datatable .ui-row-editor{}

.ui-datatable .ui-row-editor span{
  cursor: pointer;
  float: left;
}

.ui-datatable tr.ui-state-highlight{
  cursor: pointer;
}

.ui-datatable .ui-selection-column{
  width: 44px;
}

.ui-datatable-scrollable{}

.ui-datatable-scrollable-body{
  overflow: auto;
}

.ui-datatable-scrollable-header,.ui-datatable-scrollable-footer{
  overflow: hidden;
  border: 0px none;
}

.ui-datatable-scrollable .ui-datatable-scrollable-body table,.ui-datatable-scrollable .ui-datatable-scrollable-header table,.ui-datatable-scrollable .ui-datatable-scrollable-footer table{
  width: auto;
}

.ui-datatable-scrollable .ui-datatable-scrollable-header,.ui-datatable-scrollable .ui-datatable-scrollable-footer{
  position: relative;
}

.ui-datatable-scrollable .ui-datatable-scrollable-header-box,.ui-datatable-scrollable .ui-datatable-scrollable-footer-box{
  float: left;
  padding-right: 40px;
}

.ui-datatable .ui-column-resizer{
  position: absolute;
  right: 0;
  width: 8px;
  height: 20px;
  padding: 0px;
  cursor: col-resize;
  background: url("/FABS-Web/javax.faces.resource/spacer/dot_clear.gif.iface?ln=primefaces");
  margin: -4px 0px;
  *margin-left: 2px;
}

.ui-datatable .ui-filter-column .ui-column-resizer{
  height: 45px;
}

.ui-datatable .ui-column-resizer-helper{
  width: 1px;
  position: absolute;
  z-index: 10;
  display: none;
}

.ui-datatable-resizable{
  padding-bottom: 1px;
  overflow: auto;
}

.ui-datatable .ui-datatable-resizable table{
  width: auto;
}

.ui-datatable th div.ui-dt-c,.ui-datatable .ui-datatable-data td div.ui-dt-c,.ui-datatable .ui-datatable-data-empty td div.ui-dt-c,.ui-datatable tfoot td div.ui-dt-c{
  padding: 4px 10px;
  overflow: hidden;
}

.ui-datatable .ui-datatable-data tr.ui-state-hover{
  border: inherit;
  font-weight: inherit;
  *font-weight: normal;
}

.ui-datatable .ui-paginator,.ui-datatable .ui-paginator{
  padding: 2px;
}

.ui-column-dnd-top, ui-column-dnd-bottom{
  display: none;
  position: absolute;
}

.ui-column-dnd-top .ui-icon, ui-column-dnd-bottom .ui-icon{
  position: absolute;
  top: -4px;
}

.ui-dialog{
  position: fixed;
  padding: 0;
  overflow: hidden;
}

.ui-dialog .ui-dialog-titlebar{
  padding: .4em .4em .4em 1em;
  position: relative;
  border: 0px;
}

.ui-dialog .ui-dialog-title{
  float: left;
  margin: .3em 16px .1em 0;
}

.ui-dialog .ui-dialog-content{
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
  zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane{
  text-align: left;
  border: 1px 0 0 0;
  background: none;
  margin: .5em 0 0 0;
  padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
  float: right;
}

.ui-dialog .ui-dialog-buttonpane button{
  margin: .5em .4em .5em 0;
  cursor: pointer;
}

.ui-dialog .ui-resizable-se{
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar{
  cursor: move;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-minimize,.ui-dialog .ui-dialog-titlebar-maximize{
  float: right;
  margin: 0px;
  top: 0px;
  padding: 1px;
}

.ui-dialog .ui-dialog-titlebar-close span, .ui-dialog .ui-dialog-titlebar-minimize span, .ui-dialog .ui-dialog-titlebar-maximize span{
  display: block;
  margin: 0px;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus, .ui-dialog .ui-dialog-titlebar-minimize:hover, .ui-dialog .ui-dialog-titlebar-minimize:focus, .ui-dialog .ui-dialog-titlebar-maximize:hover, .ui-dialog .ui-dialog-titlebar-maximize:focus{
  padding: 0;
}

.ui-dialog-footer{
  padding: .4em 1em;
  border: 1px 0 0 0;
  text-align: left;
}

.ui-dialog-docking-zone{
  position: fixed;
  bottom: 0;
  left: 0;
}

.ui-dialog-minimizing{
  border: 2px dotted gray;
}

.ui-confirm-dialog-severity{
  float: left;
  margin: 3px 7px 20px 0;
}

.ui-dialog .ui-dialog-minimized{
  *width:200px !important;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend{
  padding: 0.6em 1em;
}

.ui-fieldset-toggleable .ui-fieldset-legend{
  padding: 0.5em 1em 0.5em 0.5em;
  cursor: pointer;
}

.ui-fieldset .ui-fieldset-toggler{
  padding-right: .1em;
  margin-top: -0.1em;
  float: left;
}

.ui-inputfield{
  margin: 0;
  outline: medium none;
  padding: 4px;
  font-weight: normal;
}

.ui-widget-header .ui-inputfield,.ui-widget-content .ui-inputfield{
  font-weight: normal;
}

.ui-inputtextarea-resizable{
  overflow: hidden;
  resize: none;
}

.ui-selectonelistbox, .ui-selectmanymenu{
  width: 100px;
  overflow: auto;
  padding: 2px;
  position: relative;
}

.ui-selectonelistbox ul, .ui-selectmanymenu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.ui-selectonelistbox .ui-selectlistbox-item,.ui-selectmanymenu .ui-selectlistbox-item{
  margin: 2px;
  border: 0 none;
  cursor: pointer;
  font-weight: normal;
}

.ui-chkbox{
  display: inline-block;
}

.ui-chkbox .ui-chkbox-box{
  float: left;
  width: 16px;
  height: 16px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 3px;
}

.ui-chkbox .ui-chkbox-label{
  cursor: pointer;
  display: block;
  margin: 0 3px;
  outline: medium none;
  z-index: 1;
  float: left;
}

.ui-selectmanycheckbox label,.ui-selectoneradio label{
  display: block;
  margin-top: 4px;
}

.ui-radiobutton{
  position: relative;
  margin: 3px 0;
  width: 16px;
  line-height: 16px;
}

.ui-radiobutton .ui-radiobutton-inputwrapper{
  width: 0;
  height: 0;
  overflow: hidden;
}

.ui-radiobutton .ui-radiobutton-box{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.ui-radiobutton .ui-radiobutton-relative{
  position: relative;
  float: left;
  margin-right: 3px;
}

.ui-radiobutton-icon{
  margin-left: 1px;
}

.ui-selectonemenu{
  display: inline-block;
  position: relative;
  width: auto;
  zoom: 1;
  cursor: pointer;
  overflow: hidden;
  *display: inline;
}

.ui-selectonemenu .ui-selectonemenu-trigger{
  border-right: none;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  width: 16px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 3px;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
  margin-top: 3px;
}

.ui-selectonemenu .ui-selectonemenu-label{
  display: block;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  width: 100%;
  float: left;
}

.ui-selectonemenu .ui-state-disabled .ui-selectonemenu-trigger,.ui-selectonemenu .ui-state-disabled .ui-selectonemenu-label{
  cursor: default;
}

.ui-selectonemenu label.ui-selectonemenu-label{
  cursor: pointer;
}

.ui-selectonemenu input.ui-selectonemenu-label{
  cursor: default;
}

.ui-selectonemenu-panel{
  position: absolute;
  overflow: auto;
}

.ui-selectonemenu-panel .ui-selectonemenu-item{
  font-weight: normal;
}

.ui-selectonemenu-panel .ui-selectonemenu-list{
  padding: 0.4em;
  border: 0 none;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item{
  border: 0px none;
  cursor: pointer;
  margin: 1px 0;
  padding: 3px 5px;
  text-align: left;
  white-space: nowrap;
}

.ui-selectonemenu-panel .ui-selectonemenu-table{
  border-collapse: collapse;
  width: 100%;
  *width: auto;
}

.ui-selectonemenu-panel .ui-selectonemenu-table td{
  border: 1px solid inherit;
  padding: 4px 10px 4px 10px;
}

.ui-state-disabled a{
  outline: none;
}

.ui-button{
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: .1em;
  text-decoration:none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
}

.ui-button-icon-only{
  width: 2.4em;
}

.ui-button .ui-button-text{
  display: block;
  line-height: 1.4;
}

.ui-button-text-only .ui-button-text{
  padding: .4em 1em;
}

.ui-button-icon-only .ui-button-text{
  padding: .4em;
  text-indent: -9999999px;
}

.ui-button-text-icon-left .ui-button-text{
  padding: .4em 1em .4em 2.1em;
}

.ui-button-text-icon-right .ui-button-text{
  padding: .4em 2.1em .4em 1em;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon{
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

.ui-button-icon-only .ui-icon{
  left: 50%;
  margin-left: -8px;
}

.ui-button-icon-left{
  left: .5em;
}

.ui-button-icon-right{
  right: .5em;
}

.ui-buttonset{
  margin-right: 7px;
}

.ui-buttonset .ui-button{
  margin-left: 0;
  margin-right: 0;
}

button.ui-button:-moz-focus-inner{
  border: 0;
  padding: 0;
}

.ui-selectcheckboxmenu{
  display: inline-block;
  position: relative;
  width: auto;
  zoom: 1;
  cursor: pointer;
  *display: inline;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
  border-right: none;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  width: 16px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 3px;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon{
  margin-top: 3px;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label{
  display: block;
  padding: 3px 26px 3px 5px;
  width: auto;
  border: none;
  cursor: pointer;
}

.ui-selectcheckboxmenu .ui-state-disabled .ui-selectcheckboxmenu-trigger,.ui-selectcheckboxmenu .ui-state-disabled .ui-selectcheckboxmenu-label{
  cursor: auto;
}

.ui-selectcheckboxmenu-panel{
  position: absolute;
  overflow: auto;
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list{
  padding: 0.4em;
  border: 0 none;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item{
  border: 0px none;
  cursor: pointer;
  font-weight: normal;
  margin: 1px 0;
  padding: 3px 5px;
  text-align: left;
  white-space: nowrap;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item{
  display: block;
  position: relative;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item .ui-chkbox{
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item label{
  display: block;
  padding-left: 2.2em;
}

div.ui-button, .ui-splitbutton{
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.ui-password-panel{
  padding: 4px 10px;
  width: 150px;
  margin-top: 2px;
}

.ui-password-panel .ui-password-meter{
  height: 10px;
  background: transparent url("/FABS-Web/javax.faces.resource/forms/password-meter.png.iface?ln=primefaces") no-repeat left top;
  padding: 0;
  margin: 0;
}

.ui-password-info{
  margin-top: 4px;
}

.ui-password-panel-overlay{
  position: absolute;
}

.ui-outputlabel .ui-state-error{
  border: 0 none;
}

.ui-outputlabel .ui-outputlabel-rfi{
  margin-left: 0.4em;
}

* html .ui-growl{
  position: absolute;
}

* html .ui-growl-item{
  padding-bottom: 0;
}

* html .ui-growl-icon-close{
  top: 7px;
  right: 7px;
}

.ui-growl{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 301px;
}

.ui-growl-item-container{
  position: relative;
  margin: 0 0 10px 0;
  opacity: 0.85;
  filter:alpha(opacity=85);
}

.ui-growl-item{
  display: block;
  padding: 10px 15px;
}

.ui-growl-item p{
  padding: 0;
  margin: 0;
}

.ui-growl-icon-close{
  position: absolute;
  top: 5px;
  right: 3px;
  cursor: pointer;
}

.ui-growl-title{
  font-weight: bold;
  padding: 0 0 7px 0;
  display: block;
}

.ui-growl-image{
  width: 32px;
  height: 32px;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
  background: url("/FABS-Web/javax.faces.resource/messages/messages.png.iface?ln=primefaces") no-repeat;
}

.ui-growl-image-info{
  background: 0 -264px;
}

.ui-growl-image-warn{
  background: 0 -396px;
}

.ui-growl-image-error{
  background: 0 0;
}

.ui-growl-image-fatal{
  background: 0 -228px;
}

.ui-growl-message{
  padding: 0 0 5px 0;
  width: 220px;
  float: right;
}

.ui-growl-message p{
  font-weight: normal;
}

.ui-inplace .ui-inplace-display{
  cursor: pointer;
  border:0px none !important;
}

.ui-inplace .ui-inplace-disabled{
  cursor: default;
}

.ui-inplace .ui-inplace-content{}

.ui-inplace .ui-inplace-editor{
  margin-left: 0.1em;
}

.ui-inplace .ui-inplace-editor .ui-button-icon-only .ui-button-text{
  padding: 0;
}

.ui-lightbox{
  position: fixed;
}

.ui-lightbox-content-wrapper{
  position: relative;
}

.ui-lightbox-content{
  position: relative;
  margin: 0;
  padding: 0;
  background: #000000;
}

.ui-lightbox-nav-right, .ui-lightbox-nav-left{
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.ui-lightbox-nav-left{
  left: 0;
}

.ui-lightbox-nav-right{
  right: 0;
}

.ui-lightbox-loading{
  background: url("/FABS-Web/javax.faces.resource/lightbox/images/loading.gif.iface?ln=primefaces") #000000 center center no-repeat;
}

.ui-lightbox-caption{
  padding: 0.5em 1em 0.3em;
}

.ui-menu{
  width: 150px;
  padding: 0.3em;
  position: relative;
}

.ui-menu .ui-menu-dynamic{
  position: absolute;
  display: none;
  z-index: 100000;
}

.ui-menu-list{
  position: static;
}

.ui-menu .ui-menu-list .ui-menuitem{
  border: none;
}

.ui-menu .ui-menu-list .ui-widget-header{
  clear: both;
  float: left;
  width: 98%;
  margin: 1px 0;
}

.ui-menu .ui-menuitem{
  width: 100%;
  float: left;
  clear: both;
  margin: 1px 0;
  padding: 0;
}

.ui-menu .ui-menuitem-parent{
  width: 100%;
  float: left;
  clear: both;
  margin: 1px 0;
  padding: 0;
}

.ui-menu .ui-menuitem-link{
  display: block;
  width: 92%;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  border: solid 1px transparent;
  float: left;
  line-height: 16px;
  padding: 0.3em;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon{
  display: inline-block;
  float: left;
}

.ui-menu .ui-menuitem-text{
  float: left;
}

.ui-menu .ui-widget-header h1,.ui-menu .ui-widget-header h2,.ui-menu .ui-widget-header h3,.ui-menu .ui-widget-header h4,.ui-menu .ui-widget-header h5,.ui-menu .ui-widget-header h6{
  float: left;
  display: block;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.3em 3%;
}

.ui-menu .ui-menu-parent .ui-menu-child{
  display: none;
  width: 150px;
  padding: 0.3em;
  position: absolute;
  margin: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-menu .ui-menu-parent{
  position: relative;
}

.ui-menu .ui-menu-parent .ui-icon-triangle-1-e,.ui-menu .ui-menu-parent .ui-icon-triangle-1-s,.ui-menubar .ui-menu-child .ui-icon-triangle-1-s,.ui-menubar .ui-menu-child .ui-icon-triangle-1-s{
  float: right;
}

.ui-menubutton{
  padding: 0;
}

.ui-menubutton .ui-button{
  margin: 0;
}

.ui-menubar{
  width: auto;
}

.ui-menubar .ui-menuitem{
  width: auto;
  clear: none;
}

.ui-menubar .ui-menu-child .ui-menuitem{
  width: 100%;
}

.ui-menubar .ui-menu-child{
  top: 25px;
  left: 0;
}

.ui-menubar .ui-menuitem-link{
  width: auto;
  padding: 0.4em 0.3em;
}

.ui-menubar .ui-menu-child .ui-menuitem-link{
  width: 92%;
}

.ui-menubar .ui-widget-header{
  clear: none;
  width: auto;
  margin: 0 3px 0 0;
}

.ui-menubar .ui-widget-header h1,.ui-menubar .ui-widget-header h2,.ui-menubar .ui-widget-header h3,.ui-menubar .ui-widget-header h4,.ui-menubar .ui-widget-header h5,.ui-menubar .ui-widget-header h6{
  padding: 0.4em 0.3em;
}

.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span.ui-icon-triangle-1-e,.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span.ui-icon-triangle-1-s{
  *float: none;
}

.ui-menu .ui-separator{
  width: 98%;
  height: 0px;
  float: left;
  clear: both;
  margin: 1px 0 0 0;
  padding: 0;
  border-top: 0px none;
}

.ui-megamenu td{
  vertical-align: top;
}

.ui-menu .ui-megamenu .ui-menu-parent .ui-menu-child{
  width: auto;
}

.ui-menu .ui-megamenu .ui-menu-child > table{
  width: auto;
}

.ui-menu .ui-megamenu .ui-menu-child .ui-menu-list{
  width: 150px;
}

.ui-breadcrumb{
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 5px 5px 7px 5px;
}

.ui-breadcrumb ul{
  margin: 0;
  padding: 0;
  display: block;
  width: 5000px;
}

.ui-breadcrumb ul li{
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
}

.ui-breadcrumb ul li span{
  display: block;
  overflow: hidden;
}

.ui-breadcrumb ul li a{
  display: block;
  position: relative;
  overflow: hidden;
  float: left;
  *cursor: pointer;
  margin-top: 3px;
}

.ui-breadcrumb ul li a.ui-icon-home{
  padding: 0;
  margin-top: 1px;
  overflow: hidden;
}

.ui-breadcrumb-chevron{
  float: left;
  margin-top: 2px;
}

.ui-slidemenu .ui-slidemenu-wrapper{
  position: relative;
}

.ui-slidemenu .ui-slidemenu-content{
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.ui-slidemenu .ui-menu-list{
  position: absolute;
  top: 0;
}

.ui-slidemenu .ui-menu-parent{
  position: static;
}

.ui-slidemenu .ui-menu-child{
  box-shadow: none;
  border: 0 none;
  background: none repeat scroll 0 0 transparent;
}

.ui-slidemenu-backward{
  position: absolute;
  bottom: 0;
  width: 95%;
  margin-bottom: 0.4em;
  padding: 0.2em;
  cursor: pointer;
  display: none;
}

.ui-slidemenu-backward .ui-icon{
  float: left;
}

.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal{
  border: 1px solid;
  margin: 10px 0px;
  padding: 10px 10px 10px 10px;
}

.ui-messages-info, .ui-message-info{
  color: #00529B;
  background: #BDE5F8;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon,.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon{
  background: url("/FABS-Web/javax.faces.resource/messages/messages.png.iface?ln=primefaces") no-repeat;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon{
  height: 24px;
  width: 24px;
  margin-top: -4px;
}

.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon{
  height: 16px;
  width: 16px;
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary{
  margin-left: 10px;
  font-weight: bold;
}

.ui-messages-info-detail, .ui-messages-warn-detail, .ui-messages-error-detail, .ui-messages-fatal-detail,.ui-message-info-detail, .ui-message-warn-detail, .ui-message-error-detail, .ui-message-fatal-detail{
  margin-left: 5px;
}

.ui-messages-warn, .ui-message-warn{
  color: #9F6000;
  background: #FEEFB3;
}

.ui-messages-error, .ui-message-error{
  color: #D8000C;
  background: #FFBABA;
}

.ui-messages-fatal, .ui-message-fatal{
  color: #000000;
  background: #CC0000;
}

.ui-messages ul{
  margin: 0 0 0 25px;
  padding: 0;
  list-style: none;
}

.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal{
  border: 1px solid;
  margin: 0px 5px;
  padding: 2px 5px;
}

.ui-message-icon-only{
  width: 16px;
  height: 16px;
}

.ui-messages-info-icon{
  background: 0px -316px;
}

.ui-messages-warn-icon{
  background: 0px -448px;
}

.ui-messages-error-icon{
  background: 0px -52px;
}

.ui-messages-fatal-icon{
  background: 0px -184px;
}

.ui-message-info-icon{
  background: 0px -360px;
}

.ui-message-warn-icon{
  background: 0px -492px;
}

.ui-message-error-icon{
  background: 0px -96px;
}

.ui-message-fatal-icon{
  background: 0px -228px;
}

.ui-notificationbar{
  position: fixed;
  width: 100%;
  height: 100px;
  display: none;
  padding: 10px;
}

.ui-notificationbar-close{
  position: absolute;
  right: 3em;
  top: 1em;
  cursor: pointer;
}

.ui-orderlist .ui-orderlist-list{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 200px;
  width: 200px;
}

.ui-orderlist .ui-orderlist-list li{
  margin: 1px;
  padding: 2px;
}

.ui-orderlist .ui-button{
  display: block;
  margin-bottom: 0.3em;
}

.ui-orderlist .ui-orderlist-button .ui-button-text-icon-primary{
  width: 100%;
}

.ui-orderlist .ui-orderlist-item{
  cursor: pointer;
  border: 0px none;
  font-weight: inherit;
}

.ui-orderlist .ui-orderlist-caption{
  text-align: center;
  padding: 4px 10px 4px 10px;
  border-bottom: 0px none;
}

.ui-orderlist table{
  width: 100%;
  border-collapse: collapse;
}

.ui-orderlist{
  *position: relative;
}

.ui-orderlist .ui-state-disabled .ui-orderlist-item,.ui-orderlist .ui-state-disabled .ui-button{
  cursor: default;
}

.ui-overlaypanel{
  padding: 0.5em 1em;
  position: absolute;
  *width: 300px;
}

.ui-panel{
  padding: 0.2em;
}

.ui-panel .ui-panel-titlebar{
  padding: 0.5em 1em 0.3em;
}

.ui-panel .ui-panel-title{
  margin: 0.1em 16px 0.2em 0;
}

.ui-panel .ui-panel-titlebar-icon{
  float: right;
}

.ui-panel .ui-panel-titlebar-icon,.ui-panel .ui-panel-titlebar-icon:hover,.ui-panel .ui-panel-titlebar-icon:focus{
  margin-left: 0.2em;
  margin-top: -0.2em;
  *margin: -1.8em 0.3em 0em 0em;
}

.ui-panel .ui-panel-content{
  border: 0;
  background: none;
  padding: 0.5em 1em;
}

.ui-panel .ui-panel-footer{
  border: 1px 0 0;
  margin: 0.5em 0 0;
  padding: 0.5em 1em;
  text-align: left;
}

.ui-panelgrid{
  border-collapse: collapse;
}

.ui-panelgrid .ui-panelgrid-header{
  text-align: center;
  padding: 4px 10px;
}

.ui-panelgrid .ui-panelgrid-footer{
  text-align: left;
  padding: 2px 5px;
}

.ui-panelgrid td{
  border: 1px solid inherit;
  padding: 4px 10px;
}

.ui-paginator{
  margin: 0px;
  text-align: center;
  padding: 2px;
}

.ui-paginator .ui-paginator-top{
  border-bottom: 0px none;
}

.ui-paginator .ui-paginator-bottom{
  border-top: 0px none;
}

.ui-paginator .ui-paginator-page,.ui-paginator .ui-paginator-pages,.ui-paginator .ui-paginator-next,.ui-paginator .ui-paginator-last,.ui-paginator .ui-paginator-first,.ui-paginator .ui-paginator-prev,.ui-paginator .ui-paginator-current{
  display: inline-block;
  padding: 2px 6px;
  zoom: 1;
  margin-left: 1px;
  margin-right: 1px;
  text-decoration: none;
  outline: none;
}

.ui-paginator .ui-paginator-page,.ui-paginator .ui-paginator-next,.ui-paginator .ui-paginator-last,.ui-paginator .ui-paginator-first,.ui-paginator .ui-paginator-prev{
  cursor: pointer;
}

.ui-paginator .ui-paginator-current,.ui-paginator .ui-paginator-rpp-options{
  margin-left: 1em;
  margin-right: 1em;
  background: none;
}

.ui-paginator .ui-paginator-next .ui-icon,.ui-paginator .ui-paginator-prev .ui-icon,.ui-paginator .ui-paginator-first .ui-icon,.ui-paginator .ui-paginator-last .ui-icon{
  height: auto;
  overflow: inherit;
}

.ui-paginator .ui-paginator-pages{
  *padding-bottom: 0px;
}

.ui-paginator .ui-paginator-jtp-select option,.ui-paginator .ui-paginator-rpp-options option{
  background: none;
  border: 0 none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.ui-picklist .ui-picklist-list{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 200px;
  width: 200px;
}

.ui-picklist .ui-picklist-list li{
  margin: 1px;
  padding: 2px;
}

.ui-picklist .ui-button{
  display: block;
  margin-bottom: 0.3em;
}

.ui-picklist .ui-picklist-item{
  cursor: pointer;
  border: 0px none;
  font-weight: inherit;
}

.ui-picklist .ui-picklist-caption{
  text-align: center;
  padding: 4px 10px 4px 10px;
  border-bottom: 0px none;
}

.ui-picklist table{
  width: 100%;
  border-collapse: collapse;
}

.ui-picklist > tbody{
  *position: relative;
}

.ui-progressbar{
  height: 1.2em;
  text-align: left;
  position: relative;
}

.ui-progressbar .ui-progressbar-value{
  margin: -1px;
  height: 100%;
  width: 0%;
  position: absolute;
  display: none;
}

.ui-progressbar .ui-progressbar-label{
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  font-weight: bold;
}

.ui-rating-star,.ui-rating-cancel{
  float: left;
  display: block;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}

.ui-rating-star a,.ui-rating-cancel a{
  width: 16px;
  height: 15px;
  display: block;
  background: url("/FABS-Web/javax.faces.resource/rating/rating.png.iface?ln=primefaces") no-repeat 0 0;
}

.ui-rating-star a{
  background: 0 -32px;
}

.ui-rating-star-on a{
  background: 0 -48px;
}

.ui-rating-star-hover a{
  background: 0 -64px;
}

.ui-rating-cancel-hover a{
  background: 0 -16px;
}

.ui-rating .ui-state-disabled .ui-rating-star,.ui-rating .ui-state-disabled .ui-rating-cancel{
  cursor: default;
}

.ui-scrollpanel{
  overflow: hidden;
  outline: none;
  background: none;
}

.ui-scrollpanel-native{
  overflow: auto;
}

.ui-scrollpanel-container{
  overflow: hidden;
  position: relative;
  zoom: 1;
}

.ui-scrollpanel-wrapper{
  position: absolute;
  overflow: hidden;
}

.ui-scrollpanel-content{
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  zoom: 1;
}

.ui-scrollpanel-vbar{
  width: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  left: auto;
  right: 0px;
  top: 0px;
  bottom: auto;
}

.ui-scrollpanel-hbar{
  height: 18px;
  padding-left: 18px;
  padding-right: 18px;
  top: auto;
  right: auto;
  left: 0px;
  bottom: 0px;
}

.ui-scrollpanel-hbar, .ui-scrollpanel-vbar{
  display: none;
  position: absolute;
  font-size: 0px;
  border: 0;
}

.ui-scrollpanel-hbar .ui-state-default, .ui-scrollpanel-vbar .ui-state-default{
  width: 16px;
  height: 16px;
  position: absolute;
}

.ui-scrollpanel-hbar .ui-widget-header,.ui-scrollpanel-vbar .ui-widget-header{
  background: none;
}

.ui-scrollpanel-handle{
  position: absolute;
  font-size: 0px;
  overflow: hidden;
}

.ui-scrollpanel-handle *{
  font-size: 0px;
}

.ui-scrollpanel-bl{
  left: 0;
}

.ui-scrollpanel-br{
  right: 0;
}

.ui-scrollpanel-bt{
  top: 0;
}

.ui-scrollpanel-bb{
  bottom: 0;
}

.ui-spinner{
  display: inline-block;
  overflow: visible;
  padding: 0;
  position: relative;
  vertical-align: middle;
}

.ui-spinner-input{
  vertical-align: middle;
  text-align: right;
  padding-right: 20px;
}

.ui-spinner-button{
  cursor: default;
  display: block;
  font-size: 0.5em;
  height: 50%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  z-index: 100;
}

.ui-spinner .ui-icon{
  left: 0;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

.ui-spinner-up{
  top: 0;
}

.ui-spinner-down{
  bottom: 0;
}

.ui-spinner .ui-icon-triangle-1-s{
  background: -65px -16px;
}

.ui-spinner .ui-icon-triangle-1-n{
  margin-top: -9px;
}

.ui-tabs{
  position: relative;
  padding: .2em;
  zoom: 1;
}

.ui-tabs .ui-tabs-nav{
  margin: 0;
}

.ui-tabs .ui-tabs-nav li{
  list-style: none;
  float: left;
  position: relative;
  margin: 0 .2em 1px 0;
  padding: 0;
  white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a{
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a{
  cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{
  cursor: pointer;
}

.ui-tabs .ui-tabs-panel{
  border: 0;
  padding: 1em 1.4em;
  background: none;
}

.ui-tabs .ui-tabs-nav li{
  display: block;
}

.ui-tabs .ui-tabs-nav li .ui-icon{
  float: left;
  margin: 0.4em 0.2em 0 0;
  cursor: pointer;
}

.ui-tabs .ui-tabs-top > .ui-tabs-nav li{
  border-bottom: 0;
  top: 1px;
}

.ui-tabs .ui-tabs-top > .ui-tabs-nav{
  padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-bottom > .ui-tabs-nav{
  padding: 0 .2em .2em;
}

.ui-tabs .ui-tabs-bottom > .ui-tabs-nav li{
  border-top: 0;
}

.ui-tabs-left:after,.ui-tabs-right:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.ui-tabs-left > .ui-tabs-nav{
  float: left;
  width: 23%;
  height: 300px;
  background: none;
  padding-top: 1px;
}

.ui-tabs-left > .ui-tabs-panels{
  float: right;
  width: 75%;
}

.ui-tabs .ui-tabs-left > .ui-tabs-nav li,.ui-tabs .ui-tabs-right > .ui-tabs-nav li{
  display: block;
  float: right;
  white-space: normal;
  width: 98%;
}

.ui-tabs .ui-tabs-left > .ui-tabs-nav li{
  margin: 0 0 1px 0.2em;
  border-right: 0 none;
}

.ui-tabs .ui-tabs-right > .ui-tabs-nav{
  float: right;
  width: 23%;
  height: 300px;
  background: none;
  padding-top: 1px;
}

.ui-tabs .ui-tabs-right > .ui-tabs-panels{
  float: left;
  width: 75%;
}

.ui-tabs .ui-tabs-right > .ui-tabs-nav li{
  margin: 0 0.2em 1px 0;
  border-left: 0 none;
}

.ui-tagcloud{
  width: 250px;
}

.ui-tagcloud ul{
  margin: 1em;
  padding: 0.1em;
  text-align: center;
}

.ui-tagcloud li{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.ui-tagcloud li{
  *display: inline;
}

.ui-tagcloud li a{
  text-decoration: none;
  padding: 0 5px;
}

.ui-tagcloud-strength-1{
  font-size: 100%;
}

.ui-tagcloud-strength-2{
  font-size: 120%;
}

.ui-tagcloud-strength-3{
  font-size: 140%;
}

.ui-tagcloud-strength-4{
  font-size: 160%;
}

.ui-tagcloud-strength-5{
  font-size: 180%;
}

.ui-tagcloud li.ui-state-hover{
  border: 0px none;
  font-weight: inherit;
  *font-weight: normal;
}

.ui-toolbar{
  padding: 0.2em;
}

.ui-toolbar .ui-separator{
  display: inline-block;
  vertical-align: middle;
}

.ui-toolbar-group-left{
  float: left;
}

.ui-toolbar-group-right{
  float: right;
}

.ui-tooltip{
  position: absolute;
  display: none;
  padding: 3px 5px;
}

.ui-tree{
  width: 300px;
  padding: 0.5em;
}

.ui-tree .ui-tree-checkbox{
  margin: 0;
  float: left;
}

.ui-tree .ui-tree-parent span,.ui-tree .ui-tree-item span{
  float: left;
}

.ui-tree .ui-tree-child{
  margin-left: 20px;
}

.ui-tree .ui-tree-nodes .ui-tree-node{
  border: 0px;
  background: none;
  display: block;
  float: left;
  clear: both;
  font-weight: normal;
  margin: 0 20px 0 0;
}

.ui-tree-node-content{
  border: 1px solid transparent;
  padding: 3px;
  vertical-align: middle;
}

.ui-tree .ui-tree-nodes .ui-tree-node .ui-tree-node-content .ui-tree-node-label{
  margin: 0.2em 0 0 0.5em;
  float: left;
}

.ui-tree .ui-tree-nodes li.ui-tree-node{
  margin-left: 16px;
}

.ui-tree .ui-tree-nodes .ui-state-default a, .ui-tree .ui-tree-nodes .ui-state-default{
  color: inherit;
}

.ui-tree .ui-tree-nodes .ui-state-hover, .ui-tree .ui-tree-nodes .ui-state-active{
  font-weight: normal;
}

.ui-tree a.ui-state-default:link,.ui-tree a.ui-state-default:visited,.ui-tree a.ui-state-default:hover,.ui-tree a.ui-state-default:active,.ui-tree a.ui-state-hover:link,.ui-tree a.ui-state-hover:visited,.ui-tree a.ui-state-hover:hover,.ui-tree a.ui-state-hover:active,.ui-tree a.ui-state-active:link,.ui-tree a.ui-state-active:visited,.ui-tree a.ui-state-active:hover,.ui-tree a.ui-state-active:active{
  border: solid;
  font-weight: normal;
}

.ui-tree .ui-tree-nodes .ui-tree-item{
  padding: 0;
  width: 100%;
  float: left;
  clear: left;
  margin: 0 0 0 16px;
  display: inline;
  width: 100%;
}

.ui-tree .ui-tree-nodes .ui-tree-parent{
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  clear: left;
}

.ui-tree-insertion{
  height: 1px;
  font-size: 0px;
}

.ui-tree .ui-tree-checkbox{
  position: relative;
  line-height: 16px;
  width: 16px;
  margin: 0;
  float: left;
}

.ui-tree .ui-tree-checkbox .ui-tree-checkbox-box{
  position: relative;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 3px;
}

.ui-tree .ui-tree-icon{
  cursor: pointer;
}

.ui-tree .ui-tree-selectable-node{
  cursor: pointer;
}

.ui-treetable table{
  border-collapse: collapse;
  width: 100%;
}

.ui-treetable .ui-treetable-header,.ui-treetable .ui-treetable-footer{
  text-align: center;
  padding: 4px 10px;
}

.ui-treetable .ui-treetable-header{
  border-bottom: 0px none;
}

.ui-treetable .ui-treetable-footer{
  border-top: 0px none;
}

.ui-treetable th, .ui-treetable tfoot td{
  text-align: center;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.ui-treetable .ui-treetable-data td,.ui-treetable .ui-treetable-data-empty td{
  border: 1px solid inherit;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.ui-treetable th div.ui-tt-c,.ui-treetable .ui-treetable-data td div.ui-tt-c,.ui-treetable tfoot td div.ui-tt-c{
  padding: 4px 10px;
  overflow: hidden;
  position: relative;
}

.ui-treetable .ui-treetable-toggler{
  float: left;
  margin-top: -2px;
  cursor: pointer;
}

.ui-treetable .ui-treetable-data tr.ui-state-highlight{
  cursor: pointer;
}

.ui-treetable-scrollable{}

.ui-treetable-scrollable-body{
  overflow: auto;
}

.ui-treetable-scrollable-header,.ui-treetable-scrollable-footer{
  overflow: hidden;
  border: 0 none;
}

.ui-treetable-scrollable .ui-treetable-scrollable-body table,.ui-treetable-scrollable .ui-treetable-scrollable-header table,.ui-treetable-scrollable .ui-treetable-scrollable-footer table{
  width: auto;
}

.ui-treetable-scrollable .ui-treetable-scrollable-header,.ui-treetable-scrollable .ui-treetable-scrollable-footer{
  position: relative;
}

.ui-treetable-scrollable .ui-treetable-scrollable-header-box,.ui-treetable-scrollable .ui-treetable-scrollable-footer-box{
  float: left;
  padding-right: 40px;
}

.ui-treetable .ui-treetable-data tr.ui-state-hover{
  border: inherit;
  font-weight: inherit;
  *font-weight: normal;
}

.ui-wizard{
  margin: 0;
  padding: 0;
}

.ui-wizard-content{
  margin: 3px 0;
}

.ui-wizard-navbar{
  text-align: right;
}

.ui-wizard-nav-back, .ui-wizard-nav-next{
  cursor: pointer;
}

.ui-wizard-nav-back{
  float: left;
}

.ui-wizard-nav-next{
  float: right;
}

.ui-wizard-step-title{
  font-size: 18px;
  margin: 0 3px 0 0;
  padding: 0.4em;
  float: left;
}