*::-webkit-scrollbar {
    width: 7px !important;
}

*::-moz-scrollbar {
    width: 7px !important;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #d8d8d8;
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}
*::-moz-scrollbar-track {
    background: #d8d8d8;
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}
/* Handle */
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #bec7df;
    border: 1px solid #bec7df;
}
.portlet-body::-webkit-scrollbar {
    width: 7px !important;
}
.portlet-body::-moz-scrollbar {
    width: 7px !important;
}
.save_btn {
    background-image: url(b3.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px!important;
    border: 0px!important;
    width: 30px!important;
    height:30px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
    font-family: Arial,sans-serif;
    font-size: 12px !important;
    color: #2AAAE6;
    transition: all 0.3s linear;
   
}
.ui-menubutton .ui-button {
    background: #336fff!important;
  -webkit-border-radius: 29;
  -moz-border-radius: 29;
  border-radius: 29px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
  transition: all 0.3s linear;
  box-shadow: 0px 5px 20px #0002 !important;
}
.ui-menubutton .ui-button:hover{
    background: #fff!important;
    color: #336fff;
    border:1px solid  #336fff !important;
    box-shadow: 0px 0px 0px !important;
}

.ui-button{
    outline: none;
}
.ui-menubutton .ui-button :hover{
    background: #3cb0fd;
  text-decoration: none;
}

.ui-menuitem:hover{
    background: #118ade59!important;
    color: white!important;
}
.ui-menu.ui-menu-dynamic{
  overflow: auto !important;
  /* height: calc(100% - (20px + 40px)) !important; */
  height: auto !important;
  opacity: 0.9;
  background: white !important;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px!important;
  font-weight: bolder!important;
  padding: 2px 5px 0px 5px;
   border: 1px solid #d8d8d8;
    margin-top: 15px;
    position: fixed!important;
}

.ui-menu {
    padding: 0px !important;
}

.menuButtonCong{
    color:black !important;
    font-style:black !important;
}

/* This button was generated using CSSButtonGenerator.com */
/*
.ui-button-icon-left{
background-repeat:norepeat;
background-image:url(resources/cnfg.jpg) !important ;
background-size:30px ;
width:30px
}*/

.ui-menubutton{
    font: balck !important;
}

/*
 .ui-menuitem-link {
    display: block;
    width: 92%;
    outline: medium none;
    text-decoration: none;
    font-weight: 400;
    border: 1px solid;
        background:#fffff0;
    float: left;
    line-height: 16px;
    padding: 0.3em;
    cursor: pointer;
}
*/

.save_exit_btn {
    background-image: url(b4.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px!important;
    border: 0px!important;
    width: 30px!important;
    height:30px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
}
/**Balloon */

.balloonPanelStyleL{
    background: url("balloon_bg.png") no-repeat !important;
    width: 575px;
    height: 130px;
    display: block;
    left: -43px;
    position: absolute;
    z-index: 1000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}
.balloonActionsPStyleL{
    width: 150px;
    height: 100px;
    left: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top: 25px;
    color:white;
    text-align: left;
    text-decoration: none;
    border-right: 1px;

}
.balloon_action_link:hover{
    color:#666666!important;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 1.25)!important;

}
.balloonBriefInfoPStyleL{
    height: 100px;
    left: 190px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 30px;
    vertical-align: top;
    width: 400px;
    background: #FFFFCC;
    background:transparent;
}

.balloon_title{
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    left: 60px;
    position: absolute;
    top: 5px;
    z-index: 10;
}

.balloon_close {
    left: 342px;
    position: absolute !important;
    top: 0;
}
.header_Menu_Style{
    height: 25px!important;
    position: absolute!important;
    right: 5px!important;
    top: 3px!important;
    width: 25px!important;
    padding: 0px!important;
    display: none!important;
}

.header_Menu_Style .iceMnuBarVrtItem a, .header_Menu_Style .iceMnuBarVrtItem span, .header_Menu_Style .iceMnuBarVrtItem a:hover{
    padding: 0px!important;
}

.balloonButton{
    background-color: transparent !important;
    background-image: url("icon.png") !important;
    background-repeat: no-repeat !important;
    border: 0 none !important;
    box-shadow: 0 0 0 #FFFFFF inset;
    font-size: 0 !important;
    height: 18px;
    margin-right: 0 !important;
    padding: 0 !important;
    width: 20px;
    display:inline-block;position:relative;padding:0;margin-right:.1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;
}

.balloonButton:hover {
    width: 23px;
    height: 18px;
    margin-left: 0px;
    margin-right: 0px;
}


.buttonsGeneralPanel{

    position: inherit;
    float:right;
    margin-right: 20px;
    /*    top:6px;
        background: url('but_bg.png') no-repeat;*/
}

.buttonsBGPanel{
    height: 50px;
    position: absolute;
    width: 100%;
    z-index: -1;
}


.buttonTitleLinkPanel{
    /*
    background-image: url('butTtlBckgrnd.png');
    position: absolute;
    z-index: 1000;
    */

    background-image: url("butTtlBckgrnd.png");
    border-radius: 5px 5px 5px 5px;
    height: 25px;
    position: absolute;
    z-index: 1000;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.buttonTitleLink{
    /*font-size: 12px;
    font-weight: bold;
    color: white;
    vertical-align: super;
    padding: 5px;

    white-space: nowrap;
    z-index: 1001;
    padding-left: 20px;
    float: left;
    */

    color: white;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    top: 10px;
    vertical-align: super;
    white-space: nowrap;
    z-index: 1001;
    text-shadow: 0 -1px 1px rgba(0,0,0,1.25);

}

.moreActionStyle{
    /* height: 25px!important;
    position: absolute!important;*/
    top: 4px!important;
    width: 25px!important;
    padding: 0px!important;
}

.moreActionStyle .iceMnuBarVrtItem a, .moreActionStyle .iceMnuBarVrtItem span, .moreActionStyle .iceMnuBarVrtItem a:hover{
    padding: 0px!important;
}

.labelAsterisk{
    font-size: 12px;
    font-weight: bold;
    color:red;
    vertical-align: top;
    position:relative;
}

.labelOperator{
    font-size: 12px;
    font-weight: bold;
    color:Blue;
    vertical-align: top;
    position:relative;
}

.OTMSTextBox{
    color: #0E76BC;
    height: 16px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid #E5E5E5;
    text-align: left;
    font-size:11px;
}
.OTMSTextBox-dis{
    color: #0E76BC;
    height: 16px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size:inherit;
    background-color: transparent;
    border: 0px none transparent;
    text-align: left;
}

.labelTxt {
    color: #434343;
    font-size: 12px;
    font-family: arial!important;
    font-weight: bold!important;
    padding-bottom: 5px !important;
    padding-left: 0px !important;
    padding-right: 6px !important;
    white-space: nowrap;
}

.inlineErrorMsgTitle{
    color: red;
    font-size: 11px;
}

.inlineErrorMsgTitleError{
    color: red;
    font-size: 11px;
}

/*
added for only spinner in OPEyeExamination
*/
.ui-spinner {
    display: inline-block;
    overflow: visible;
    padding: 0;
    position: relative;
    vertical-align: middle;
}
.ui-spinner-input {
    vertical-align: middle;
    text-align: right;
    width: 90px;
    padding-right: 20px;
}
.ui-spinner-button {
    cursor: default;
    display: block;
    font-size: 0.5em;
    height: 50%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    z-index: 100;
}
.ui-spinner .ui-icon {
    left: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-spinner-up {
    top: 0;
}
.ui-spinner-down {
    bottom: 0;
}
.ui-spinner .ui-icon-triangle-1-s {
    background-position: -65px -16px;
}

.ui-spinner .ui-icon-triangle-1-n {
    margin-top: -9px;
}




/*.ctrlTable td:first-child {
    padding-left: 0px;
}

.ctrlTable td:first-child td {
    padding-left: 0px;
}

.ctrlTable td:nth-child(odd) {
    padding-left: 20px;
}

.ctrlTable td:nth-child(odd) td{
    padding-left: 0px;
}

.ctrlTable td:nth-child(even) td{
    padding-left: 0px;
}

.ctrlTable td:nth-child(even) {
    padding-left: 0px;
}
*/

.ctrlTable{
    /*width:100%;*/
}

.ctrlTableCollabse{
    width:100%;
}

.mainTable{
    width:100%;
    background: #eeeeee;
    padding-top:25px;
    margin-top: 79px;
    
}

.ctrlTable > tbody > tr > td:nth-child(2n+3) {
    padding-left: 40px;
}

/*-----------------
FORM SECTION
-----------------*/

.labelContainer{
    float:right;
}

/*-------------------
USER MESSAGE
-------------------*/
.usrMsgFrame{
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF8DA;
    width:100%;
}

.usrMsgFrame .icePnlClpsblCnt{
    background: transparent;
    /*border: 1px,1px,1px,1px;*/
    border-radius: 0px 0px 4px 4px;
}

.usrMsgFrame .icePnlClpsblHdr{
    /*border: none;*/
    background: none;
}

.usrMsgFrame .icePnlClpsblColpsdHdr{

    background: none;
}

.usrMsgFrameColpsdHdr{
    border:none;
    background: none;
}

.usrMsgFrame .icePnlClpsblColpsdHdr-dis{
    /*border-bottom: 1px;*/
    background: none;
}

.usrMsgFrame .icePnlClpsblColpsd{
    /*border:none;*/
}

.usrMsgFrame .icePnlClpsblHdr div{
    background: url('usrMsgCls.png') no-repeat;
    /*background-position: 0 -3px;*/
}

.usrMsgFrameColpsd .icePnlClpsblColpsdHdr div{
    background: url( 'usrMsgOpn.png' ) no-repeat;
    /*   background-position: 0 -3px;*/
}


.usrMsgFrame .icePnlClpsblColpsdHdr-dis div{
    background: none;
}

.usrMsgFrame .icePnlClpsblColpsdHdr div{
    /*image*/
    background: none;
}


.usrMsgFrameColpsd{
    /*border:none;*/
    background-color: #FFF8DA;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 5px;
}

.usrMsgTitle{
    font-weight: bold;
    font-size: 10px;
}

.usrMsgHeader{
    font-weight: bold;
    font-size: 11px;
    position:relative;
    left:20px;
}

.usrMsgText{
    font-size: 10px;
}

.successMsg{
    background-color: #CAFFD9;
}

.errorMsg{
    background-color: #FECCCC;
}

.warningMsg{
    background-color: #FDFECC;
}

.userMsgMessagesTable{
    margin: 0px;
    border-collapse: separate;
    background: transparent;
}

.userMsgMessagesTable .iceDatTblCol,.userMsgMessagesTable .iceDatTblCol1,.userMsgMessagesTable .iceDatTblCol2{
    border:none;
    padding: 0 3px;
}

.userMsgMessagesTable .iceDatTblRow,.userMsgMessagesTable .iceDatTblRow1,.userMsgMessagesTable .iceDatTblRow2{
    background: transparent;
}

.userMsgInnerTbl{
    width:100%;
}
.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;
}

.wizard_next{
    background-image: url(wizard_next_btn.png)!important;
    background-color:   transparent!important;
    margin: 0px!important;
    border: 0px!important;
    width:  56px!important;
    height:  43px!important;
    position: relative!important;
    color: transparent!important;
    font:   transparent!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
    padding:10px!important;
    font-size: 0px!important;
}

.wizard_next:hover{
    background-image: url(wizard_next_btn.png);
    background-repeat: no-repeat!important;
    height: 43px!important;
    width:56px!important;
    font-size: 0px!important;

}

.wizard_back{
    background-image: url(wizard_back_btn.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width:  56px!important;
    height:  43px!important;
    position: relative;
    color: transparent!important;
    font:   transparent!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0px!important;
    background-color:   transparent!important;
}

.wizard_back:hover{
    background-image: url(wizard_back_btn.png);
    background-repeat: no-repeat!important;
    height: 43px!important;
    width:56px!important;
    font-size: 0px!important;
}

.ui-button-icon-left{
    background: none !important;
    background-repeat:norepeat;
    background-image:url() !important ;

}

.ui-menuitem-link {
    background: none !important;
    border: 0px solid transparent;
    cursor: pointer;
    display: block;
    float: left;
    line-height: 16px;
    outline: medium none;
    padding: 0em;
    text-decoration: none;
    width: 92%;
    font-size: 10px !important;
    font-weight: 600 !important;

}

.ui-menu-link{
    background: none !important;
}
.wizard_skip{
    background-image: url(wizard_skip_btn.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width:  56px!important;
    height:  43px!important;
    position: relative;
    color: transparent!important;
    font:   transparent!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0px!important;
    background-color:   transparent!important;
}

.wizard_skip:hover{
    background-image: url(wizard_skip_btn.png);
    background-repeat: no-repeat!important;
    height: 43px!important;
    width:56px!important;
    font-size: 0px!important;
}
.wizard_exit{
    background-image: url(wizard_exit_btn.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width:  56px!important;
    height:  43px!important;
    position: relative;
    color: transparent!important;
    font:   transparent!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0px!important;
    background-color:   transparent!important;
}

.wizard_exit:hover{
    background-image: url(wizard_exit_btn.png);
    background-repeat: no-repeat!important;
    height: 43px!important;
    width:56px!important;
    font-size: 0px!important;
}

.wizard_separator {
    border: 0px;
    height: 0px;
}

.wizard_driver{
    border: 0px;
    height: 1px;
}


.lookUpButton_btn{
    text-decoration: none!important;
    position: relative!important;
    cursor: pointer;
    text-align: center!important;
    height: 16px!important;
    width:16px!important;
    border: 0px!important;
    margin: 0px!important;
    background-image: url("lookup_btn.png")!important;
    background-repeat: no-repeat !important;
    color: transparent  !important;
    display: inline-block;
    left: 0%;
    top: 0%;
    box-shadow: 0 0px 0 #FFFFFF inset;
    border-radius: 2px!important;
    /*padding-left: 10px!important;
    padding-right: 10px!important;*/
}

.lookUpButton_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.ui-state-default .lookUpButton_btn_icon{
    background-image: url("lookup_btn.png")!important;
    background-repeat: no-repeat !important;
    height: 16px!important;
    width:16px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    /*padding-left: 10px!important;
    padding-right: 10px!important;*/

}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;
}

.ctrlTable > tbody > tr{
    border: hidden;
}
.ctrlTable > tbody > tr > td{
    border: hidden;
}
.ui-selectonemenu .ui-selectonemenu-label{
    padding: 0px!important;
    width: 100%!important;
    max-width: 260px!important;
}
.ui-state-highlight a, .ui-widget-header .ui-state-highlight a{
    background: none!important;
    border: none!important;
    background: no-repeat 0 0;
    display: inline-block!important;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 15px;
    height: 15px;
    text-decoration: none;

}
.balloonStyle{
    border: 0px solid #D9D9D9;
    color: #484848;
    height: 20px;
    text-align: center;
    width: 42px;

}
.ui-state-highlight td  balloonStyle{
    border: 0px!important;
    margin: 0px!important;
    padding: 0px!important;
}

.ui-widget-content {
    /* background: url("/FABS-Web/javax.faces.resource/images/ui-bg_inset-hard_100_fcfdfd_1x100.png.iface?ln=primefaces-redmond") repeat-x scroll 50% bottom #FCFDFD;
    */

    background: #eee !important;
    border: 0px solid #A6C9E2;
    color: #222222;

}
.ui-datatable .ui-datatable-data td div.ui-dt-c,
.ui-datatable .ui-datatable-data-empty td div.ui-dt-c,
.ui-datatable tfoot div.ui-dt-c {
    overflow: visible;
    padding-left: 2px;

}

.ui-datatable div.ui-dt-c {
    position: relative;
    border-left: solid   0px!important;
    border-left-color: #CEE7FF!important;
    border-bottom: 1 solid   #0099FF!important;

}
.ui-widget-header {
    background: url("table_header_bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #D9D9D9;
    color: #484848;
    font-weight: bold;
    height: 20px;
    text-align: center;
}
.ui-widget-content .ui-datatable-even{
    background: #FCFAFA;
    border-left: 1px solid #d9d9d9;
}

.ui-widget-content .ui-datatable-odd{
    background: #e5eef3;
    border-left: 1px solid #d9d9d9;
}
.ui-widget-content .ui-datatable-even .ui-datatable-odd .ui-state-highlight{
    /*background: url("/FABS-Web/javax.faces.resource/images/ui-bg_flat_55_fbec88_40x100.png.iface?ln=primefaces-redmond") repeat-x scroll 50% 50% #FBEC88;
  
    */}
.ui-widget-header .ui-state-default .balloonStyle .ui-state-default {
    background: url("table_header_bg.png") repeat-x scroll 0 0;
}
.ui-widget-content .ui-corner-all .ui-shadow .balloonPanelStyleL .ui-overlay-visible{

    background: url(balloon_bg.png)!important;

}
.ui-datalist-item { list-style: none;
                    background: transparent!important }
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield{
    background: white!important;
}
.ui-datalist .ui-widget{
    background: transparent!important
}
.ui-datatable .ui-datatable-data .ui-state-highlight {
    border: 0px!important;
    background: #FFCC66 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #FFCC66 -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    margin: 0px!important;
    padding:0px!important;
    color:black!important;

}

/** Paginator **/
.ui-paginator-top{
    background: transparent;
    border:0px;

}
.ui-paginator-bottom{
    background: transparent;
    border:0px;
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    outline: medium none;
    padding: 2px 6px;
    text-decoration: none;
}
.ui-paginator .ui-paginator-pages{

}
.ui-paginator-page ui-state-default ui-state-active ui-corner-all{
    background-image: url(lookup_btn.png)!important;
    background-repeat: no-repeat;
}
.ui-paginator-page ui-state-default ui-corner-all{
    background-image: url(lookup_btn.png)!important;
}
/** edit style **/
.ui-icon-pencil{
    width: 20px;
    height: 20px;
    background-position: 0px 0px;
    background-image: url(edit_icon.png)!important;
    margin-left: 13px
}
.ui-icon-close{
    width: 20px!important;
    height: 20px!important;
    background-position: 0px 0px!important;
    background-image: url(undo_icon.png)!important;
    position:absolute ;
    z-index: 1005;
    margin-left: 25px
}
/**Lookup BTN**/

.ui-button-text-only .ui-button-text {
    padding: 0px;
    text-align: center;
    border: 0px!important;
    margin: 0px!important;
    background-color: transparent;
}
.ui-button-text{
    text-indent: 0px!important;
}
.ui-icon-plusthick {
    width: 16px!important;
    height: 16px!important;
    background-repeat:  no-repeat!important;
    background-image: none!important;
    /*background-image: url(plus.png)!important;*/
}

.ui-icon-triangle-1-s{
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    left: -2px!important;
    top: 3px!important;

}

.ui-state-disabled{
    opacity: 0.5!important;
}
/** edit icon style **/

.ui-icon-pencil{
    width: 20px;
    height: 20px;
    background-position: 3px 3px;
    background-image: url(ui-icon-pencil.png)!important;
    background-repeat: no-repeat!important;
}

.ui-icon-close{
    width: 20px!important;
    height: 20px!important;
    background-position: 0px 0px!important;
/*    background-image:transparent!important;*/
    background-image: url(ui-icon-close.png)!important;
}

.ui-icon-check{
    width: 15px!important;
    height: 15px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-check.png)!important;
    z-index: 1005;
}
/* positioning */

.ui-icon-carat-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-n.png)!important;
}

.ui-icon-carat-1-ne {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-ne.png)!important;
}

.ui-icon-carat-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-e.png)!important;
}

.ui-icon-carat-1-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-se.png)!important;
}

.ui-icon-carat-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-s.png)!important;
}

.ui-icon-carat-1-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-sw.png)!important;
}

.ui-icon-carat-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-w.png)!important;
}

.ui-icon-carat-1-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-nw.png)!important;
}

.ui-icon-carat-2-n-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-2-n-s.png)!important;
}

.ui-icon-carat-2-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-2-e-w.png)!important;
}

.ui-icon-triangle-1-n {
    background-image: url("ui-icon-triangle-1-n.png") !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.ui-icon-triangle-1-ne {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-1-ne.png)!important;
}

.ui-icon-triangle-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-1-e.png)!important;
}

.ui-icon-triangle-1-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-repeat: no-repeat!important;
    background-image: url(ui-icon-triangle-1-se.png)!important;
}
.ui-icon-triangle-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    //background-image: url(ui-icon-triangle-1-s.png)!important;
}

.ui-icon-triangle-1-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-1-sw.png)!important;
}

.ui-icon-triangle-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-1-w.png)!important;
}

.ui-icon-triangle-1-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-1-nw.png)!important;
}

.ui-icon-triangle-2-n-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-2-n-s.png)!important;
}

.ui-icon-triangle-2-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-2-e-w.png)!important;
}

.ui-icon-arrow-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-n.png)!important;
}

.ui-icon-arrow-1-ne {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-ne.png)!important;
}

.ui-icon-arrow-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-e.png)!important;
}

.ui-icon-arrow-1-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-se.png)!important;
}

.ui-icon-arrow-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-s.png)!important;
}

.ui-icon-arrow-1-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-sw.png)!important;
}

.ui-icon-arrow-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-w.png)!important;
}

.ui-icon-arrow-1-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-nw.png)!important;
}

.ui-icon-arrow-2-n-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-2-n-s.png)!important;
}

.ui-icon-arrow-2-ne-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-2-ne-sw.png)!important;
}

.ui-icon-arrow-2-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-2-e-w.png)!important;
}

.ui-icon-arrow-2-se-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-2-se-nw.png)!important;
}

.ui-icon-arrowstop-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowstop-1-n.png)!important;
}

.ui-icon-arrowstop-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowstop-1-e.png)!important;
}

.ui-icon-arrowstop-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowstop-1-s.png)!important;
}

.ui-icon-arrowstop-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowstop-1-w.png)!important;
}

.ui-icon-arrowthick-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-n.png)!important;
}

.ui-icon-arrowthick-1-ne {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-ne.png)!important;
}

.ui-icon-arrowthick-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-e.png)!important;
}

.ui-icon-arrowthick-1-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-se.png)!important;
}

.ui-icon-arrowthick-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-s.png)!important;
}

.ui-icon-arrowthick-1-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-sw.png)!important;
}

.ui-icon-arrowthick-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-w.png)!important;
}

.ui-icon-arrowthick-1-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-nw.png)!important;
}

.ui-icon-arrowthick-2-n-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-2-n-s.png)!important;
}

.ui-icon-arrowthick-2-ne-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-2-ne-sw.png)!important;
}

.ui-icon-arrowthick-2-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-2-e-w.png)!important;
}

.ui-icon-arrowthick-2-se-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-2-se-nw.png)!important;
}

.ui-icon-arrowthickstop-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthickstop-1-n.png)!important;
}

.ui-icon-arrowthickstop-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthickstop-1-e.png)!important;
}

.ui-icon-arrowthickstop-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthickstop-1-s.png)!important;
}

.ui-icon-arrowthickstop-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthickstop-1-w.png)!important;
}

.ui-icon-arrowreturnthick-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturnthick-1-w.png)!important;
}

.ui-icon-arrowreturnthick-1-n {
    /*background-image: url(upload_btn.png)!important;*/
    margin: 0px!important;
    border: 0px!important;
    width: 48px!important;
    height:36px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
    top:  -2px!important;
    left: -2px!important;  
}

.ui-icon-arrowreturnthick-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturnthick-1-e.png)!important;
}

.ui-icon-arrowreturnthick-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturnthick-1-s.png)!important;
}

.ui-icon-arrowreturn-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturn-1-w.png)!important;
}

.ui-icon-arrowreturn-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturn-1-n.png)!important;
}

.ui-icon-arrowreturn-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturn-1-e.png)!important;
}

.ui-icon-arrowreturn-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturn-1-s.png)!important;
}

.ui-icon-arrowrefresh-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowrefresh-1-w.png)!important;
}

.ui-icon-arrowrefresh-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowrefresh-1-n.png)!important;
}

.ui-icon-arrowrefresh-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowrefresh-1-e.png)!important;
}

.ui-icon-arrowrefresh-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowrefresh-1-s.png)!important;
}

.ui-icon-arrow-4 {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-4.png)!important;
}

.ui-icon-arrow-4-diag {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-4-diag.png)!important;
}

.ui-icon-extlink {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-extlink.png)!important;
}

.ui-icon-newwin {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-newwin.png)!important;
}

.ui-icon-refresh {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-refresh.png)!important;
}

.ui-icon-shuffle {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-shuffle.png)!important;
}

.ui-icon-transfer-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-transfer-e-w.png)!important;
}

.ui-icon-transferthick-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-transferthick-e-w.png)!important;
}

.ui-icon-folder-collapsed {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-folder-collapsed.png)!important;
}

.ui-icon-folder-open {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-folder-open.png)!important;
}

.ui-icon-document {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-document.png)!important;
}

.ui-icon-document-b {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-document-b.png)!important;
}

.ui-icon-note {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-note.png)!important;
}

.ui-icon-mail-closed {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-mail-closed.png)!important;
}

.ui-icon-mail-open {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-mail-open.png)!important;
}

.ui-icon-suitcase {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-suitcase.png)!important;
}

.ui-icon-comment {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-comment.png)!important;
}

.ui-icon-person {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-person.png)!important;
}

.ui-icon-print {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-print.png)!important;
}

.ui-icon-trash {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-trash.png)!important;
}

.ui-icon-locked {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-locked.png)!important;
}

.ui-icon-unlocked {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-unlocked.png)!important;
}

.ui-icon-bookmark {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-bookmark.png)!important;
}

.ui-icon-tag {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-tag.png)!important;
}

.ui-icon-home {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-home.png)!important;
}

.ui-icon-flag {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-flag.png)!important;
}

.ui-icon-calendar {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-calendar.png)!important;
}

.ui-icon-cart {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-cart.png)!important;
}
/*.ui-icon-pencil {
  width: 16px!important;
  height: 16px!important;
  background-position: 0px 0px!important;

  background-image: url(ui-icon-pencil.png)!important;
}*/

.ui-icon-clock {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-clock.png)!important;
}

.ui-icon-disk {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-disk.png)!important;
}

.ui-icon-calculator {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-calculator.png)!important;
}

.ui-icon-zoomin {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-zoomin.png)!important;
}

.ui-icon-zoomout {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-zoomout.png)!important;
}

.ui-icon-search {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-search.png)!important;
}

.ui-icon-wrench {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-wrench.png)!important;
}

.ui-icon-gear {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-gear.png)!important;
}

.ui-icon-heart {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-heart.png)!important;
}

.ui-icon-star {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-star.png)!important;
}

.ui-icon-link {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-link.png)!important;
}

.ui-icon-cancel {
    width: 16px!important;
    height: 15px!important;
    background-position: 0px 0px!important;
    /*background-image: url(ui-icon-cancel.png)!important;*/
    top:  -2px!important;
    left: -2px!important;  
}

.ui-icon-plus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-plus.png)!important;
}

.ui-icon-minus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-minus.png)!important;
}

.ui-icon-minusthick {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: none!important;
    /*background-image: url(ui-icon-minusthick.png)!important;*/
    background-repeat:  no-repeat!important;
}
/*.ui-icon-close {
  width: 16px!important;
  height: 16px!important;
  background-position: 0px 0px!important;

  background-image: url(ui-icon-close.png)!important;
}*/

.ui-icon-closethick {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-closethick.png)!important;
}

.ui-icon-key {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-key.png)!important;
}

.ui-icon-lightbulb {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-lightbulb.png)!important;
}

.ui-icon-scissors {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-scissors.png)!important;
}

.ui-icon-clipboard {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-clipboard.png)!important;
}

.ui-icon-copy {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-copy.png)!important;
}

.ui-icon-contact {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-contact.png)!important;
}

.ui-icon-image {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-image.png)!important;
}

.ui-icon-video {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-video.png)!important;
}

.ui-icon-script {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-script.png)!important;
}

.ui-icon-alert {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-alert.png)!important;
}

.ui-icon-info {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-info.png)!important;
}

.ui-icon-notice {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-notice.png)!important;
}

.ui-icon-help {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-help.png)!important;
}
/*.ui-icon-check {
  width: 16px!important;
  height: 16px!important;
  background-position: 0px 0px!important;

  background-image: url(ui-icon-chec.png)!important;
}*/

.ui-icon-bullet {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-bullet.png)!important;
}

.ui-icon-radio-off {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-radio-off.png)!important;
}

.ui-icon-radio-on {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-radio-on.png)!important;
}

.ui-icon-pin-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-pin-w.png)!important;
}

.ui-icon-pin-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-pin-s.png)!important;
}

.ui-icon-play {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-play.png)!important;
}

.ui-icon-pause {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-pause.png)!important;
}

.ui-icon-seek-next {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background: no-repeat!important;
    background-image: url(Next-2-icon.png)!important;
}

.ui-icon-seek-prev {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background: no-repeat!important;
    background-image: url(Arrow-Left-2-icon.png)!important;
}

.ui-icon-seek-end {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background: no-repeat!important;
    background-image: url(Arrow-Next-icon.png)!important;
}

.ui-icon-seek-start {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background: no-repeat!important;
    background-image: url(ui-icon-seek-start.png)!important;
}
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */

.ui-icon-seek-first {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background: no-repeat!important;
    background-image: url(Arrow-Back-2-icon.png)!important;
}

.ui-icon-stop {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-stop.png)!important;
}

.ui-icon-eject {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-eject.png)!important;
}

.ui-icon-volume-off {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-volume-off.png)!important;
}

.ui-icon-volume-on {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-volume-on.png)!important;
}

.ui-icon-power {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-power.png)!important;
}

.ui-icon-signal-diag {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-signal-diag.png)!important;
}

.ui-icon-signal {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-signal.png)!important;
}

.ui-icon-battery-0 {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-battery-0.png)!important;
}

.ui-icon-battery-1 {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-battery-1.png)!important;
}

.ui-icon-battery-2 {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-battery-2.png)!important;
}

.ui-icon-battery-3 {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-battery-3.png)!important;
}

.ui-icon-circle-plus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-plus.png)!important;
}

.ui-icon-circle-minus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-minus.png)!important;
}

.ui-icon-circle-close {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-close.png)!important;
}

.ui-icon-circle-triangle-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-triangle-e.png)!important;
}

.ui-icon-circle-triangle-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-triangle-s.png)!important;
}

.ui-icon-circle-triangle-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-triangle-w.png)!important;
}

.ui-icon-circle-triangle-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-triangle-n.png)!important;
}

.ui-icon-circle-arrow-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-arrow-e.png)!important;
}

.ui-icon-circle-arrow-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-arrow-s.png)!important;
}

.ui-icon-circle-arrow-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-arrow-w.png)!important;
}

.ui-icon-circle-arrow-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-arrow-n.png)!important;
}

.ui-icon-circle-zoomin {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-zoomin.png)!important;
}

.ui-icon-circle-zoomout {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-zoomout.png)!important;
}
/*.ui-icon-circle-check {
  width: 16px!important;
  height: 16px!important;
  background-position: 0px 0px!important;

  background-image: url(ui-icon-circle-check.png)!important;
}*/

.ui-icon-circlesmall-plus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circlesmall-plus.png)!important;
}

.ui-icon-circlesmall-minus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circlesmall-minus.png)!important;
}

.ui-icon-circlesmall-close {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circlesmall-close.png)!important;
}

.ui-icon-squaresmall-plus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-squaresmall-plus.png)!important;
}

.ui-icon-squaresmall-minus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-squaresmall-minus.png)!important;
}

.ui-icon-squaresmall-close {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-squaresmall-close.png)!important;
}

.ui-icon-grip-dotted-vertical {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-grip-dotted-vertical.png)!important;
}

.ui-icon-grip-dotted-horizontal {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-grip-dotted-horizontal.png)!important;
}

.ui-icon-grip-solid-vertical {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-grip-solid-vertical.png)!important;
}

.ui-icon-grip-solid-horizontal {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-grip-solid-horizontal.png)!important;
}

.ui-icon-gripsmall-diagonal-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-gripsmall-diagonal-se.png)!important;
}

.ui-icon-grip-diagonal-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-grip-diagonal-se.png)!important;
}

/**checkbox**/

.ui-chkbox {
    background: transparent!important;
}

.ui-chkbox .ui-chkbox-box{
    margin-left:2px!important;
    box-shadow: 0 1px 1px #8F8F8F inset;
    -moz-border-radius: 0px;
    background: white!important;
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 1px;
}
.ui-chkbox-box:hover{
    box-shadow: 0 2px 2px #8F8F8F inset!important;
    -moz-border-radius: 0px!important;
    background: white!important;
    width: 14px!important;
    height: 14px!important;
}
.ui-chkbox-box ui-widget ui-state-default ui-state-active{
    background-image: url(button.png);
}


tr.ui-datatable-even:hover{
    color:graytext;
    box-shadow:  0 0 8px   #009999  ;
    background: #009999 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #009999 -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
}
tr.ui-datatable-odd:hover{
    color:graytext;
    box-shadow:  0 0 8px   #009999  ;
    background: #009999 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #009999 -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
}
/** menu **/
.ui-menu ui-menu-dynamic{
    background-color: #CC0099!important;

}

.ui-overlaypanel ui-widget ui-widget-content ui-corner-all ui-shadow balloonPanelStyleL ui-overlay-visible {
    border-radius: 10px;
}
.ui-state-default {
    background:none no-repeat transparent;
    border: 0px solid #C5DBEC;    
    font-weight: bold;
}
.ui-selectonemenu-items{
    background:#D3E7ED/* #009999 -moz-linear-gradient(top, rgba(172, 237, 249, 0.8), rgba(255, 255, 255, 0))*/;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.ui-selectonemenu-item{
    color: #000;
    font-size: 10px;
}

.ui-selectonemenu-item:hover, .ui-selectonemenu-item:active, .ui-selectonemenu-item:visited{
    color: #999;
    font-size: 10px;
    font-weight: bold;
    background: transparent!important;
    text-shadow: 0 0px 0px #234386!important;
}
.ui-selectonemenu-item ui-selectonemenu-list-item ui-corner-all ui-state-highlight{
    background: transparent!important;
    padding-bottom: 1px;
    border-bottom: 0px solid;
    border-bottom-color: yellow;
    border-radius: 0px;
    color: #FF0099!important;
    max-width: 260px!important;
}
ui-selectonemenu-item ui-selectonemenu-list-item ui-corner-all ui-state-active{
    color: #FFF !important;
    font-weight: bold;
    text-shadow: 0 0px 0px #234386;
    margin: 0px!important;
    box-shadow: 0px 5px 5px #FFFFFF inset !important;
}
.ui-selectonemenu-panel:hover .ui-selectonemenu-list-item:hover{
    background-color:#F5F5F5!important;; 
    color: #5070F2!important;;
    font-size: larger !important;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border: 0 none;
    cursor: pointer;
    margin: 0px;
    padding-bottom: 0px;
    text-align: justify;
    white-space: nowrap;
    background: transparent!important;
    color:#000!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
}
.ui-corner-all{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    /*border-radius: 2px;*/
    
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background:transparent;
    border: 0px solid #FAD42E;
}
.ui-button-text-icon-left .ui-button-text {
    padding: 0px;
}


ui-widget-content ui-menu-list ui-corner-all ui-helper-clearfix ui-menu-child ui-shadow{
    z-index: 5000;
}
.ui-button-text-icon-left .ui-button-text {
    background: transparent!important;

}
ui-state-default ui-sortable-column ui-filter-column{
    background-image: url(table_header_bg.png);
    background-repeat: repeat-x;

}

.ui-button-icon-only .ui-button-text{

}
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield{
    background: none repeat scroll 0 0 white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 200 !important;
    color:  #003366 !important;
}
.ui-panel-titlebar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-shadow: none !important;
    color:  #FFF;
    height: 16px!important;
    background: #009999 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #009999 -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    background: #004E76 -moz-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0))!important;
    background: #004E76 -webkit-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0))!important;
    border-bottom: medium none;
    border-right: medium none;
    border-top: medium none;
    cursor: pointer;
    height: 100%;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    max-width: 260px!important;
}
.dropDownMenu{
    width:fit-content;
    max-width:fit-content; 
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    background: #004E76 -moz-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0))!important;
    background: #004E76 -webkit-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0))!important;
    border-bottom: medium none;
    border-right: medium none;
    border-top: medium none;
    cursor: pointer;
    height: 100%;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    max-width: 260px!important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    background-image: url("menu_expand.png") !important;
    border-radius: 2px 2px 2px 2px !important;
    left: 2px !important;
    margin: 0;
    position: absolute;
    top: 4px !important;
    max-width: 260px!important;
}
.ui-corner-right {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.ui-panel .ui-panel-titlebar-icon{
    background: none repeat scroll 0 0 transparent !important;
    border: 0px solid red !important;
    height: 16px !important;
    margin: 0;
    padding: 0;
    width: 100% !important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
}
.ui-inputfield{
    height: 16px!important;
    padding: 1px!important;
    text-shadow: none!important;
    font-size: 11px!important;
    font-weight: normal!important;
    background: none repeat scroll 0 0 white!important;
    color:  #003366 !important;  
}
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield{
    background: white!important;
}
.disabled_lookup{
    height: 16px;
    padding: 1px;
    text-shadow: none;
    font-size: 11px;
    font-weight: normal;
    width: 100%px;
}
.editable_lookup{
    height: 16px;
    padding: 1px;
    text-shadow: none;
    font-size: 11px;
    font-weight: normal;
    width: 100px;
}
.ui-state-default .ui-icon {
    background: none;
    background-image:none;//!important
}

.ui-button-text{
    text-indent:0px!important
        font-size:11px!important;
}
.fileupload-buttonbar{
    margin: 0px!important;
    border: 0px!important;
    height: 0px!important;
    padding: 0px!important;
}
.ui-message-error-detail{
    font-size: 9px!important;
}
.ui-message-error-icon {
    /*background-position: 0 -97px;   */
    background: none;
}
.tree_node_folder_text{
    font-size: 11px!important;
    color: #000;
}
.tree_node_folder_expand{
    width: 16px!important;
    height: 16px!important;
}
.tree_main_style{
    background: #eeeeee
}
.tree_node_folder_collaps{
    background: transparent!important;
}
.ui-chkbox ui-widget tree_node_folder_expand{
    width: 12px!important;
    height: 12px!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: transparent;
    border: 0px solid #A8A8A8;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    max-width: 260px!important;
    color: #02020255  ;
    box-shadow: 0px 1px 1px #0003;
}
.ui-datepicker-buttonpane .ui-state-default,.ui-datepicker-buttonpane.ui-widget-content .ui-state-default,.ui-datepicker-buttonpane.ui-widget-header .ui-state-default{
    background: #336fff !important;
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #0005;}
    .ui-timepicker-div .ui-slider-handle{
        background: #336fff !important;
        border-radius: 50px !important;
        transform: scale(0.8);
        margin-top: 2px;
        opacity: 0.7;
    }
    .ui-timepicker-div .ui-slider-handle:hover{
        opacity: 1;
    }
.main_context_menu{
    background: -moz-linear-gradient(center top , rgba(172, 237, 249, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0 0 #009999;
    background: -webkit-linear-gradient(center top , rgba(172, 237, 249, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0 0 #009999;
    padding: 0px!important ;
    border: 0px!important;
    margin: 0px!important;
}
.ui-menu:hover .ui-menuitem-link:hover{
    color: white!important;
}
.ui-menu .ui-menuitem-link {
    border: 0px solid transparent;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: 500;
    line-height: 15px;
    outline: medium none;
    text-decoration: none;
    width: 92%;
    font-variant: sub!important;
    font-size: 13px!important;
    font-weight: 300!important;
    margin-left: 15px;
    width: auto;
    color: black;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    display: inline-block;
    float: left;
}
.ui-widget-content .ui-icon {
    background-image:none;
}

.lookUpButton_btn{
    text-decoration: none!important;
    position: relative!important;
    cursor: pointer;
    text-align: center!important;
    height: 16px!important;
    width:16px!important;
    border: 0px!important;
    margin: 0px!important;
    background-image: url("lookup_btn.png")!important;
    background-repeat: no-repeat !important;
    color: transparent  !important;
    display: inline-block;
    left: 0%;
    top: 0%;
    box-shadow: 0 0px 0 #FFFFFF inset;
    border-radius: 2px!important;
    font-size: 0!important;
}

.lookUpButton_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.ui-state-default .lookUpButton_btn_icon{
    background-image: url("lookup_btn.png")!important;
    background-repeat: no-repeat !important;
    height: 16px!important;
    width:16px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;

}

.ui-button ui-widget ui-state-default {
    background: transparent!important;
}

.pick_btn {
    background-image: url(pick_btn.png)!important;
    background-repeat: no-repeat!important;
    margin: 0px!important;
    border: 0px!important;
    width: 30px!important;
    height:30px!important;
    position: relative;
    font-size: 0!important;
}

.pick_btn_icon{
    margin: 0px!important;
    border: 0px!important;
    background: no-repeat!important;
    background: none transparent!important;
    display: inline-block!important;
    /*background-image: url(pick_btn.png)!important;*/
    background-position: 0px 0px!important;
    /*    width: 53px!important;
        height:44px!important;*/
    /*    left:   -1px!important;
        top:  -2px!important;*/
}

.cancel_btn {
    background-image: url(cancel_btn.png)!important;
    background-repeat: no-repeat!important;
    margin: 0px!important;
    border: 0px!important;
    width: 30px!important;
    height:30px!important;
    position: relative;
    font-size: 0!important;
}
.trash_btn {
    background-image: url(trash.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width: 46px!important;
    height:36px!important;
    position: relative;
    font-size: 0!important;
}
.ui-icon-cancel {
    /*background-image: url(cancel_btn.png)!important;*/
    margin: 0px!important;
    border: 0px!important;
    width: 46px!important;
    height:39px!important;
    position: relative;
    font-size: 0!important;
}

.ui-state-default .cancel_btn_icon{
    margin: 0px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-image: url(cancel_btn.png)!important;
    background-position: 0px 0px!important;
    width: 53px!important;
    height:44px!important;
    left:   -1px!important;
    top:  -2px!important;
}

.reset_btn {
    background-image: url(reset_btn.png)!important;
    background-repeat: no-repeat!important;
    margin: 0px!important;
    border: 0px!important;
    width: 30px!important;
    height:30px!important;
    position: relative;
    font-size: 0!important;
}
.download_btn {
    background-image: url(DownloadResurce.jpeg)!important;
    margin: 0px!important;
    border: 0px!important;
    width: 55px!important;
    height:50px!important;
    position: relative;
    font-size: 0!important;
}

/*.reset_btn_icon{
    margin: 0px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-image: url(reset_btn.png)!important;
    background-position: 0px 0px!important;
    width: 53px!important;
    height:44px!important;
    left:   -1px!important;
    top:  -2px!important;
}*/


/** Date Picker Design**/
#ui-timepicker-div{
    background: #009999 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
    background: #009999 -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
    padding: 0.2em;
}
/** whole Div of datepicker **/
.ui-datepicker{
    background: #fff !important;
    border-radius: 5px;
    padding: 0px!important;
    margin: 0px!important;
    border: 0px!important;
    width: 200px;
}
.ui-datepicker td{
    padding: 0px!important;
    margin: 0px!important;
    border: 0px!important;
}
/* all day normally without today */
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    background: none repeat scroll 0 0 transparent;
    margin: 0px!important;
    border: 0px!important;
    color: #a0a0a0;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight {
    color: white !important;
    font-weight: bold;
    text-shadow: 0 2px 1px #234386;
    margin: 0px!important;
    border: 0px!important;
}
.ui-datepicker .ui-datepicker-calendar {
    color: #868686 !important;
    font-weight: bold;
    text-shadow: 0 2px 1px #b3b3b3;
    margin: 0px!important;
    box-shadow: 0px 5px 5px #FFFFFF inset !important;
}


.ui-datepicker .ui-datepicker-current-day .ui-state-highlight{
    color: red !important;
    font-weight: bold;
    text-shadow: 0 2px 1px #234386;
    margin: 0px!important;
    border: 0px!important;
}
.ui-datepicker .ui-datepicker-current-day .ui-state-active {
    color: yellow !important;
    font-weight: bold;
    text-shadow: 0 2px 1px #234386;
    margin: 0px!important;
    box-shadow: 0px 5px 5px #FFFFFF inset !important;
}

.ui-datepicker .ui-datepicker-current-day .ui-state-default{
    color: #336fff  !important;
    font-weight: bold;
    text-shadow: 0 2px 1px #fff;
    margin: 0px!important;
    box-shadow: 0px 5px 5px #FFFFFF inset !important;
}

.ui-datepicker-header{
    background:transparent!important;
    border-bottom: 1px solid #FFF;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;

}

.ui-datepicker-calendar{
    background:transparent!important;
}

.ui-datepicker-today{
}

.ui-datepicker-days-cell-over  {
    color: #000!important;
}

.ui-datepicker-other-month{
    color:white!important;
}

.ui-datepicker-unselectable{
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
}



.upload_btn{
    background-image: url(upload_btn.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width: 48px!important;
    height:39px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
}

.upload_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.ui-state-default .upload_btn_icon{
    margin: 2px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-position: 0px 0px!important;
    width: 52px!important;
    height:43px!important;
    left:  -2px!important;
    top:  -3px!important;
    z-index: 1005;
    box-shadow: none;
    border-radius: 0px;
}

.report_btn{
    background-color: transparent !important;
    background-image: url("report_btn.png") !important;
    background-repeat: no-repeat !important;
    border: 0 none !important;
    border-radius: 0 0 0 0 !important;
    box-shadow: 0 0 0 #FFFFFF inset !important;
    font-size: 0 !important;
    height: 75px !important;
    margin: 0 !important;
    width: 70px !important;
}
.report_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.ui-state-default .report_btn_icon{
    margin: 2px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-position: 0px 0px!important;
    width: 52px!important;
    height:43px!important;
    left:  -2px!important;
    top:  -3px!important;
    z-index: 1005;
    box-shadow: none;
    border-radius: 0px;
}
.general_btn {
    color: #336fff!important;
    font-size: 10px;
    height: 25px !important;
    margin: 0 !important;
    width: auto !important;
    overflow: hidden !important;
    background: #FFF!important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: Arial;
    font-size: 10px!important;
    font-weight: bolder!important;
    box-shadow: 0px 0px 10px #0002 !important;
    transition: all 0.3s linear;
    font-size: small !important;
    padding: 3px 7px !important;
    border: 1px solid #336fff !important;
}
.general_btn:hover{
    color: #fff !important;
    background: #336fff !important;
    border: 1px solid #336fff !important;
}
.ui_tree_node_red{
    color: red!important;
    font-size: 12px;
    width: 150px!important;
}
.ui_tree_node_blue{
    color: black!important;
    font-size: 12px;
}
.ui_tree_node_green{
    color: green!important;
    font-size: 12px;
}
.ui_tree_node_orange{
    color: orange!important;
    font-size: 12px;
}
.ui-fldr {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-squaresmall-minus.png)!important;
}
.ui-treenode-leaf-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image:url(ui-icon-carat-1-e.png)!important;
    background-repeat: no-repeat;
    background-position: center left;
    left:20px;
    top:2px;
    position: relative;
    padding-right: 5px;
}
.tree-node-xpnd{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image:url(ui-icon-folder-open.png)!important;
    background-repeat: no-repeat;
    background-position: center left;
    left:0px;
    top:2px;
    position: relative;
    padding-right: 5px;
}
.ui-state-highlight .ui_tree_node_blue {
    font-weight: 600!important;
    text-shadow: none!important;
    text-indent: 5px!important;
    font-size: 12px;
    text-decoration: underline;
}
.ui-state-highlight .ui_tree_node_red {
    font-weight: 600!important;
    text-shadow: none!important;
    text-indent: 5px!important;
    font-size: 12px;
    text-decoration: underline;
}
.ui-state-highlight .ui_tree_node_green {
    font-weight: 600!important;
    text-shadow: none!important;      font-size: 12px;  text-decoration: underline;
    text-indent: 5px!important;
}
.ui-state-highlight .ui_tree_node_orange {
    font-weight: 600!important;
    text-shadow: none!important;    font-size: 12px;    text-decoration: underline;  
    text-indent: 5px!important;
}
.ui_tree_node_blue:hover {
    font-weight: 600!important;
    text-shadow: none!important;
    text-indent: 5px!important;
    text-decoration: underline;
}
.ui_tree_node_green:hover {
    font-weight: 600!important;
    text-shadow: none!important;
    text-indent: 5px!important;
    text-decoration: underline;
}.ui_tree_node_orange:hover {
    font-weight: 600!important;
    text-shadow: none!important;
    text-indent: 5px!important;
    text-decoration: underline;
}.ui_tree_node_red:hover {
    font-weight: 600!important;
    text-shadow: none!important;
    text-indent: 5px!important;
    text-decoration: underline;
}
.ui-treenode-label:hover{
    background-color: transparent!important;
    border-radius: 0px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
}

.ui-tree .ui-treenode-label {
    display: inline-block;
    margin-top: -9px;
    padding: 0;
    vertical-align: top;
}

ui-treenode-connector-line {
    background: url("#{resource['primefaces:tree/images/line.gif']}") repeat-y scroll 0 0 transparent;
    width: 1px;
}


.loading-icon{
    /*right:25px!important;
    bottom: 25px!important;
     position: fixed;*/
    top: 0px!important;
    left: 0px!important;
    position: relative!important;
    height: 26px!important;
    width: 26px!important;
    background-image: url(connect_idle.gif)!important;
    background-repeat: no-repeat!important;
    background-color: transparent !important;
}
.loading-active{
    /*right:25px!important;
    bottom: 25px!important;
     position: fixed;*/
    top: 0px!important;
    /*left: -1px!important;*/
    position: relative!important;
    height: 26px!important;
    width: 26px!important;
    background-image: url(connect_active.gif);
    background-repeat: no-repeat!important;
    display: block!important;
}
.lkp-message-error-detail{
    border: 1px solid;
    margin: 0 5px;
    padding: 2px 5px;
    background-color: #FFBABA;
    color: #D8000C;
    font-family: Arial,sans-serif;
    font-size: 9px;
    position: relative;
}

.usr-message-title{
    font-weight: bold;
    font-size: 10px;
}

.usr-message-header{
    font-weight: bold;
    font-size: 11px;
    position: relative;
    left: 20px;
}

.usr-msg-frame{
    border-radius: 3px;
    width: 100%;
    border: 1px solid;
    border-color: #CC0042;
    background:#FFEFB7 -moz-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    background:#FFEFB7 -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    padding: 0px!important;
    margin: 0px;
}
.usr-msgs-table{
    border-color: #000000;
    background-color: #C9E4E4;
}

.usr-message-info,
.usr-message-success,
.usr-message-warning,
.usr-message-error,
.usr-message-validation {
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 50px;
}

.usr-message-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}

.usr-message-success {
    color: #4F8A10!important;
    background-color: #DFF2BF!important;
    background-image: url('success.png')!important;
    display: block!important;
}

.usr-message-warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}

.usr-message-error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}
.ui-panel-titlebar {
    border-radius: 0px;
    height: 16px!important;
    padding: 5px!important;
    margin: 0px;
    color: rgb(67, 67, 67);
    font-size: 14px;
    background:#adbbff -moz-linear-gradient(right top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    background:#adbbff -webkit-linear-gradient(right top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    border-left-width: 0px;
    box-shadow: 0px 3px 10px #0002;
    border-bottom-width: 0px;
    border-right-width: 0px ;
    box-shadow:0px!important;
    margin-top: 40px;
}
.usr-msg-header-lbl{
    color: #333333;
    font-size: 11px;
    font-weight: 600;
    font-family: @Arial Unicode MS;
    text-shadow: none!important;
    text-decoration: none!important;
}
.usr-msg-green{
    border-radius: 3px;
    width: 100%;
    border: 1px solid;
    border-color: #666666;
    background:#FFF9E1 -moz-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    background:#FFF9E1 -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    padding: 0px!important;
    margin: 0px;
}
.usr-msg-orange{
    border-radius: 3px;
    width: 100%;
    border: 1px solid;
    border-color: #FF6600;
    background:#FFEFB7 -moz-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    background:#FFEFB7 -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    padding: 0px!important;
    margin: 0px;
}
.usr-msg-red{
    border-radius: 3px;
    width: 100%;
    border: 1px solid;
    border-color: #CC0000;
    background:#F8C09E -moz-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    background:#F8C09E -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    padding: 0px!important;
    margin: 0px;
}
.usr-msg-header-pnl{

}
.ui-panel-title{
    margin: 0px;
}
.ui-panel-titlebar-icon {
    border: 0px solid black !important;
    float: none !important;
    height: 14px !important;
    left: 0 !important;
    position: fixed;
    right: 0 !important;
    width: 100% !important;
}

.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus{
    box-shadow: 0 1px 0 #FFFFFF inset!important;
}


.ui-inputfield,
.ui-widget-content .ui-inputfield,
.ui-widget-header .ui-inputfield {
    box-shadow: 0 0px 0px;
    font-family: @Arial Unicode MS;
    font-size: 12px!important;
    font-weight: normal;
    color:#000000!important;
    width: 100%;
    min-width:50px;
    border-color: #27272730!important;
    border-style: outset;
    border-width: 0.7px!important;
    border-radius:6px !important;
    box-shadow: 0px 2px 10px #0003 !important;
    padding: 5px 0px !important;
}
.hlp-img {
    background: none repeat scroll 0 0 transparent !important;
    padding-left: 5px !important;
    vertical-align: middle;
}
.forward_btn {
    background-clip: border-box !important;
    background-color: white !important;
    background-image: url("forward_btn.png") !important;
    background-origin: padding-box !important;
    background-position: 5px 0 !important;
    background-repeat: no-repeat;
    background-size: auto auto !important;
    border: 0 none !important;
    border-radius: 2px 2px 2px 2px !important;
    box-shadow: 0 0 0 #FFFFFF inset !important;
    font-size: 0 !important;
    height: 39px !important;
    margin: 2px !important;
    width: 48px !important;
}

.forward_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.history_btn_1 {
    background-image: url(history_btn_1.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width: 48px!important;
    height:39px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
}

.history_btn_1:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.keep_btn {
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: white;
    background-image: url("keep_btn.png") !important;
    background-origin: padding-box !important;
    background-position: 10px 5px !important;
    background-repeat: no-repeat;
    background-size: auto auto !important;
    border: 0 none !important;
    border-radius: 2px 2px 2px 2px !important;
    box-shadow: 0 0 0 #FFFFFF inset !important;
    font-size: 0 !important;
    height: 39px !important;
    margin: 2px !important;
    width: 48px !important;
}

.keep_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.custom_btn {
    margin: 0px!important;
    border: 0px!important;
    width: 100px!important;
    height:39px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
}

.custom_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}
.ui-state-default .keep_btn_icon {
    background: url("img4.gif") no-repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: inline-block !important;
    height: 39px !important;
    left: -2px !important;
    margin: 2px !important;
    top: -3px !important;
    width: 50px !important;
    z-index: 1005;
}

translation-flag{
    padding-left: 5px!important;
    padding-right: 5px!important;
}
.tool-tip{
    width: 200px;
    font-size: 10px;
    font-family: @Arial Unicode MS;
    background-color: #FFFFE6;
    border :1px #666666 solid !important;
    position: fixed;
    //position: absolute;
    left: -2px;
    top: -2px;
    white-space: wrap;    
}
.img-cntrl{
    height: 100px!important;
    /*width: 100px!important;*/
}
.OTMSSelectManyListbox{
    height: 120px!important;
    width: 170px!important;
    box-shadow: 0 1px 1px #333 inset;
    border: 1px solid #CCCCCC !important;
    /*text-align: left;*/
}
.ui-icon-choose {
    background-image: url("pick_btn.png") !important;
    background-position: 0 0 !important;
    height: 40px !important;
    left: -2px !important;
    top: 5px !important;
    width: 48px !important;
}

.ui-selectonemenu-panel  {
    /*   height: 100px !important;*/
    background: none repeat scroll 0 0 #D3E7ED;
    overflow: auto;
    opacity: 0.9;
}
.ui-selectonemenu-items-wrapper{
    position:relative!important;
    overflow: auto !important;
    height: 90px !important;
    background-color: transparent;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px!important;
  font-weight: bolder!important;
  padding: 0px 0px 0px 0px;
   border:1px solid #eeeeee;
}

.ui-selectonemenu-filter-container{
    background-color: #fff;
    border: 1px solid #eeeeee;
}

.ui-selectonemenu-list {
    border: 0 none;
    /* height: 200px !important;*/
    overflow: auto;
    padding: 0em;
    position:absolute!important;
    width: 94%!important;
    background: #fff !important;
        
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    text-shadow:0 0 0;
    color:blue!important;
}
.ui-overlaypanel {
    padding: 0.0;
    position: absolute;

}
balloon-overlay {
    background-color : #E1F3FA!important;
    display: block;
    visibility: visible;
}
.ui-overlay-visible {
    visibility: visible;
    background: -moz-linear-gradient(top, #fffdc2 10%, #fefce2 100%);
    background: -webkit-linear-gradient(top, #fffdc2 10%, #fefce2 100%);
    border-radius: 5px;
}
.ui-shadow {
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
}

.ui-overlaypanel > table{
    display: block;
}
.actionTablePanel {
    height: 110px;
    left: 10px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    position: absolute;
    text-align: left;
    top: 20px !important;
    width: 180px !important;
    background: transparent !important;
}
.actionTablePanel tr:hover{
    font-size: 13px;
    color: #000 !important;
}

.actionTablePanel > div {
    left: 0px !important;
    position: absolute;
    width: 100% !important;
    height: 100% !important;

}
.actionTablePanel > div > div{
    left: 0px !important;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden !important;
    overflow-y: visible !important;
}
.actionTablePanel > div > div+ div +div{
    display: none!important;

}
.actionTablePanel li{
    width: 130px !important;
}
.mainTablePanel {
    display: block;
    left: 0;
    position: relative;
    width: 200px !important;
}
.balloon_action_link {
    font-family: @Arial Unicode MS!important;
    background: transparent!important;
    font-weight: 400!important;
    font-size: 10.5px!important;
    line-height: normal!important;
    color:#00688A!important;
    vertical-align: top!important;
    line-height:1.1;
    word-spacing: 1.5px;
}
.bln-btn-frm {
    background-image: url("bln_btn.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    box-shadow: none !important;
    color: transparent !important;
    font-size: 0 !important;
    height: 20px !important;
    width: 16px !important;

}

.ui-datalist-item > span{
    display:none;
}
.balloon_action_link {
    background: none repeat scroll 0 0 transparent !important;
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: normal !important;
    vertical-align: top !important;
    word-spacing: 1.5px;
}
.ui-datalist-item > span{
    display:none;
}
.briefPanel {
    border-right: 0px solid #CCCCCC !important;
    height: 110px;
    left: 190px;
    overflow-x: hidden;
    overflow-y: auto !important;
    position: absolute;
    top: 20px;
    width: 200px;
    background: transparent !important;
}
.balloonOverLay {
    height: 150px !important;
    background-repeat: no-repeat!important;
    width: 400px !important;
}
.bln-lbl-title {
    color: #000;
}
.bln-lbl-brf {
    font-family: Arial;
    font-size: 11px;
    padding-left: 3px;
    width: 200px !important;
    word-wrap: break-word !important;
}

.briefInfoOuterPanel{
    height: auto;
    left: 1px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    position: absolute;
    text-align: left;
    top: 0px !important;
    width: 200px !important;
}
.briefPanel > div{
    /*background: none repeat scroll 0 0 green;*/
    position: absolute;
    width: 215px !important;
} 
.briefPanel > div > div{
    /*background: none repeat scroll 0 0 blue;*/
    position: absolute;
    width: 212px !important;
} 
.briefPanel > div > div + div{
    display:none!important;
}
.briefPanel > div > div + div + div{
    display:none!important;
}
.balloonWindowImage{
    float: left;
    height: 16px;
    padding-left: 0 !important;
    padding-right: 2px;
    width: 16px;
}
.ballonActionButton{
    width:20px;
}
.balloon-list-panel{
}
.balloon-list-panel > tbody >  tr > td{
}
.balloon-list-panel > tbody >  tr > td + td{
    width:98%!important;
}
.balloon-list-panel > tbody >  tr > td > a{
}
.ui-separator {
    background-color: transparent !important;
    border: 1px dotted;
    height: 1px !important;
    width: 600px !important;
}
.dropdown-list-LTR {

}
.dropdown-list-RTL {

}
.dropdown-list-LTR > div + label + div{
    right:0px!important;
}
.dropdown-list-RTL > div + label + div{
    right:auto!important;
    left:0px!important;
}
.usr-msg-header-RTL{
    position: absolute!important;
    right:40px!important;
}
.usr-msg-header-lbl:hover{
    color: #587674!important;
}
.lookup-panel{
    left:-2px!important;
    position: relative;
}

.ui-picklist .ui-picklist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 200px;
    width: 250px;
    font-size: 12px;
    font-family: sans-serif;
    float: left;
    border: 1px solid dodgerblue;
    box-shadow: 1px 1px 1px 1px dodgerblue !important;
}
.ui-picklist .ui-picklist-list >label {
    font-size: 12px;
    font-family: sans-serif;
    float: left;
}
.ui-picklist .ui-picklist-list >td{
    font-size: 12px;
    font-family: sans-serif;
    float: left;
}
.ui-picklist .ui-picklist-item {
    cursor: pointer;
    font-weight: inherit;
    font-family: sans-serif;
    float: left;
}
.ui-picklist .ui-button {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 0.3em;
    box-shadow: 1px 1px 1px 1px dodgerblue !important;
    background-color: #fff;
}
.ui-picklist .ui-button > span + span{
    display: none;
}
.ui-picklist-item ui-corner-all ui-state-hover{
    background-color: transparent;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: dodgerblue;
    text-shadow: 0px 0px 0px #333333;
}

.ui-picklist .ui-picklist-item {
    width:240px;
}
.ui-picklist .ui-picklist-item > table > tbody > tr> td {
    float: left;
    width: 75px;

}
.ui-picklist .ui-picklist-item > table > tbody > tr> td >label {
    float: left;
    left:1px;

}
.ui-picklist .ui-picklist-item > table > tbody > tr> td +td {
    float: right;
    width: 145px;
}
.ui-picklist .ui-picklist-item > table > tbody > tr> td +td  >label {
    float: left;
    left:80px;

}
.ui-picklist .ui-picklist-item > table{
    border-bottom: 1px dodgerblue solid;

}
.ui-datalist-item{
    height: 25px;
    float: right;
    width: 150px;
    border: 0px red solid;
} 
.ui-datalist-data{
    width: 150px;
    border: 0px green solid;    
    top: -11px;
}
.ui-datalist-item > label{
    font-size: 12px;
    font-family: sans-serif;
    float: right;
    height: 25px;
    width: 75px;
    vertical-align: middle;
}

.headerTitle{
    color: #10477f!important;
    font-size: 24px!important;
    font-weight: bold!important;
}


.labelTxtValue {
    color: rgb(67, 67, 67);
    font-size: 12px;
    font-family: arial !important;   
    padding-bottom: 5px !important;
    padding-left: 0px !important;
    padding-right: 6px !important;
    white-space: nowrap;
}

.hasDatepicker{

    min-width:65px !important;
}


.ui-corner-all hasDatepicker{
    min-width:65px !important;

}
.print_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) ) !important;
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf') !important;
    background-color:#ededed !important;
    -webkit-border-top-left-radius:0px !important;
    -moz-border-radius-topleft:0px !important;
    border-top-left-radius:0px !important;
    -webkit-border-top-right-radius:0px !important;
    -moz-border-radius-topright:0px !important;
    border-top-right-radius:0px !important;
    -webkit-border-bottom-right-radius:10px !important;
    -moz-border-radius-bottomright:10px !important;
    border-bottom-right-radius:10px !important;
    -webkit-border-bottom-left-radius:10px !important;
    -moz-border-radius-bottomleft:10px !important;
    border-bottom-left-radius:10px !important;
    text-indent:0 !important;
    border:1px solid #dcdcdc !important;
    display:inline-block !important;
    color:#777777 !important;
    font-family:Arial !important;
    font-size:13px !important;
    font-weight:bold !important;
    font-style:normal !important;
    height:27px !important;
    line-height:27px !important;
    width:57px !important;
    text-decoration:none !important;
    text-align:center !important;
    text-shadow:1px 1px 0px #ffffff !important;
    box-shadow: 1px 1px 1px 1px #777777 !important;
    left:10px !important;
    top: -2px  !important;
}
.print_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) )  !important;
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% ) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed') !important;
    background-color:#dfdfdf !important;
    box-shadow: 0px 0px 0px !important;
}

.ui-datepicker-year,.ui-datepicker-month{
    border-radius: 5px !important;
    border: 1px solid #0002 !important;
    font-size: 0.8rem !important;
    padding: 2px !important;
}
@media print
{
    .ui-panel-titlebar 
    {
        border-radius: 0px 0px 0px 0px;
        height: 16px !important;
        padding: 5px !important;
        margin: 0px!important;
        font-size: 13px !important;
        background: -moz-linear-gradient(right top , gray, gray) repeat scroll 0% 0% gray !important;
        border-width: 1px !important;
        display:block !important;
        background-color: gray !important;
        text-decoration:underline !important;
        border-width: 2px !important;
        border-style: gray !important;
    }
    .ui-widget-header 
    {

        border-radius: 0px 0px 0px 0px;
        height: 16px !important;
        padding: 5px !important;
        margin: 0px!important;
        border-width: 2px !important;
        border-style: gray !important;

        font-size: 13px !important;
        background: -moz-linear-gradient(right top , gray, gray) repeat scroll 0% 0% gray !important;
        border-width: 1px !important;
        display:block !important;
        background-color: gray !important;
        text-decoration:underline !important;
        border-width: 2px !important;
        border-style: gray !important;
    }

    .ui-panel .ui-panel-titlebar{
        display:block !important;
        background-color: gray !important;
        background: -moz-linear-gradient(right top , gray, gray) repeat scroll 0% 0% gray !important;

    }

    .ui-panel .ui-panel-titlebar div
    {
        display:block !important;
        background-color: gray !important;
        background: -moz-linear-gradient(right top , gray, gray) repeat scroll 0% 0% gray !important;
    }

 



    .ui-widget-content input[type="text"],.ui-widget input[type="text"]{
        font-size: 12px !important;
        height: 16px !important;
        height:100% !important;
        font-color:black !important;
        min-width:80px;
        overflow: visible !important;
        border-width: 1px !important;
        border-color:  #cccccc !important;
    }

    
    .ui-widget-content input:disabled,.ui-widget input:disabled{
        font-size: 12px !important;
        height: 16px !important;
        height:100% !important;
        font-color:gray !important;
        min-width:80px;
        overflow: visible !important;
        border-width: 1px !important;
        border-color:  #cccccc !important;
    }

    .ui-widget-content input:disabled *,.ui-widget input:disabled *{
        font-size: 12px !important;
        height: 16px !important;
        height:100% !important;
        font-color:gray !important;
        min-width:80px;
        overflow: visible !important;
        border-width: 1px !important;
        border-color:  #cccccc !important;
    }

    .ui-state-disabled{
        font-size: 12px !important;
        height: 16px !important;
        height:100% !important;
        font-color:red !important;
        min-width:80px;
        overflow: visible !important;
        border-width: 1px !important;
        border-color:  red !important;
    }
    .ui-state-disabled * {
        font-size: 12px !important;
        height: 16px !important;
        height:100% !important;
        font-color:blue !important;
        min-width:80px;
        overflow: visible !important;
        border-width: 1px !important;
        border-color:  blue !important;
    }
    .ui-state-disabled input{
        font-size: 12px !important;
        height: 16px !important;
        height:100% !important;
        font-color:yellow !important;
        min-width:80px;
        overflow: visible !important;
        border-width: 1px !important;
        border-color:  yellow !important;
    }


    .ui-widget-content-disabled,.ui-widget-disabled{
        font-size: 12px !important;
        height: 16px !important;
        height:100% !important;
        font-color:blue !important;
        min-width:80px;
        overflow: visible !important;
        border-width: 1px !important;
        border-color:  blue !important;
    }


    .ui-widget-content textarea,.ui-widget textarea{
        font-size: 12px !important;
        height: 16px !important;
        height:100% !important;
        font-color:black !important;
        min-width:80px;
        overflow: visible !important;
        border-width: 1px !important;
        border-color:  #cccccc !important;
    }


    .ui-selectonemenu {
        background-color :transparent!important;
        background-image: none;
        display:block!important;
    }


    .ui-selectonemenu *{
        background-color :transparent!important;
        background-image: none;
        border:none !important;
        box-shadow: 0 0px 0 #FFFFFF inset!important;
    }

    .ui-selectonemenu label.ui-selectonemenu-label {
        display:none!important;
    }


    .ui-selectonemenu .ui-selectonemenu-label {
        display:none!important;
    }

    .ui-selectonemenu-label {
        display:none!important;
    }

    .usr-msg-green {
        display:none;
    }


}