.ui-widget-header-NonFun{
  background: none!important;
  border: white!important;
}


.ui-icon{
  background-repeat: no-repeat!important;
  border-radius: 2px 2px 2px 2px !important;
  height: 20px;
  width: 20px;
  overflow: hidden!important;
  text-indent: -99999px!important;
  line-height: 15px;
}

.ui-state-default .ui-icon {
  background: none;
  background-color: #B9D2FB;
}

.ui-icon-triangle-1-s{
  background-image: none !important;
  width: 16px!important;
  height: 16px!important;
  background-position: 0px 0px!important;
  left: 0px!important;
  top: 10px!important;
  float: left!important;
}
/** Mega Menu**/
.mega_menu_mainx {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background-image: url("boxes_top_bg.png") !important;*/
    background-position: 50px center;
    border-bottom: 0 solid #FEF6D4 !important;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    height: 50px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px !important;
    width: 100% !important;
}

.mega_menu_separator_lt{
  -moz-box-shadow:inset 0px 0px 0px #000000!important;
  -webkit-box-shadow:inset 0px 0px 0px #000000!important;
/* box-shadow:inset 0px 0px 0px #000000!important;
   */
  border-radius:0px!important;
  color:#FFFFFF!important;
  text-shadow: #FFFFFF 2px!important;
  height: 60px!important;
  line-height: 16px!important;
  border:0px solid #FFFFFF !important;
  width:60px!important;
  background-repeat: no-repeat!important;
  background-image: url(boxes_lt_bg.png)!important;
  background-color: none!important ;
}

.mega_menu_separator_rt{
  -moz-box-shadow:inset 0px 0px 0px #000000!important;
  -webkit-box-shadow:inset 0px 0px 0px #000000!important;
/* box-shadow:inset 0px 0px 0px #000000!important;
   */

  border-radius:0px!important;
  float: right !important;
  color:#FFFFFF!important;
  text-shadow: #FFFFFF 2px!important;
  height: 60px!important;
  line-height: 16px!important;
  border:0px solid #FFFFFF !important;
  width:40px!important;
  background-repeat: no-repeat!important;
  background-image: url(boxes_rt_bg.png)!important;
  background-color: none!important ;
}

.mega_menu_submenu a:link {
    border-radius: 0 0 0 0 !important;
    color: #1b2641;
    display: block;
    float: left !important;
    margin: 0 !important;
    outline: medium none !important;
    padding-left: 25px !important;
    padding-top: 10px !important;
    text-decoration: none !important;
    font-size: 0.85em;
    font-weight: 400;
    text-shadow: 1px 1px 1px black;
    font-family: 'ProximaNovaSemibold', sans-serif;
}
.mega_menu_submenu a:hover{
}

.ui-state-hover {
  box-shadow: none!important;
  background:transparent!important;
}

.ui-menuitem-icon {
    margin-right: 5px !important;
   /* display: inline-block !important;
    float: left !important;
    line-height: 20px !important;
    padding-right: 0;
    position: relative !important;
    top: 7px !important;
   */
}
.ui-menu .ui-menu-parent .ui-menu-child {
    box-shadow: none !important;
}

.ui-menu, .ui-menu .ui-menu-child {
  padding: 0px!important;
  border: 0px!important;
  margin: 0px!important;
  background: none!important;
  /*background: -moz-linear-gradient(45deg, #fefcea 0%, #ffffb7 31%, #ffffa0 42%, #ffffd8 73%, #ffffb7 100%);*/
}

.ui-menubar{
    background-color: #ffffff !important;
    /*background-image: linear-gradient(to bottom, #fff, #d6e2ff) !important;*/
    font-variant: titling-caps;
    height: auto!important;
    display: inline-block !important;
}
.ui-widget .ui-corner-all{
  border: none!important;
}

.ui-menuitem {
  border: .3px!important;
  border-color: white!important;
  border-style: solid!important;
}
.ui-menuitem:hover{
  background: linear-gradient(to bottom , #ffffff,#ffffff) !important;
  box-shadow: 0px 3px 25px #00000052;
}



.ui-menubar .ui-widget-header h1, .ui-menubar .ui-widget-header h2, .ui-menubar .ui-widget-header h3, .ui-menubar .ui-widget-header h4, .ui-menubar .ui-widget-header h5, .ui-menubar .ui-widget-header h6{
  font-size: 20px;
  font-family: 'ProximaNovaSemibold', sans-serif;
  font-variant: normal!important;
  color: #225075;
  text-align: center!important;
  
}

.ui-menu-child {
   top: 35px !important;
}
.ui-widget-content ui-menu-list ui-corner-all ui-helper-clearfix ui-menu-child ui-shadow{
  top:40px!important;
}

.ui-menu .ui-megamenu .ui-menu-child .ui-menu-list {
  width: auto!important;
}

.mega_menu_submenu_header{
  clear: both!important;
  float: left!important;
  margin: 0!important;
  width: 100%!important;
  border-radius: 0px;
  color:#3e3e3e!important;
  text-decoration: none;
  text-shadow: #FFFFFF 0px;
  background: transparent!important;
  font-weight: 400!important;
  font-size: 0.8em!important;
  font-family: Trebuchet MS!important;
  border-bottom: 1!important;
  border-bottom-color: #DDDDDD;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-left: 0!important;
  border-right: 0!important;
  border-top: 0!important;
  padding-bottom: 10px;
  text-align: center!important;
}

.mega_menu_submenu_header:hover{
     color:#3e3e3e!important;
     background-color: #E8EAFA!important;
}

.mega_menu_submenu_item{
  border-radius:0px!important;
  background: transparent!important;
  border-left-width: 0!important;
  border-left-color: #6b6b6b!important;
  border-left-style: groove!important;
  border-right: 0px!important;
  border-top: 0px!important;
  border-bottom-color: #DDDDDD!important;
  border-bottom-style: solid!important;
  border-bottom-width: thin!important;
  font-weight: 400!important;
  font-size: 1em!important;
/* font-family: Arial, Helvetica, sans-serif;  */

}
/* 
make the menu curvy, transparent with border
*/
.ui-menu.ui-megamenu .ui-menu-child > table {
    background-color: #F5F3F3;
    box-shadow: 1px 5px 5px #333333;
    /* left: 0; */
    position: absolute !important;
    top: 13px !important;
    width: auto;
    height: auto!important;
    overflow: visible !important;
    height: auto!important;
    opacity: 0.9;
    background: #ffffff ;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-weight: bolder!important;
    padding: 2px 5px 0px 5px;
    border: 1px solid black;
  overflow: auto!important;
}

.ui-megamenu td {
  border-style: solid;
  border-width: 0.5px;
  border-color:wheat;
}


.ui-menu.ui-megamenu .ui-menu-child {
   background-color: transparent !important;
    border-radius: 0 0 0 0 !important;
    height: 100%;
    position: relative;
    float: none!important;
    width: auto;
    top: 25px !important;
}
.megamenu-panel{
   background-color: transparent !important;
    height: 600px;
    width: 1250px !important;
	}
.mega_menu_submenu_item a:link{
  border-radius:0px!important;
  background: transparent!important;
  font-weight: 400!important;
  font-size: 1em!important;
  font-family: Trebuchet MS!important;
  color: #434343!important;

}

.mega_menu_submenu_item:hover{
  border-radius:0px!important;
  background: transparent!important;
  font-weight: 400!important;
  font-size: 1em!important;
  font-family: Trebuchet MS!important;
  }
.ui-menu-list {
  display: table-row;
}
.ui-menu-child .ui-menu-list {
  display:initial
}
.megamenu-submenu-subcolumn {
  
  border-radius:0px!important;
  background: transparent!important;
  font-weight: 400!important;
  font-size: 1em!important;
  line-height: normal!important;
  padding:2px;
  text-shadow: 0 0 0 black;
/* font-family: Arial, Helvetica, sans-serif;  */
}
.megamenu-submenu-subcolumn a:link {
    background: none repeat scroll 0 0 transparent !important;
    overflow: visible!important;
    border-radius: 0 0 0 0 !important;
    color: black !important;
    font-family: 'ProximaNovaSemibold', sans-serif !important;
    font-size: 11px !important;
    font-weight: normal !important;
    line-height: normal !important;
    font-variant: titling-caps!important;
    margin: 0 !important;
    padding: 1px !important;
    text-shadow: 0 0 0 black;
    vertical-align: top !important;
}
.megamenu-submenu-subcolumn :hover{
  font-weight: bold;
  font-size: small;
  color: #40789C;
}

.megamenu-submenu-subcolumn a:hover,
.megamenu-submenu-subcolumn a:active{
  border-radius:0px!important;
  background: transparent!important;

  font-weight: 500!important;
  font-size: 11px!important;
  color:#000000!important;
 /*  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
 font-family: Arial, Helvetica, sans-serif;  */
}

.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 5px;
    visibility: hidden;
}

/** MegaMenu Images **/
.megamenu-main-img-col{
   background: transparent!important;
   vertical-align: top!important;
   width: 140px!important;
   height: 100%!important;
   padding: 3px!important;
}
.megamenu-main-img{
   background: transparent!important;
   vertical-align: top!important;
   width: 140px!important;
   height: 100%!important;
   padding: 3px!important;
}

.megamenu-col-img{
    background: none repeat scroll 0 0 transparent !important;
    height: 100px !important;
    padding: 3px !important;
    vertical-align: top !important;
    width: 140px !important;
}
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus{
/* color: #ffc411 !important; */
}