/* 
Document   : OTMSstyles
Created on : May 2, 2009, 1:33:14 AM
Author     : ntawfik
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

table{
    border:0;
}
.selectedrow
{
    background-color:blue;
}
.selectedrow:hover
{
    background-color:fuchsia;
}
.selectedrow:selected
{
    background-color:olive;
}
.OTMStitle {
    font-style: normal;
    font-family: Arial;
    font-size: 18px;
    color: #ff9900;
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    padding-right:5px;
    position: absolute;
    margin-top: 3px;
}
.OTMSdataTable
{
    margin-left:10px;
}

.OTMSsubtitle {
    font-family: Arial;
    font-size: 12px;
    color: #35556B;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}
.OTMSsecondForm
{
    margin-left: 5px;
    margin-right: 5px;
}
.OTMSrequiredAstrek {
    font-size: 11px;
    color: maroon;
    font-weight: bold;
}

.OTMSsampleText {
    font-size: 11px;
    color: gray;
    font-weight: bold;

}

.OTMSlabel {
    margin-left: 10px;
    margin-right: 10px;
    font-weight:bold;
    font-family:Arial;
}

.OTMStabGroup {
    margin-left: 10px;
    margin-right: 10px;
}

.OTMSformContents {
    margin-left: 10px;
    margin-right: 10px;
}

.OTMSform {
    padding-top: 18px;
    margin-top: 18px;
    width:90%;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
}

.OTMSmultiform{
    padding-top: 18px;
    margin-top: 18px;
    width:90%;
    margin-left: 5px;
    margin-right: 5px;
}

.OTMSsubmitCancelButton {
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    width: 72px;
}

.OTMSbutton{
    color: black;
    font-family: Arial;
    font-size: 11px;
    width:72px;
    height:24px;
    margin-left: 10px;
    margin-right: 10px;
}


.OTMStab{
    font-size: 11px;
    font-weight: bold;
    font-family: Arial;
}


.OTMSformListBox {
    margin-left: 10px;
    margin-right: 10px;
    width:170px;
    min-width:170px;
}
.CalPopFldImg_sun4 img {
    margin-left:5px;
    margin-right:5px;
}
.hidden_sun4,
.CalPopFldLbl_sun4,.Cb_sun4
{
    margin:0;
    padding:0;
}
.CbSpn_sun4
{
    left:500px;
}

.CbSpn_sun4 input, .CbSpnDis_sun4 input {
    vertical-align:0;
    margin:0 2px;
}
.OTMSdisbaledButton{
    color:#828282;
    cursor:auto;
    font-family: Arial;
    font-size: 11px;
    width:72px;
    height:24px;
    margin-left: 10px;
    margin-right: 10px;
}