*{
    padding: 0;
    margin: 0;
}
*::-webkit-scrollbar {
    width: 7px !important;
}

*::-moz-scrollbar {
    width: 7px !important;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #d8d8d8;
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}
*::-moz-scrollbar-track {
    background: #d8d8d8;
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}
/* Handle */
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #bec7df;
    border: 1px solid #bec7df;
}
.portlet-body::-webkit-scrollbar {
    width: 7px !important;
}
.portlet-body::-moz-scrollbar {
    width: 7px !important;
}
.ui-overlaypanel.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.balloonOverLay.ui-overlay-visible{
    background-image: url("left_up.png") !important;
}
.ui-overlaypanel.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.balloonOverLay.ui-overlay-visible .balloon_action_link{
    color: #000 !important;
}
.ui-overlaypanel.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.balloonOverLay.ui-overlay-visible .bln-lbl-title{
    color: #000 !important;
}
.img{
    border: none;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
    font-family: Arial,sans-serif;
    font-size: 12px !important;
    color: #2AAAE6;

}

.headerTitle{
    color: #10477f!important;
    font-size: 16px!important;
    font-weight: bold!important;
}

body, table {
    color: #505050;
    font: 11px Calibri, Arial, Helvetica, sans-serif;
}


input, textarea, select {}

textarea {
    background: #FFF8DA;
    border: 1px solid #F7EFC4;
    color: #0E76BC;
}

select {}

input {}

fieldset {
    border: 0px none;
}
.OTMSTextBox{
    color: #0E76BC;
    height: 16px;
    background: white;
    border: 1px solid #E5E5E5;
    text-align: left;
    font: 11px Calibri, Arial, Helvetica, sans-serif;
}
.add_btn {
    background-repeat: no-repeat!important;
    /* background-image: url(b2.png)!important; */
    margin: 0px!important;
    border: 0px!important;
    width: 25px!important;
    height: 30px!important;
    /* box-shadow: 0 0px 0 #FFFFFF inset!important; */
    border-radius: 0px!important;
    border-radius: 6px !important;
    color: #336fff !important;
    font-weight: 100 !important;
    border: 1px solid #336fff !important;
    transition: all 0.3s linear;
    box-shadow: 0px 3px 10px #0002 !important;
    margin-left: 10px !important;}
    .add_btn:hover{
        box-shadow: 0px 0px 0px #fff !important;
        color: #fff !important;
        background: #336fff !important;
    }

.add_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.ui-state-default .add_btn_icon{
    margin: 2px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-position: 0px 0px!important;
    /*width: 52px!important;*/
    height:43px!important;
    left:  -2px!important;
    top:  -3px!important;
    z-index: 1005;
    box-shadow: none;
    border-radius: 0px;
}

.new_row_btn {
    background-repeat: no-repeat!important;
    /* background-image: url(b2.png)!important; */
    margin: 0px!important;
    border: 0px!important;
    width: 25px!important;
    height:30px!important;
    /* box-shadow: 0 0px 0 #FFFFFF inset!important; */
    border-radius:0px!important;
    border-radius: 6px !important;
    color: #336fff  !important;
    font-weight: 100 !important;
    border: 1px solid #336fff  !important;
    transition: all 0.3s linear;
    box-shadow:0px 3px 10px #0002 !important;
    margin-left: 10px !important;
}
.new_row_btn:hover{
    box-shadow:0px 0px 0px #FFF !important;
    background: #336fff  !important;
    color:  #fff !important;

}

.ui-menu.ui-menu-dynamic{
    overflow: auto !important;
    min-height: 100px !important;
    max-height: 100px !important;
    top: 40px !important;
    height: auto !important;
    opacity: 0.9;
    background: white;
    /**
  background-image: -webkit-linear-gradient(top, #eee, #7d8e9e);
  background-image: -moz-linear-gradient(top, #eee, #7d8e9e);
  background-image: -ms-linear-gradient(top, #eee, #7d8e9e);
  background-image: -o-linear-gradient(top, #eee, #7d8e9e);
  background-image: linear-gradient(to bottom, #eee, #7d8e9e);
    **/
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px!important;
    font-weight: bolder!important;
    padding: 2px 5px 0px 5px;
    border: 1px solid #d6d1d1;
    width: auto;
}

.ui-menu {
    padding: 0px !important;
}

.ui-state-default .new_row_btn_icon {
    margin: 2px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-position: 0px 0px!important;
    /*width: 52px!important;*/
    height:auto !important;
    left:  -2px!important;
    top:  -3px!important;
    z-index: 1005;
    box-shadow: none;
    border-radius: 0px;
}

.save_btn {
    background-repeat: no-repeat!important;
    margin: 0px!important;
    border: 0px!important;
    width: 25px!important;
    height:30px!important;
    border-radius: 6px!important;
    font-size: 0!important;
    color: #336fff  !important;
    font-weight: 100 !important;
    border: 1px solid #336fff  !important;
    transition: all 0.3s linear;
    box-shadow:0px 3px 10px #0002 !important;
    margin-left: 10px !important;
}

.save_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    background: #336fff  !important;
    color:  #fff !important;

}

.run_btn {
    background-repeat: no-repeat!important;
    margin: 0px!important;
    border: 0px!important;
    width: 25px!important;
    height:30px!important;
    border-radius: 6px!important;
    font-size: small !important;
    color: #336fff  !important;
    font-weight: 100 !important;
    border: 1px solid #336fff  !important;
    transition: all 0.3s linear;
    box-shadow:0px !important;
    margin-left: 10px !important;
    font-weight: bold;
}
.run_btn:hover{
    background: #336fff !important;

}
.run_btn .ui-button-text{
    color: #336fff !important;
}
.run_btn:hover>.ui-button-text{
    color: #fff !important;
}
.ui-button-icon-left{
    background: none !important;
    background-repeat:norepeat;
    background-image:url() !important ;

}

.ui-menu-link{
    background: none !important;
}
.ui-menuitem-link:hover{
    color: white!important;

}
.ui-menuitem-link {
    background: none !important;
    border: 0px solid transparent;
    cursor: pointer;
    display: block;
    float: left;
    line-height: 16px;
    outline: medium none;
    padding: 0em;
    text-decoration: none;
    width: auto!important;
    font-size: 10px !important;
    font-weight: 600 !important;
    margin-left: 20px;
    transition: all 0.3s linear;
}

.run_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
}


.ui-state-default .save_btn_icon{
    margin: 2px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-position: 0px 0px!important;
    width: 30px!important;
    height:auto !important;
    left:  -2px!important;
    top:  -3px!important;
    z-index: 1005;
    box-shadow: none;
    border-radius: 0px;
}

.save_btn:hover{
    background: no-repeat 0 0;
    display: inline-block!important;
}

.save_exit_btn {
    background-repeat: no-repeat!important;
    margin: 0px!important;
    border: 0px!important;
    width: 25px!important;
    height:30px!important;
    border-radius: 6px!important;
    font-size: 0!important;
    color: #336fff  !important;
    font-weight: 100 !important;
    border: 1px solid #336fff  !important;
    transition: all 0.3s linear;
    box-shadow:0px 3px 10px #0002 !important;
    margin-left: 10px !important;
}

.save_exit_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    background: #336fff  !important;
    color:  #fff !important;
}

.edit_all_btn{
    /* background-repeat: no-repeat!important;
    background-image: url(edit-all.png)!important; */
    margin: 0px!important;
    border: 0px!important;
    width: 25px!important;
    height:30px!important;
    border-radius:6px!important;
    color: #336fff !important;
    font-weight: 100 !important;
    border: 1px solid #336fff !important;
    transition: all 0.3s linear;
    box-shadow: 0px 3px 10px #0002 !important;
    margin-left: 10px !important;
}
.edit_all_btn:hover{
    box-shadow: 0px 0px px #fff ;
    color: #fff !important;
    background: #336fff !important;
}
.ui-state-default .save_exit_btn_icon{
    margin: 2px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-position: 0px 0px!important;
    /*width: 52px!important;*/
    height:43px!important;
    left:  -2px!important;
    top:  -3px!important;
    z-index: 1005;
    box-shadow: none;
    border-radius: 0px;
}

.ui-state-default .active_btn_icon{
    margin: 2px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-position: 0px 0px!important;
    /*width: 52px!important;*/
    height:43px!important;
    left:  -2px!important;
    top:  -3px!important;
    z-index: 1005;
    box-shadow: none;
    border-radius: 0px;
}

.active_btn {
    background-image:url(active.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width: 48px!important;
    height:39px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
}

.active_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

/*.ui-state-default .action_btn_icon{
  margin: 2px!important;
  border: 0px!important;
  background: no-repeat!important;
  display: inline-block!important;
  background-position: 0px 0px!important;
  width: 100px!important;
  height:25px!important;
  left:  -2px!important;
  top:  -3px!important;
  z-index: 1005;
  box-shadow: none;
  border-radius: 0px;
}*/

.action_btn{
    /*background: -moz-linear-gradient(center top , rgba(120, 180, 230, 0.7), rgba(255, 255, 255, 0.5)) repeat scroll 0 0 transparent !important;
    */
    background: none repeat scroll 0 0 transparent;
    border: 0 none !important;
    border-radius: 0 0 0 0 !important;
    box-shadow: 1px 1px 4px #ABABAB !important;
    font-size: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 20px !important;
    height: 20px !important;
}

.action_btn:hover{
    border-radius: 0px !important;
    box-shadow: 1px 1px 3px #000 !important;
    background-image: url(loading-menu.gif) !important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

.action_btn_icon{
    background-image: none !important;
    border: 1px none !important;
    /* height: 15px !important;
     left: 95px !important;
     top: 14px !important;
     width: 20px !important;*/
}
.action_btn_icon:hover{

}

.balloonPanelStyleL{
    /* background:#CCFF99 !important;
     width: 500px!important;    */
    height: 100%px!important;
    display: block;
    left: 0px;
    /*position: absolute;  */
    /* z-index: 1000;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;*/
}
.bln-form{
    height: 200px!important;
    /* background: -moz-linear-gradient(45deg, #FEFCEA 0%, #FFFFB7 31%, #FFFFA0 42%, #FFFFD8 73%, #FFFFB7 100%) repeat scroll 0 0 transparent;*/
}
.mainTablePanel{
    /*    background:#FFFFCC !important; */
    width: 200px!important;
    height: 100%px!important;
    display: block;
    left: 0px;
    position: relative;
}

.balloonActionsPStyleL{
    width: 150px;
    height: 100px;
    left: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top: 25px;
    color: white;
    text-align: left;
    text-decoration: none;
    border-right: 1px;
}

.balloon_action_link{

    font-family: @Arial Unicode MS!important;
    background: transparent!important;
    font-weight: 400!important;
    font-size: 10.5px!important;
    line-height: normal!important;
    color:#00688A!important;
    vertical-align: top!important;
    line-height:1.1;
    word-spacing: 1.5px;
}

.balloon_action_link:hover{
    color:#666666!important;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 1.25)!important;
}
.ballonActionButton{
    width: 20px!important;
    height: 18px!important;
}

.briefInfoOuterPanel{
    height: auto;
    left: 1px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    position: absolute;
    text-align: left;
    top: 0px !important;
    width: 200px !important;
}

.balloon_title{
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    left: 60px;
    position: absolute;
    top: 5px;
    z-index: 10;
}

.balloon_close {
    left: 342px;
    position: absolute !important;
    top: 0;
    z-index: 10000000000000;
}

.header_Menu_Style{
    height: 25px!important;
    position: absolute!important;
    right: 5px!important;
    top: 3px!important;
    width: 25px!important;
    padding: 0px!important;
    display: none!important;
}

.header_Menu_Style .iceMnuBarVrtItem a, .header_Menu_Style .iceMnuBarVrtItem span, .header_Menu_Style .iceMnuBarVrtItem a:hover{
    padding: 0px!important;
}

.activeMenuItem{
    background: transparent!important;
    margin: 0px;
    border: 0px!important;
    padding: 0px;
    background: no-repeat 0 0;
    display: inline-block!important;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 43px!important;
    height:53px!important;
    padding-left: 5px!important;
    padding-right:5px!important;
}

.activeMenuItemIcon{
    background-image: url(active.png)!important;
    width: 43px!important;
    height:53px!important;
}

.more_action_main_menu{
    background: #009999 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#31ADAD), to(#31ADAD)); /* for webkit browsers */ 
    background: -moz-linear-gradient(center top , rgba(172, 237, 249, 0.7), rgba(255, 255, 255, 0)) repeat scroll 0 0 #009999 !important;
    border: 0 none !important;
    height: 60px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    width: 120px !important;
    left:40px!important;
}

.more_action_main_menu_item{
    /* background-image: none!important;
     background-color:red!important;*/
    height: 0px!important;
    position: relative;
    width: 100px!important;
    padding: 0px!important;
    border: 0px!important;
    margin: 0px!important;
    text-align: center;
    font-size: 11px;
    font-family: Arial Narrow;
    color: #FFFFFF;
    top: 0px!important;
    left: 0px!important;
    float:left!important;
    border-radius:0px!important;
}

.more_action_menu_item{
    height: 20px!important;
    position: relative;
    width: 80px!important;
    padding: 0px!important;
    border: 0px!important;
    border-color: #FFFFFF;
    -moz-border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    margin: 0px!important;
    text-align: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-indent: 25px;
    color: #FFFFFF!important;
    top: 15px!important;
    left: 5px!important;
    float:left!important;
    background: transparent!important;
    border-radius:0px!important;
}

.more_action_menu_item:hover{
    box-shadow: 0 0 8px #009999;
    background: #009999 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    background: #009999 -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

.moreActionStyleMenuItem{
    background-image: url(b6.png)!important;
}
.menu-separator {
    background-color: #FFFFFF -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    background-color: #FFFFFF -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    !important;
    height: 2px !important;
    position: relative;
    top: 13px !important;
    vertical-align: bottom !important;
}

.ui-menu .ui-menuitem {
    clear: both;
    float: left;
    margin: 0!important;
    padding: 0!important;
    width: 100%;
    border-radius:0px!important;
}
.ui-menuitem:hover{
    background: #118ade59;
}
.moreActionStyle .iceMnuBarVrtItem a, .moreActionStyle .iceMnuBarVrtItem span, .moreActionStyle .iceMnuBarVrtItem a:hover{
    padding: 0px!important;
}

.headerAsterisk{
    font-size: 12px;
    font-weight: bold;
    color: red;
    vertical-align: top;
    position: relative;
}

.tableheaderTxt{
    font-size: 12px;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
}

.buttonsGeneralPanel{
    /*background: -moz-linear-gradient(left center , rgba(120, 180, 230, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 transparent !important;
    */border: 0 none;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 0px !important;
    padding-right: 2px;
    position: inherit;
    width: 95% !important;
}

.buttonsBGPanel{
    height: 50px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.buttonTitleLinkPanel{
    background: url("butTtlBckgrnd.png");
    border-radius: 5px 5px 5px 5px;
    height: 25px;
    position: absolute;
    z-index: 1000;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 1);ui-cell-editor
}

.buttonTitleLink{
    color: white;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    top: 10px;
    vertical-align: super;
    white-space: nowrap;
    z-index: 1001;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 1.25);
}

.balloonButton{
    /*margin-left: 2px;*/
    background-image: url("bln_btn.png") !important;
    background-repeat: no-repeat !important;
    border: 0 none !important;
    font-size: 0 !important;
    height: 14px !important;
    margin-right: 0 !important;
    padding: 0 !important;
    width: 20px !important;
    box-shadow: 0 0px 0 #FFFFFF inset;
}

.balloonButton:hover {
    width: 23px;
    height: 14px;
    margin-left: 0px;
    margin-right: 0px;
}

.inlineErrorMsgTitle{
    color: red;
    font-size: 11px;
}

.inlineErrorMsgTitleError{
    color: red;
    font-size: 11px;
}

.usrMsgFrame .icePnlClpsblCnt{
    background: transparent;
    border-radius: 0px 0px 4px 4px;
}

.usrMsgFrame .icePnlClpsblHdr{
    background: none;
}

.usrMsgFrame .icePnlClpsblColpsdHdr{
    background: none;
}

.usrMsgFrameColpsdHdr{
    border: none;
    background: none;
}


.usrMsgFrameColpsd{
    background: #FFF8DA;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 5px;
}

.usrMsgTitle{
    font-weight: bold;
    font-size: 10px;
}

.usrMsgHeader{
    font-weight: bold;
    font-size: 11px;
    position: relative;
    left: 20px;
}

.usrMsgText{
    font-size: 10px;
}

.successMsg{
    background: #CAFFD9;
}

.errorMsg{
    background: #FECCCC;
}

.warningMsg{
    background: #FDFECC;
}

.userMsgMessagesTable{
    margin: 0px;
    border-collapse: separate;
    background: transparent;
}

.userMsgMessagesTable .iceDatTblCol,.userMsgMessagesTable .iceDatTblCol1,.userMsgMessagesTable .iceDatTblCol2{
    border: none;
    padding: 0 3px;
}

.userMsgMessagesTable .iceDatTblRow,.userMsgMessagesTable .iceDatTblRow1,.userMsgMessagesTable .iceDatTblRow2{
    background: transparent;
}

.FirstColumn{
    background: #A6C6F5;
}

.userMsgInnerTbl{
    width: 100%;
}

.filterCollapsible{
    border-radius: 4px 4px 4px 4px;
    width: 100%;
}

.filterCollapsible .icePnlClpsblCnt{
    background: transparent;
    border-radius: 4px 4px 4px 4px;
}

.filterCollapsible .icePnlClpsblHdr{
    border: none;
    background: none;
}


.labelContainer{
    float: right;
}

.button_grid{
    padding: 0px!important;
    margin:  0px!important;
    border:  0px!important;
}

.btnPanel_layout{
    position: relative;
}

.menuItem{
    background: transparent;
    height: 23px;
    border-bottom: 1px, solid;
}

.wizard_next{
    background-image: url(wizard_next_btn.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width:  56px!important;
    height:  43px!important;
    position: relative!important;
    color: transparent!important;
    font:   transparent!important;
    font-size : 0px!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
    padding:10px!important;
    background-color:   transparent!important;
}

.wizard_next:hover{
    background-image: url(wizard_next_btn.png);
    background-repeat: no-repeat!important;
    height: 43px!important;
    width:56px!important;
    font-size : 0px!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
}

.wizard_back{
    background-image: url(wizard_back_btn.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width:  56px!important;
    height:  43px!important;
    position: relative;
    color: transparent!important;
    font:   transparent!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
    padding-left: 10px;
    padding-right: 10px;
    font-size : 0px!important;
    background-color:   transparent!important;
}

.wizard_back:hover{
    background-image: url(wizard_back_btn.png);
    background-repeat: no-repeat!important;
    height: 43px!important;
    width:56px!important;
    font-size : 0px!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
}

.wizard_skip{
    background-image: url(wizard_skip_btn.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width:  56px!important;
    height:  43px!important;
    position: relative;
    color: transparent!important;
    font:   transparent!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
    padding-left: 10px;
    padding-right: 10px;
    font-size : 0px!important;
    background-color:   transparent!important;
}

.wizard_skip:hover{
    background-image: url(wizard_skip_btn.png);
    background-repeat: no-repeat!important;
    height: 43px!important;
    width:56px!important;
    font-size : 0px!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
}

.wizard_exit{
    background-image: url(wizard_exit_btn.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width:  56px!important;
    height:  43px!important;
    position: relative;
    color: transparent!important;
    font:   transparent!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
    padding-left: 20px;
    font-size : 0px!important;
    padding-right: 20px;
    background-color:   transparent!important;
}

.wizard_exit:hover{
    background-image: url(wizard_exit_btn.png);
    background-repeat: no-repeat!important;
    height: 43px!important;
    width:56px!important;
    font-size : 0px!important;
    box-shadow: 0 0px 0 #FFFFFF inset;
}

.wizard_separator {
    border: 0px;
    height: 0px;
}

.wizard_driver{
    border: 0px;
    height: 1px;
}

.lookUpButton_btn{
    text-decoration: none!important;
    position: relative!important;
    cursor: pointer;
    text-align: center!important;
    height: 16px!important;
    width:16px!important;
    border: 0px!important;
    margin: 0px!important;
    background-image: url("lookup_btn.png")!important;
    background-repeat: no-repeat !important;
    color: transparent  !important;
    display: inline-block;
    left: 0%;
    top: 0%;
    box-shadow: 0 0px 0 #FFFFFF inset;
    border-radius: 2px!important;
    font-size:0px!important;

}

.lookUpButton_btn:hover{
    background: transparent !important;
}
.lookUpButton_btn:hover{
    box-shadow: 0px 0px 0px #000 inset!important;
    /* border-radius:0px!important; */
}

.ui-state-default .lookUpButton_btn_icon{
    background-image: url("lookup_btn.png")!important;
    background-repeat: no-repeat !important;
    height: 16px!important;
    width:16px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.ui-button ui-widget ui-state-default {
    background: transparent!important;
}

.pick_btn {
    background-repeat: no-repeat!important;
    /* background-image: url(b2.png)!important; */
    margin: 0px!important;
    border: 0px!important;
    width: 25px!important;
    height: 30px!important;
    /* box-shadow: 0 0px 0 #FFFFFF inset!important; */
    border-radius: 0px!important;
    border-radius: 6px !important;
    color: #336fff !important;
    font-weight: 100 !important;
    border: 1px solid #336fff !important;
    transition: all 0.3s linear;
    box-shadow: 0px 3px 10px #0002 !important;
    margin-left: 10px !important;}
    .pick_btn:hover{
        box-shadow: 0px 0px 0px #fff !important;
        color: #fff !important;
        background: #336fff !important;
    }
.cancel_btn {
    background-image: url(b5.png)!important;
    margin: 0px!important;
    border: 0px!important;
    width: 30px!important;
    height:30px!important;
    position: relative;
    font-size: 0px!important;
}

.ui-state-default .cancel_btn_icon{
    margin: 0px!important;
    border: 0px!important;
    background: no-repeat!important;
    display: inline-block!important;
    background-position: 0px 0px!important;
    width: 53px!important;
    height:44px!important;
    left:   -1px!important;
    top:  -2px!important;
}

.reset_btn {
    background-repeat: no-repeat!important;
    /* background-image: url(b2.png)!important; */
    margin: 0px!important;
    border: 0px!important;
    width: 25px!important;
    height: 30px!important;
    /* box-shadow: 0 0px 0 #FFFFFF inset!important; */
    border-radius: 0px!important;
    border-radius: 6px !important;
    color: #336fff !important;
    font-weight: 100 !important;
    border: 1px solid #336fff !important;
    transition: all 0.3s linear;
    box-shadow: 0px 3px 10px #0002 !important;
    margin-left: 10px !important;}
    .reset_btn:hover{
        box-shadow: 0px 0px 0px #fff !important;
        color: #fff !important;
        background: #336fff !important;
    }
potlet{
    background: none repeat scroll 0 0 #FAFAED;
}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;
}

.ctrlTable > tbody > tr{
    border: hidden;
}

.ctrlTable > tbody > tr > td{
    border: hidden;
}

.ui-selectonemenu .ui-selectonemenu-label{
    padding: 0px!important;
    width: 100%!important;
}

.ui-state-highlight a, .ui-widget-header .ui-state-highlight a{
    background: none!important;
    border: none!important;
    background: no-repeat 0 0;

    margin-top: 0px;
    margin-bottom: 0px;
    width: 15px;
    height: 15px;
    text-decoration: none;
}

.balloonStyle, .sideBalloonStyle{
    border: 0px solid #D9D9D9;
    color: #484848;
    height: 20px;
    text-align: center;
    width: 30px!important;
}

.ui-state-highlight td balloonStyle{
    border: 0px!important;
    margin: 0px!important;
    padding: 0px!important;
}

.ui-datatable .ui-datatable-data td{
    border-color: inherit;
    border-style: solid;
    border-width: 0px;
    color: #282828;
    font: 12px/1.4 arial,tahoma,verdana,sans-serif !important
}

.ui-datatable table {
    border-collapse: collapse;
    border: 0.1px!important;
    width: 98% !important;
    overflow: hidden;
}

.ui-datatable .ui-datatable-data-empty td{}

.ui-widget-content {
    /* background: url("/FABS-Web/javax.faces.resource/images/ui-bg_inset-hard_100_fcfdfd_1x100.png.iface?ln=primefaces-redmond") repeat-x scroll 50% bottom #FCFDFD;
    */

    border: 0px solid #A6C9E2;
    color: #222222;
}

.ui-datatable  .ui-datatable .ui-datatable-data-empty td div.ui-dt-c, .ui-datatable tfoot div.ui-dt-c {
    color: #000000 !important;
    overflow: hidden;
    padding: 0;
}
.ui-datatable-data td div.ui-dt-c{
    background: inherit
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: transparent;
    border: 0px solid #DDEEFF;
    color: #4F4F4F;
    font-weight: bold;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.7);
}

.ui-datatable td div.ui-dt-c {
    border: 0 none !important;
    padding: 0 1px 1px !important;
    position: relative;
}

.ui-widget-header {
    background: url("table_header_bg.png") repeat-x scroll 0 0;
    border: 1px solid #D9D9D9;
    color: #484848;
    font-weight: bold;
    height: 20px;
    text-align: center;
}

.ui-widget-content .ui-datatable-even{
    background: #e6ebfd;
    height:25px!important;
    border-bottom:0px #999999 solid !important;
    /* border-left: 1px solid #d9d9d9; */
}

.ui-widget-content .ui-datatable-odd{
    background: #FCFAFA;
    height:25x!important;
    /* border-left: 1px solid #d9d9d9;  */
}

.ui-widget-content .ui-datatable-even .ui-datatable-odd .ui-state-highlight{
    /*background: url("/FABS-Web/javax.faces.resource/images/ui-bg_flat_55_fbec88_40x100.png.iface?ln=primefaces-redmond") repeat-x scroll 50% 50% #FBEC88;
    
    */}

.ui-widget-header .ui-state-default .balloonStyle .ui-state-default {
    /*background: url("table_header_bg.png") repeat-x scroll 0 0;*/
}

.ui-widget-content .ui-corner-all .ui-shadow .balloonPanelStyleL .ui-overlay-visible{
    background: url(balloon_bg.png)!important;
}

.ui-datalist-item {
    list-style: none;
    background: transparent!important;
    width: 180px !important;
    padding-bottom: 1px !important;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield{
    background: white!important;
}

.ui-datalist .ui-widget{
    background: transparent!important;
}

.ui-datatable .ui-datatable-data .ui-state-highlight {
    border: 0px!important;
    background:  #118ade59 !important;
    margin: 0px!important;
    padding:0px!important;
    color:#FFFFFF!important;
    text-shadow: none;
    font-size: 0px !important;
}
.ui-datatable .ui-datatable-data .ui-state-highlight:hover{
    background: #a4d1f1;
}
/** Paginator **/

.ui-paginator-top{
    background: transparent;
    border: 0px;
    text-align: left;
}

.ui-paginator-current{
    text-indent: 0px;
    background: transparent!important  ;
    color: black!important;
}

.ui-datatable .ui-paginator {
    padding: 5px;
    text-align: left;
    position: relative;
}

#ui-timepicker-div{
    background: #009999 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
    background: #009999 -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
    padding: 0.2em;
}

.ui-paginator-bottom{   
    background: transparent;
    border: 0px;
    text-align: left!important;
    direction: ltr;
}
.ui-paginator-page.ui-state-active{
    color:khaki!important;
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, 
.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, 
.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, 
.ui-paginator .ui-paginator-current {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    outline: medium none;
    padding: 2px 9px;
    text-decoration: none;
    color: #FFF;
    background: #fff !important;
    box-shadow: none!important;
    border-radius: 3px;
    text-shadow: none!important;
    text-decoration: none!important;
    height: 13px;
    color: #cfcfcf;
}
.ui-paginator-page.ui-state-default.ui-corner-all:hover{
    background: #94d4ff !important;
    color: #fff !important;
}

.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev{
    color: #cfcfcf!important;
    background-color: #fff ;
    padding: 10px 13px;
    border: 1px solid #0002 !important;
}

.ui-corner-left{
    background: #fff !important;
    border-radius: 5px;
    margin-left: 15px;
    padding: 10px 13px;
    border: 1px solid #0002 !important;
}
.ui-paginator .ui-paginator-current{
    padding: 7px 13px;
    color: #b9b9b9 !important;
    
}
.ui-paginator-page:hover {
    color: #FFE1A4;
}

.ui-paginator-pages{
    background: none!important;
}
.ui-paginator-page.ui-state-default.ui-corner-all{
    border: 1px solid #d8dde6 !important;
    display: none;
}
.ui-paginator-last{
    display: none !important;
}
.ui-paginator .ui-paginator-pages{
    display: none !important;
}
.ui-paginator-first{
    display: none !important;
}
.ui-paginator-page.ui-state-default.ui-corner-all:hover{
    box-shadow: 0px 0px 0px #000 !important;
}
/**Lookup BTN**/


/*.ui-icon-triangle-1-s {
    background-image: url("ui-icon-triangle-1-s.png") !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}*/
/**checkbox**/

.ui-chkbox {
    background: transparent!important;
}

.ui-chkbox .ui-chkbox-box{
    box-shadow: 0 1px 1px #8F8F8F inset;
    -moz-border-radius: 0px;
    background: white!important;
    width: 14px;
    height: 14px;
}
.ui-chkbox-box:hover{
    box-shadow: 0 2px 2px #8F8F8F inset!important;
    -moz-border-radius: 0px!important;
    background: white!important;
    width: 14px!important;
    height: 14px!important;
}
.ui-chkbox-box ui-widget ui-state-default ui-state-active{
    background-image: url(button.png);
}

.ui-column-filter{
    height: 15px!important;
    width: 100%!important;
}

tr.ui-datatable-even:hover{
    color: white;
    box-shadow: 0 0 0px #009999!important;
    background: #118ade59;
    border:0px!important;
}
tr.ui-datatable-odd{
    background-color: #fff !important;
}
tr.ui-datatable-odd:hover{
    color: white;
    box-shadow: 0 0 0px #009999;
    background: #118ade59 !important;
    border:0px!important;
}
/** menu **/

.ui-menu ui-menu-dynamic{
    background-color: #CC0099!important;
}

.ui-overlaypanel ui-widget ui-widget-content ui-corner-all ui-shadow balloonPanelStyleL ui-overlay-visible {
    border-radius: 10px;
}

.ui-state-default {
    background: transparent;
    border: 0px solid #C5DBEC;
    color: #2E6E9E;
    font-weight: bold;
}
/*
.ui-selectonemenu-items{
    background:#D3E7ED #009999 -moz-linear-gradient(top, rgba(172, 237, 249, 0.8), rgba(255, 255, 255, 0));
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.ui-selectonemenu-item{
    color: #000;
    font-size: 10px;
}
.ui-state-highlight .ui-selectonemenu-list-item   {
    color: blue!important;
    font-size: 10px;
    text-shadow: 0 0px 0px #234386!important;
}
.ui-selectonemenu-item:hover, .ui-selectonemenu-item:active, .ui-selectonemenu-item:visited{
    color: #999;
    font-size: 10px;
    font-weight: bold;
    background: transparent!important;
    text-shadow: 0 0px 0px #234386!important;
}

.ui-selectonemenu-item ui-selectonemenu-list-item ui-corner-all ui-state-highlight{
    background: transparent!important;
    padding-bottom: 1px;
    border-bottom: 0px solid;
    border-bottom-color: yellow;
    border-radius: 0px;
    color: blue!important;
    text-shadow: 0 0px 0px #234386!important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border: 0 none;
    cursor: pointer;
    margin: 0px;
    padding-bottom: 0px;
    text-align: justify;
    white-space: nowrap;
    background: transparent!important;
    color:#000!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
}*/
.ui-selectonemenu-item{
    font: 11px arial !important;
    padding: 0px;
    margin: 0px!important;
    padding-left: 0px!important;
    padding-right:0px!important;
    padding-bottom: 0px!important;
    padding-top: 1px!important;
}
.ui-selectonemenu-item:hover {
    background: #e8f2ff !important;
    color: blue!important;
    font-weight: bold;
}
ui-selectonemenu-list-item :hover {
    color: red!important;
    font: larger!important;
}
.ui-selectonemenu-item.ui-state-highlight {
    color: black!important;
    text-decoration:underline!important;
    text-shadow: none!important;
}
.ui-selectonemenu-item.ui-state-active {
    color: blue!important;
    background-color: transparent;
}
.ui-corner-all{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    /*border-radius: 2px;*/
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: transparent;
    border: 0px solid #FAD42E;
    //color: #FFF;
    text-shadow: 0px 0px 0px #333;
    background: #DAE9E9 none repeat scroll 0% 0%;
}

.ui-button-text-icon-left .ui-button-text {
    padding: 0px;
}

ui-widget-content ui-menu-list ui-corner-all ui-helper-clearfix ui-menu-child ui-shadow{
    z-index: 5000;
}

.ui-button-text-icon-left .ui-button-text {
    background: transparent!important;
    font-size: small;
}

ui-state-default ui-sortable-column ui-filter-column{
    /*background-image: url(table_header_bg.png)!important;*/
    background-repeat: repeat-x;
}

.ui-datatable th div.ui-dt-c{
    background:#f9faff !important;
    color:black!important;
    /*background-image: url(table_header_bg.png)!important;*/
    background: -moz-linear-gradient(top, #e4f5fc 0%, #91cfea 100%);  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(100%,#91cfea)); 
    background: -webkit-linear-gradient(top, #e4f5fc 0%,#91cfea 100%); 
    background: -o-linear-gradient(top, #e4f5fc 0%,#91cfea 100%); 
    background: -ms-linear-gradient(top, #e4f5fc 0%,#91cfea 100%);   
    background: linear-gradient(to bottom, #e4f5fc 0%,#91cfea 100%);   
    background-repeat: repeat-x!important;
    border:0!important;
    padding: 2px 10px !important;
    height: 50px;
}

.ui-datatable th{
    color: #00274F !important;
    font-size: 14px!important;
    font-family: @Arial Unicode MS;
    font-weight: bold !important;
    text-align: center !important;
    white-space: nowrap !important;
    border-top:1px solid #ffffff !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    background: #004E76 -moz-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0))!important;
    background: #004E76 -webkit-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0))!important;
    border-bottom: medium none;
    border-right: medium none;
    border-top: medium none;
    cursor: pointer;
    height: 100%;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
}

.dropDownMenu{
    width:100px!important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    background: url("menu_expand.png") no-repeat scroll 0 0 transparent !important;
    border-radius: 2px 2px 2px 2px !important;
    left: 2px !important;
    margin: 0;
    position: absolute;
    top: 4px !important;
}

.ui-corner-right {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.ui-button-text{
    padding: 0px !important;
    text-indent: 0px!important;
}

.ui-state-default .ui-icon{
    /*background: none;*/
    background-color:red!important
        border-radius: 0px;
    background-repeat: no-repeat;
}

.ui-inputfield{

    padding: 1px;
    text-shadow: none;
    font-size: 11px;
    font-weight: normal;
}

.disabled_lookup{
    height: 16px;
    padding: 1px;
    text-shadow: none;
    font-size: 11px;
    font-weight: normal;
    width: 100%px!important;
}

.editable_lookup{
    height: 16px;
    padding: 1px;
    text-shadow: none;
    font-size: 11px;
    font-weight: normal;
    width: 100px;
}

.ui-state-disabled{
    opacity: 0.5!important;
}
/** edit icon style **/
.ui-icon-close{
    background-image: url("close.png") ;
    background-position: 0 0 ;
    background-repeat: no-repeat ;
    /*border-left: 1px solid #999999;*/
    border-radius: 0 0 0 0;
    /*margin-left: 5px;*/
}

.ui-icon-check{
    /*width: 20px!important;
    height: 20px!important;*/
    background-position: 0px 0px!important;
    background-image: url(right_sign_icon.png)!important;
}
/* positioning */

.ui-icon-carat-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-n.png)!important;
}

.ui-message-error-icon {
    /*background-position: 0 -97px;   */
    background: none;
}

.ui-icon-carat-1-ne {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-ne.png)!important;
}

.ui-icon-carat-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-e.png)!important;
}

.ui-icon-carat-1-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-se.png)!important;
}

.ui-icon-carat-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-s.png)!important;
}

.ui-icon-carat-1-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-sw.png)!important;
}

.ui-icon-carat-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-w.png)!important;
}

.ui-icon-carat-1-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-1-nw.png)!important;
}

/*.ui-icon-carat-2-n-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-2-n-s.png)!important;
}*/

.ui-icon-carat-2-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-carat-2-e-w.png)!important;
}

.ui-icon-triangle-1-n {
    background-image: url("ui-icon-triangle-1-n.png") !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    height: 16px !important;
    width: 16px !important;
}

.ui-icon-triangle-1-ne {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-1-ne.png)!important;
}

.ui-icon-triangle-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-1-e.png)!important;
}

/*.ui-icon-triangle-1-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-repeat: no-repeat!important;
    background-image: url(ui-icon-triangle-1-se.png)!important;
}
.ui-icon-carat-2-n-s.ui-icon-triangle-1-se{
     background-image: url(ui-icon-triangle-1-se.png)!important;
}*/
/*.ui-icon-triangle-1-s {
  width: 16px!important;
  height: 16px!important;
  background-position: 0px 0px!important;

  background-image: url(ui-icon-triangle-1-s.png)!important;
}*/

.ui-icon-triangle-1-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-1-sw.png)!important;
}

.ui-icon-triangle-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-1-w.png)!important;
}

.ui-icon-triangle-1-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-1-nw.png)!important;
}

.ui-icon-triangle-2-n-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-2-n-s.png)!important;
}

.ui-icon-triangle-2-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-triangle-2-e-w.png)!important;
}

.ui-icon-arrow-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-n.png)!important;
}

.ui-icon-arrow-1-ne {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-ne.png)!important;
}

.ui-icon-arrow-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-e.png)!important;
}

.ui-icon-arrow-1-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-se.png)!important;
}

.ui-icon-arrow-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-s.png)!important;
}

.ui-icon-arrow-1-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-sw.png)!important;
}

.ui-icon-arrow-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-w.png)!important;
}

.ui-icon-arrow-1-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-1-nw.png)!important;
}

.ui-icon-arrow-2-n-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-2-n-s.png)!important;
}

.ui-icon-arrow-2-ne-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-2-ne-sw.png)!important;
}

.ui-icon-arrow-2-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-2-e-w.png)!important;
}

.ui-icon-arrow-2-se-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-2-se-nw.png)!important;
}

.ui-icon-arrowstop-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowstop-1-n.png)!important;
}

.ui-icon-arrowstop-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowstop-1-e.png)!important;
}

.ui-icon-arrowstop-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowstop-1-s.png)!important;
}

.ui-icon-arrowstop-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowstop-1-w.png)!important;
}

.ui-icon-arrowthick-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-n.png)!important;
}

.ui-icon-arrowthick-1-ne {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-ne.png)!important;
}

.ui-icon-arrowthick-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-e.png)!important;
}

.ui-icon-arrowthick-1-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-se.png)!important;
}

.ui-icon-arrowthick-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-s.png)!important;
}

.ui-icon-arrowthick-1-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-sw.png)!important;
}

.ui-icon-arrowthick-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-w.png)!important;
}

.ui-icon-arrowthick-1-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-1-nw.png)!important;
}

.ui-icon-arrowthick-2-n-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-2-n-s.png)!important;
}

.ui-icon-arrowthick-2-ne-sw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-2-ne-sw.png)!important;
}

.ui-icon-arrowthick-2-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-2-e-w.png)!important;
}

.ui-icon-arrowthick-2-se-nw {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthick-2-se-nw.png)!important;
}

.ui-icon-arrowthickstop-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthickstop-1-n.png)!important;
}

.ui-icon-arrowthickstop-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthickstop-1-e.png)!important;
}

.ui-icon-arrowthickstop-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthickstop-1-s.png)!important;
}

.ui-icon-arrowthickstop-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowthickstop-1-w.png)!important;
}

.ui-icon-arrowreturnthick-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturnthick-1-w.png)!important;
}

.ui-icon-arrowreturnthick-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturnthick-1-n.png)!important;
}

.ui-icon-arrowreturnthick-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturnthick-1-e.png)!important;
}

.ui-icon-arrowreturnthick-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturnthick-1-s.png)!important;
}

.ui-icon-arrowreturn-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturn-1-w.png)!important;
}

.ui-icon-arrowreturn-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturn-1-n.png)!important;
}

.ui-icon-arrowreturn-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturn-1-e.png)!important;
}

.ui-icon-arrowreturn-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowreturn-1-s.png)!important;
}

.ui-icon-arrowrefresh-1-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowrefresh-1-w.png)!important;
}

.ui-icon-arrowrefresh-1-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowrefresh-1-n.png)!important;
}

.ui-icon-arrowrefresh-1-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowrefresh-1-e.png)!important;
}

.ui-icon-arrowrefresh-1-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrowrefresh-1-s.png)!important;
}

.ui-icon-arrow-4 {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-4.png)!important;
}

.ui-icon-arrow-4-diag {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-arrow-4-diag.png)!important;
}

.ui-icon-extlink {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-extlink.png)!important;
}

.ui-icon-newwin {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-newwin.png)!important;
}

.ui-icon-refresh {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-refresh.png)!important;
}

.ui-icon-shuffle {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-shuffle.png)!important;
}

.ui-icon-transfer-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-transfer-e-w.png)!important;
}

.ui-icon-transferthick-e-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-transferthick-e-w.png)!important;
}

.ui-icon-folder-collapsed {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-folder-collapsed.png)!important;
}

.ui-icon-folder-open {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-folder-open.png)!important;
}

.ui-icon-document {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-document.png)!important;
}

.ui-icon-document-b {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-document-b.png)!important;
}

.ui-icon-note {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-note.png)!important;
}

.ui-icon-mail-closed {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-mail-closed.png)!important;
}

.ui-icon-mail-open {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-mail-open.png)!important;
}

.ui-icon-suitcase {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-suitcase.png)!important;
}

.ui-icon-comment {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-comment.png)!important;
}

.ui-icon-person {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-person.png)!important;
}

.ui-icon-print {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-print.png)!important;
}

.ui-icon-trash {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-trash.png)!important;
}

.ui-icon-locked {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-locked.png)!important;
}

.ui-icon-unlocked {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-unlocked.png)!important;
}

.ui-icon-bookmark {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-bookmark.png)!important;
}

.ui-icon-tag {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-tag.png)!important;
}

.ui-icon-home {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-home.png)!important;
}

.ui-icon-flag {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-flag.png)!important;
}

.ui-icon-calendar {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-calendar.png)!important;
}

.ui-icon-cart {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-cart.png)!important;
}
.ui-icon-clock {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-clock.png)!important;
}

.ui-icon-disk {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-disk.png)!important;
}

.ui-icon-calculator {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-calculator.png)!important;
}

.ui-icon-zoomin {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-zoomin.png)!important;
}

.ui-icon-zoomout {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-zoomout.png)!important;
}

.ui-icon-search {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-search.png)!important;
}

.ui-icon-wrench {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-wrench.png)!important;
}

.ui-icon-gear {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-gear.png)!important;
}

.ui-icon-heart {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-heart.png)!important;
}

.ui-icon-star {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-star.png)!important;
}

.ui-icon-link {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-link.png)!important;
}

.ui-icon-cancel {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-cancel.png)!important;
}

.ui-icon-plus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-plus.png)!important;
}

.ui-icon-plusthick {
    float: left!important;
    width: 16px!important;
    height: 16px!important;
    background-repeat:  no-repeat!important;
    background-position: 0px 0px!important;
    /*background-image: url(plus.png)!important;*/
    background-image: none!important;
    padding-right: 10px!important;
}

.ui-icon-minus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-minus.png)!important;
}

.ui-icon-minusthick {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: none!important;
    /*background-image: url(minus.png)!important;*/
    background-repeat:  no-repeat!important;
    box-shadow:0px!important;
    padding-right: 10px!important;
}

/*.ui-icon-close {
  width: 16px!important;
  height: 16px!important;
  background-position: 0px 0px!important;

  background-image: url(ui-icon-close.png)!important;
}*/

.ui-icon-closethick {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-closethick.png)!important;
}

.ui-icon-key {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-key.png)!important;
}

.ui-icon-lightbulb {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-lightbulb.png)!important;
}

.ui-icon-scissors {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-scissors.png)!important;
}

.ui-icon-clipboard {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-clipboard.png)!important;
}

.ui-icon-copy {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-copy.png)!important;
}

.ui-icon-contact {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-contact.png)!important;
}

.ui-icon-image {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-image.png)!important;
}

.ui-icon-video {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-video.png)!important;
}

.ui-icon-script {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-script.png)!important;
}

.ui-icon-alert {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-alert.png)!important;
}

.ui-icon-info {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-info.png)!important;
}

.ui-icon-notice {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-notice.png)!important;
}

.ui-icon-help {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-help.png)!important;
}
/*.ui-icon-check {
  width: 16px!important;
  height: 16px!important;
  background-position: 0px 0px!important;

  background-image: url(ui-icon-chec.png)!important;
}*/

.ui-icon-bullet {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-bullet.png)!important;
}

.ui-icon-radio-off {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-radio-off.png)!important;
}

.ui-icon-radio-on {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-radio-on.png)!important;
}

.ui-icon-pin-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-pin-w.png)!important;
}

.ui-icon-pin-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-pin-s.png)!important;
}

.ui-icon-play {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-play.png)!important;
}

.ui-icon-pause {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-pause.png)!important;
}

.ui-icon-seek-next {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background: no-repeat!important;
    background-image: url(ui-icon-seek-next.png)!important;
}

.ui-icon-seek-prev {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background: no-repeat!important;
    background-image: url(ui-icon-seek-prev.png)!important;
}

.ui-icon-seek-end {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background: no-repeat!important;
    background-image: url(ui-icon-seek-end.png)!important;
}

.ui-icon-seek-start {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background: no-repeat!important;
    background-image: url(ui-icon-seek-start.png)!important;
}
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */

.ui-icon-seek-first {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background: no-repeat!important;
    background-image: url(ui-icon-seek-start.png)!important;
}

.ui-icon-stop {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-stop.png)!important;
}

.ui-icon-eject {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-eject.png)!important;
}

.ui-icon-volume-off {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-volume-off.png)!important;
}

.ui-icon-volume-on {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-volume-on.png)!important;
}

.ui-icon-power {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-power.png)!important;
}

.ui-icon-signal-diag {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-signal-diag.png)!important;
}

.ui-icon-signal {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-signal.png)!important;
}

.ui-icon-battery-0 {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-battery-0.png)!important;
}

.ui-icon-battery-1 {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-battery-1.png)!important;
}

.ui-icon-battery-2 {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-battery-2.png)!important;
}

.ui-icon-battery-3 {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-battery-3.png)!important;
}

.ui-icon-circle-plus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-plus.png)!important;
}

.ui-icon-circle-minus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-minus.png)!important;
}

.ui-icon-circle-close {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-close.png)!important;
}

.ui-icon-circle-triangle-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-triangle-e.png)!important;
    font-size: 0px!important;
}

.ui-icon-circle-triangle-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-triangle-s.png)!important;
}

.ui-icon-circle-triangle-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-triangle-w.png)!important;
    font-size: 0px!important;
}

.ui-icon-circle-triangle-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-triangle-n.png)!important;
}

.ui-icon-circle-arrow-e {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-arrow-e.png)!important;
}

.ui-icon-circle-arrow-s {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-arrow-s.png)!important;
}

.ui-icon-circle-arrow-w {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-arrow-w.png)!important;
}

.ui-icon-circle-arrow-n {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-arrow-n.png)!important;
}

.ui-icon-circle-zoomin {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-zoomin.png)!important;
}

.ui-icon-circle-zoomout {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circle-zoomout.png)!important;
}
/*.ui-icon-circle-check {
  width: 16px!important;
  height: 16px!important;
  background-position: 0px 0px!important;

  background-image: url(ui-icon-circle-check.png)!important;
}*/

.ui-icon-circlesmall-plus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circlesmall-plus.png)!important;
}

.ui-icon-circlesmall-minus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circlesmall-minus.png)!important;
}

.ui-icon-circlesmall-close {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-circlesmall-close.png)!important;
}

.ui-icon-squaresmall-plus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-squaresmall-plus.png)!important;
}

.ui-icon-squaresmall-minus {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-squaresmall-minus.png)!important;
}

.ui-icon-squaresmall-close {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-squaresmall-close.png)!important;
}

.ui-icon-grip-dotted-vertical {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-grip-dotted-vertical.png)!important;
}

.ui-icon-grip-dotted-horizontal {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-grip-dotted-horizontal.png)!important;
}

.ui-icon-grip-solid-vertical {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-grip-solid-vertical.png)!important;
}

.ui-icon-grip-solid-horizontal {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-grip-solid-horizontal.png)!important;
}

.ui-icon-gripsmall-diagonal-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-gripsmall-diagonal-se.png)!important;
}

.ui-icon-grip-diagonal-se {
    width: 16px!important;
    height: 16px!important;
    background-position: 0px 0px!important;
    background-image: url(ui-icon-grip-diagonal-se.png)!important;
}

.ui-widget-header {
    border: 0px solid #D9D9D9;
    color: #484848;
    font-weight: bold;
    height: 20px;
    text-align: left;
}
/** Date Picker Design**/
/** whole Div of datepicker **/

.ui-datepicker{
    background: #94aaf6 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    background: #94aaf6 -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    border-radius: 5px;
    padding: 0px!important;
    margin: 0px!important;
    border: 0px!important;
    width: 200px;
}

.ui-datepicker td{
    padding: 0px!important;
    margin: 0px!important;
    border: 0px!important;
}
/* all day normally without today */

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    background: none repeat scroll 0 0 transparent;
    margin: 0px!important;
    border: 0px!important;
    color: #FFF;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight {
    color: white !important;
    font-weight: bold;
    text-shadow: 0 2px 1px #234386;
    margin: 0px!important;
    border: 0px!important;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
    color: #000 !important;
    font-weight: bold;
    text-shadow: 0 2px 1px #fff;
    margin: 0px!important;
    box-shadow: 0px 5px 5px #FFFFFF inset !important;
}

.ui-datepicker .ui-datepicker-current-day .ui-state-highlight{
    color: red !important;
    font-weight: bold;
    text-shadow: 0 2px 1px #234386;
    margin: 0px!important;
    border: 0px!important;
}

.ui-datepicker .ui-datepicker-current-day .ui-state-active {
    color: yellow !important;
    font-weight: bold;
    text-shadow: 0 2px 1px #234386;
    margin: 0px!important;
    box-shadow: 0px 5px 5px #FFFFFF inset !important;
}

.ui-datepicker .ui-datepicker-current-day .ui-state-default{
    color: #000 !important;
    font-weight: bold;
    text-shadow: 0 2px 1px #fff;
    margin: 0px!important;
    box-shadow: 0px 5px 5px #FFFFFF inset !important;
}

.ui-datepicker-header{
    background:transparent!important;
    border-bottom: 1px solid #FFF;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.ui-datepicker-calendar{
    background:transparent!important;
}

.ui-datepicker-today{}

.ui-datepicker-days-cell-over {
    color: #000!important;
}

.ui-datepicker-other-month{
    color:white!important;
}

.ui-datepicker-unselectable{}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
}
.general_btn {
    color: white!important;
    font-size: 10px;
    height: 25px !important;
    margin: 0 !important;
    width: auto !important;
    overflow: hidden !important;
    background: #336fff!important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: Arial;
    font-size: 10px!important;
    font-weight: bolder!important;
    box-shadow: 0px 0px 10px #0002 !important;
    transition: all 0.3s linear;
    font-size: small !important;
}
.general_btn:hover{
    color: #336fff !important;
    background: #fff !important;
    border: 1px solid #336fff !important;
}

.tool-tip{
    width: 200px;
    font-size: 10px;
    font-family: @Arial Unicode MS;
    background-color: #FFFFE6;
    border :1px #666666 solid !important;
    position: fixed;
    //position: absolute;
    left: 0px;
    top: 0px;
    white-space: wrap;
}

.loading-icon{
    top: 0px!important;
    left: 0px!important;
    position: relative!important;
    height: 27px!important;
    width: 27px!important;
    background-image: url(connect_idle.gif)!important;
    background-repeat: no-repeat!important;
    background-size: cover;
}

.loading-active{
    top: 0px!important;
    /*left: -1px!important;*/ 
    position: relative!important;
    height: 24px!important;
    width: 24px!important;
    background-size: cover;
    background-image: url(connect_active.gif);
    background-repeat: no-repeat!important;
    display: block!important;
    background-color: transparent !important;
}

.ui-message-error-icon {
    background: none;
    display: none;
}
.ui-messages-error, .ui-message-error{
    text-align: center;
}
.ui-message-error.ui-widget.ui-corner-all{
    background: inherit;
}
.lkp-message-error-detail{
    border: 1px solid!important;
    margin: 0 5px!important;
    padding: 2px 5px!important;
    background-color: #FFBABA!important;
    color: #D8000C!important;
    font-family: Arial,sans-serif!important;
    font-size: 11px!important;
    position: fixed!important;
    height:12px!important;
}


.usr-message-title{
    font-weight: bold;
    font-size: 10px;
}

.usr-message-header{
    font-weight: bold;
    font-size: 11px;
    position: relative;
    left: 20px;
}

.usr-msg-green{
    border-radius: 3px;
    width: 100%;
    border: 1px solid;
    border-color: #666666;
    background:#FFF9E1 -moz-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    background:#FFF9E1 -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    padding: 0px!important;
    margin: 0px;
}
.usr-msg-orange{
    border-radius: 3px;
    width: 100%;
    border: 1px solid;
    border-color: #FF6600;
    background:#FFEFB7 -moz-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    background:#FFEFB7 -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    padding: 0px!important;
    margin: 0px;
}
.usr-msg-red{
    border-radius: 3px;
    width: 100%;
    border: 1px solid;
    border-color: #CC0000;
    background:#F8C09E -moz-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    background:#F8C09E -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    padding: 0px!important;
    margin: 0px;
}
.usr-msgs-table{
    border-color: #000000;
    background-color: #C9E4E4;
}

.usr-message-info,
.usr-message-success,
.usr-message-warning,
.usr-message-error,
.usr-message-validation {
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 50px;
}

.usr-message-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}

.usr-message-success {
    color: #4F8A10!important;
    background-color: #DFF2BF!important;
    background-image: url('success.png')!important;
    display: block!important;
}

.usr-message-warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}

.usr-message-error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}
.ui-panel-titlebar {
    border-radius: 0px;
    height: 16px!important;
    padding: 5px!important;
    margin: 0px;
    color: #666666;
    font-size: 11px;
    background:#FFEFB7 -moz-linear-gradient(right top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    background:#FFEFB7 -webkit-linear-gradient(right top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    border-left-width: 0px;
    border-top: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px ;
    box-shadow:0px!important;
}
.usr-msg-header-lbl{
    color: #333333;
    font-size: 11px;
    font-weight: 600;
    font-family: @Arial Unicode MS;
    text-shadow: none!important;
    text-decoration: none!important;
}
.usr-msg-header-pnl{

}
.ui-panel-title{
    margin: 0px;
}

.ui-panel-titlebar-icon {
    border: 0px solid black !important;
    float: none !important;
    height: 14px !important;
    left: 0 !important;
    position: fixed;
    right: 0 !important;
    width: 100% !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus{
    box-shadow: 0 1px 0 #FFFFFF inset!important;
}

.ui-state-hover{
    box-shadow: 0 1px 0 #FFFFFF inset!important;
}

.ui-state-hover a, .ui-state-hover a:hover{
    color: #2f556a;
    text-decoration: none;
}
.ui-inputfield,
.ui-widget-content .ui-inputfield,
.ui-widget-header .ui-inputfield {
    box-shadow: 0 0px 0px #8F8F8F inset;
    /*font-family: @Arial Unicode MS;
    font-size: 1em!important;
    font-weight: normal;*/
    font: 12px/1.4 arial,tahoma,verdana,sans-serif !important;
    color:#000000!important;
    width: 100%;
    border: 1px solid #d8dde6;
    border-radius: 5px;
    padding: 4px 0px;
}
.ui-inputfield:hover, .ui-widget-content .ui-inputfield:hover, .ui-widget-header .ui-inputfield:hover{
    transition: all 0.3s linear;
    box-shadow: 2px 4px 13px #0002 !important;
    -moz-box-shadow: 2px 4px 13px #0002 !important;
}
    .ui-paginator .ui-paginator-pages{
        border: 0px !important;
        background: transparent !important;
    }

.hlp-img {
    background: none repeat scroll 0 0 transparent !important;
    padding-left: 5px !important;
    vertical-align: middle;
}
.mandatory-img{
    height: 7px!important;
    width: 7px!important;
    padding-left: 5px!important;
}
.row_edit_label{
    color:#0099FF;
    font-size: 9px;
    font-family: @Arial Unicode MS;
    width:75px!important;
}
.more_action_main_menu_item{
    display: none!important;
}
.img-cntrl{
    height: 100px!important;
    /*width: 100px!important;*/
}
.refresh_btn {
    background:url("refresh.png") no-repeat scroll 0 0 transparent !important;
    margin: 0px!important;
    border: 0px!important;
    width: 30px!important;
    height:30px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
}

.refresh_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.info_btn {
    background-image: url("mandatory.png") !important;
    border: 0 none !important;
    border-radius: 0 0 0 0 !important;
    box-shadow: 0 0 0 #FFFFFF inset !important;
    font-size: 0 !important;
    height: 16px !important;
    margin: 4px 10px 4px 4px !important;
    width: 16px !important;
}

.info_btn:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}

.search_btn_1 {
    background-image: url(search.png) !important;
    background-repeat: no-repeat !important;
    margin: 0px!important;
    border: 0px!important;
    width: 23px!important;
    height:23px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
}

.search_btn_1:hover{
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
}
.inbox-search-text{
    width:200px;
    margin-left: 20px!important;
    margin-right: 20px!important;
}
.inbox-state-icon{
    alignment-adjust: middle!important;
}
.OTMSSelectManyListbox{
    height: 120px!important;
    width: 170px!important;
}

.ui-selectonemenu-panel  {
    /*   height: 100px !important;*/
    overflow: auto;
    box-shadow: 2px 2px 2px 1px #0006!important;
    background-color: #d2e5eb;
    border-radius: 6px;
}
.ui-selectonemenu-items-wrapper{
    position:relative!important;
    overflow: auto !important;
    height: 90px !important;
    background-color: #f9faff;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px!important;
    font-weight: bolder!important;
    padding: 0px 0px 0px 0px;
}
.ui-selectonemenu-filter-container{
    background-color: #fff;
    border-radius: 0px;
    border: 0px solid #9b8c8c;
}
.ui-selectonemenu-list {
    border: 0 none;
    /* height: 200px !important;*/
    overflow: hidden;
    padding: 0em;
    background: #fff!important;
}
.ui-selectonemenu-list li:hover{
    color: #777777!important;
    font-weight: bold;
}

.actionTablePanel > div > div + div{
    display:none!important;
}
.actionTablePanel li{
    width: 130px !important;
}
.actionTablePanel > div > div + div + div{
    display:none!important;
}
.ballonActionButton {
    height: 18px !important;
    padding-right: 5px;
    width: 20px !important;
}
.bln-lbl-title{
    color: #0099CC;
}
.ui-radiobutton-icon{
    background-position: left !important;
    background-repeat: no-repeat !important;
}
.tabularScrForm{
    width: 100%;
}
.action-column{
    border-right: 2px solid #FFFFFF !important;
    background-size: cover;
    height: 16px !important;
    width: 16px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    background: white repeat scroll 0 0 transparent !important;
    border: 0 solid #DDEEFF;
    color: #4F4F4F;
    font-weight: bold;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    color:red;
}
.ui-cell-editor-input table,.ui-cell-editor-input tbody ,.ui-cell-editor-input tr,.ui-cell-editor-input td{
    padding:0px;
    margin:0px;
    border:0px;
    border-collapse:collapse ;
}
.tabularScrForm table,.tabularScrForm tbody ,.tabularScrForm tr,.tabularScrForm td{
    padding:0px;
    margin:0px;


}
.tabularScrForm >table>tbody,.tabularScrForm >table>tbody> tr,.tabularScrForm >table>tbody> tr+tr ,.tabularScrForm >table >tbody > tr+tr > td{
    padding:0px;
    margin:0px;
    border:0px !important;
    border-collapse:collapse !important ;
    width:100%;
}
.tabularScrForm >table{
    background: #fff;
}

.generalPanel  ,.generalPanel   div{
    padding:0px !important;
    margin:0px;
    border:0px ;
    border-collapse:collapse ;
    background: #fff;
}

.ui-menubutton .ui-button {
    background: #336fff;
    -webkit-border-radius: 29;
    -moz-border-radius: 29;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    top:10px!important;
    font-size: 11px;
    padding: 3px 5px;
    text-decoration: none;
    box-shadow: 0px 3px 10px #0005 !important;
    transition: all 0.3s linear;
}
.ui-button{
   outline: none;
   min-width: 55px !important;
   padding: 3px 5px !important;
   width: auto !important;
}
.ui-button.bln-btn-tbl{
    min-width: auto !important;
}
.ui-menubutton .ui-button :hover{
    background: #3cb0fd;
    text-decoration: none;
}
.ui-button.ui-widget.ui-state-default.ui-button-text-icon-left:hover{
box-shadow: 0px 0px 0px #0005 !important;
background: #fff;
color: #336fff;
border: 1px solid #336fff;
}
.ui-overlaypanel {
    padding: 0.0;
    position: absolute;
}
balloon-overlay {
    background-color : #E1F3FA!important;
    display: block;
    visibility: visible;
}
.ui-overlay-visible {
    visibility: visible;
    border-radius: 5px;
}
.ui-shadow {
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
    opacity: 1 !important;
}

.ui-overlaypanel > table{
    display: block;

}

.actionTablePanel {
    height: 110px;
    left: 10px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    position: absolute;
    text-align: left;
    top: 20px !important;
    width: 180px !important;
    background: transparent !important;
}
.actionTablePanel > div {
    left: 0px !important;
    position: absolute;
    width: 100% !important;
    height: 100% !important;

}
.actionTablePanel > div > div{
    left: 0px !important;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden !important;
    overflow-y: visible !important;
}
.mainTablePanel {
    display: block;
    left: 0;
    position: relative;
    width: 200px !important;
}
.balloon_action_link {
    background: none repeat scroll 0 0 transparent !important;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: normal !important;
    vertical-align: top !important;
    word-spacing: 1.5px;
}
.ui-datalist-item > span{
    display:none;
}
.briefPanel {
    border-right: 0px solid #CCCCCC !important;
    height: 110px;
    left: 190px;
    overflow-x: hidden;
    overflow-y: auto !important;
    position: absolute;
    top: 20px;
    width: 200px;
    background: transparent !important;
}

.briefPanel > div > div + div{
    display:none!important;
}
.briefPanel > div > div + div + div{
    display:none!important;
}
.bln-lbl-title {
    color: #fff;
    font-size: 10px!important;
    padding-left: 5px !important;

}
.bln-lbl-brf {
    font-family: Arial;
    font-size: 12px;
    padding-left: 3px;
    width: 200px !important;
    word-wrap: break-word !important;
}
.briefPanel > div{
    /*background: none repeat scroll 0 0 green;*/
    position: absolute;
    width: 215px !important;
} 
.briefPanel > div > div{
    /*background: none repeat scroll 0 0 blue;*/
    position: absolute;
    width: 212px !important;
} 
.balloonWindowImage{
    float: left;
    height: 16px;
    padding-left: 0 !important;
    padding-right: 2px;
    width: 16px;
}
.ballonActionButton{
    width:20px;
}
.balloon-list-panel > tbody >  tr > td + td{
    width:98%!important;
}
.balloon-list-panel tr:hover{
    color: white!important;
}
.bln-btn-tbl{
    background-image: url("bln_btn.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    box-shadow: none !important;
    color: transparent !important;
    font-size: 0 !important;
    height: 20px !important;
    width: 16px !important;
}
.column-business{
    /*border-right: 2px solid #FFFFFF !important;*/
    border-right: 1px solid #ffffff !important;
    /*width:100%!important;*/
}
.column-business > td + td + td{
    width:100%!important;
    float:left;
}
.bln-grid-panel{
    width:20px!important;
}
.bln-grid-panel > tbody{
    width:20px!important;
}
.bln-grid-panel > tbody > tr > td {
    width:20px!important;
}
.bln-grid-panel > tbody > tr > td + td {
    display:none!important;
}
.bln-column{
    margin: 0px!important;
    border-collapse: collapse!important;
    border:0px!important;
    padding:0px!important;
    width:20px!important;

}
.ui-dt-c > table +span{
    top:-22px!important;
    left:20px!important;
    position:relative!important;
    height: 20px;
}
.balloonOverLay {
    height: 150px !important;
    background-repeat: no-repeat!important;
    width: 400px !important;.ui-overlay-visible;
    opacity: 0.9;
}
.sideBalloonStyle{
    border-right: 1px solid #ffffff !important;
}
.customDataTable{
}
.customDataTable >table{
    width:100%!important; 
}
.customDataTable >table >tbody{
    border: 0px solid #fff;
}
.dropdown-list-panel{
    width: 100%!important;
}
.dropdown-list-LTR {
    width: 100%!important;
}
.dropdown-list-RTL {
    width: 100%!important;
}
.dropdown-list-LTR > div + label + div{
    right:0px!important;
    left:auto!important;
}
.dropdown-list-RTL > div + label + div{
    right:auto!important;
    left:0px!important;
}
.usr-msg-header-RTL{
    position: absolute!important;
    right:40px!important;
}
.usr-msg-header-lbl:hover{
    color: #587674!important;
}
.delete_btn{
    background-image: url(delete_btn.png)!important;
    background-repeat: no-repeat!important;
    height: 20px!important;
    width: 17px!important;
    border: 0px!important;
    background-size: cover!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
    margin-right: 3px!important;
    padding: 0px!important;
    width: 18px !important;
    min-width: 18px !important;
}
.deletewithoutconf_btn{
    display:none;
}
.duplicate_btn{
    background-image: url(duplicate_btn.png)!important;
    background-repeat: no-repeat!important;
    height: 20px!important;
    min-width: 17px !important;
    width: 17px!important;
    border: 0px!important;
    background-size: cover!important;
    border: 0px!important;
    box-shadow: 0 0px 0 #FFFFFF inset!important;
    border-radius:0px!important;
    font-size: 0!important;
    margin: 0px!important;
    padding: 0px!important;
}
.ui-icon-pencil{
    background-image: url("edit.png") !important;
    background-position: 0 0;
    background-repeat: no-repeat !important;
    height: 20px!important;
    width: 17px!important;
    border: 0px!important;
    background-size: cover!important;
    margin-right:2px!important;
}
.editor-column{
    background-image: url("") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: relative;
    border: 0px solid #ffffff !important;
    height: 20px!important;
    /*width: 80px!important;*/
    margin: 0px!important;
    padding: 0px!important;

}
th.editor-column {
    width: 62px!important;
    margin: 0px!important;
    padding: 0px!important;
    left: 0px!important;
    height: 38px!important;
    position: absolute!important;
    margin-bottom: 1px;
    border-top: 2px solid #f9faff !important;
    /*top: -1px!important;*/
    height: 53px !important;

}
th.editor-column  > div > span{
    /*   font-size: 12px!important;
       text-align: left;*/
}
th.editor-column  > div {
    padding: 0px!important;
    /*   font-size: 12px!important;
       text-align: left;*/
}
.editor-column > div > span > span + span{
    background-image: url("ok_icon.png") !important;
    background-position: 0 0;
    background-repeat: no-repeat !important;
    height: 20px!important;
    width: 20px!important;
    background-size: cover;
    /*    margin-left: 5px!important;*/
}
.editor-column > div > span > span + span + span{
    background-image: url("cancel_icon.png") !important;
    /*background-position: 0 0;*/
    background-repeat: no-repeat !important;
    height: 20px!important;
    width: 20px!important;
    background-size: cover;
    /*right: 3px!important;*/
    position: relative;
}
.delete-column{
    background-image: url("") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: relative;
    border-right: 0px solid #ffffff !important;
    height: 24px!important;
    width: 24px!important;
}
.duplicate-column{
    background-image: url("") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: relative;
    border-right: 1px solid #ffffff !important;
    height: 24px!important;
    width: 24px!important;
}
.ui-radiobutton .ui-radiobutton-box {
    background: none repeat scroll 0 0 lightblue !important;
    border-radius: 10px 10px 10px 10px;
    bottom: 0;
    height: 16px;
    left: 50%;
    line-height: 16px;
    /* position: absolute;*/
    width: 16px;
    position: relative; 
    vertical-align: central;
}

.ui-selectoneradio td:nth-child(odd){
    width:30px;
}


.pick_btn_icon{
    margin: 0px!important;
    border: 0px!important;
    background: no-repeat!important;
    background: none transparent!important;
    display: inline-block!important;
    /*background-image: url(pick_btn.png)!important;*/
    background-position: 0px 0px!important;
    /*    width: 53px!important;
        height:44px!important;*/
    /*    left:   -1px!important;
        top:  -2px!important;*/
}
.reset_btn_icon{
    margin: 0px!important;
    border: 0px!important;
    background: no-repeat!important;
    background: none transparent!important;
    display: inline-block!important;
    /*background-image: url(pick_btn.png)!important;*/
    background-position: 0px 0px!important;
    /*    width: 53px!important;
        height:44px!important;*/
    /*    left:   -1px!important;
        top:  -2px!important;*/
}
colored {
    background-color : #FF0000!important;
}
