<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{FormBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css"></link>            
    </h:head>
  <h:body id="outputBody1" style="-rave-layout: grid;width: 97%">
        <script>
            jQuery(document).ready(function() {
                //alert('from JQuery');
                var jsComnds = document.getElementById("frmScrForm:jsCommands");
                try{
                    //alert(jsComnds.value);
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
            });            
                         
        </script>
        <h:form id="ChangeUserPasswordFrm" dir="#{FormBean.htmlDir}" enctype="multipart/form-data">          
            <table width="100%">
                <tr>
                    <td>
                        <h:panelGrid  id="topLeftPanel"/>
                    </td>
                    <td>
                    </td>
                    <td>
                        <h:panelGrid  id="topRightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid  id="leftPanel"/>
                    </td>
                    <td>                                     
                        <h:panelGrid  id="middlePanel" binding="#{FormBean.htmlPanelGrid}" dir="#{FormBean.htmlDir}"/>

                    </td>
                    <td>
                        <h:panelGrid  id="rightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- 
                        <p:outputPanel autoUpdate="true">
                            <h:outputLabel rendered="#{FormBean.showTransFlds}">Hello Me!</h:outputLabel>
                        </p:outputPanel>
                        -->
                        <h:panelGrid  id="fotterPanel"/>
                    </td>

                    <td>
                        <h:panelGrid  id="entityRequestPanel"  binding="#{FormBean.entityRequestPanelGrid}"/>
                    </td>
                </tr>
            </table>

            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{FormBean.onloadJSStr}" />
                <p:commandLink partialSubmit="true" 
                               styleClass="backupLink" immediate="true" action="#{FormBean.backupDataAction}" />
                <p:commandLink partialSubmit="true" id="c2aLink" immediate="true"
                               ajax="true" update="frmScrForm:middlePanel"
                               styleClass="c2aLink" action="#{FormBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned" 
                               ajax="true" update="frmScrForm:middlePanel" 
                               immediate="true" action="#{FormBean.lookupReturned}" />
                <p:commandLink partialSubmit="true" id="rdoLink" styleClass="rdoLink" 
                               ajax="true" update="frmScrForm:middlePanel" 
                               immediate="true" action="#{FormBean.ReloadDataOnly}" />
            </div>
        </h:form>
    </h:body>
</html>