<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Change Tenant
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css"/>
    </h:head>

    <h:body id="outputBody1" style="height: 300px; ">
        <h:form id="tform001" >
            <p:panel header="Select a company" >
                <h:panelGrid columns="2" cellpadding="5">
                    <!--<p:separator />-->
                    <!--<p:separator />-->
                    <p:outputLabel for="tenants" value="Company: " />
                    <p:selectOneMenu immediate="true" id="tenants" value="#{manageUserTenant.selectedTenantId}" class="dropDownMenu" style="width:500px">
                        <f:selectItem itemLabel="Select a company" itemValue="" noSelectionOption="true" />
                        <p:ajax listener="#{manageUserTenant.onTenantChange}" />
                        <f:selectItems value="#{manageUserTenant.userTenants}"/>
                    </p:selectOneMenu>
                </h:panelGrid>

                <!--<p:separator />-->

                <p:commandButton id="btn001" value="Submit" type="Submit" immediate="true" actionListener="#{manageUserTenant.changeTenant}" class="save_btn" icon="save_btn_icon" />
            </p:panel>
        </h:form>
    </h:body>
</html>