<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <f:view contentType="text/html">

        <h:head>
            <!--ice:outputStyle href="/resources/FormRime.css" id="outputStyle3"/-->
            <script type="text/javascript" src="#{request.contextPath}/resources/charts.js"></script>
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/charts.css"></link>
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/customedChart.css"></link>

        </h:head>
        <h:body id="outputBody1" style="-rave-layout: grid" >    
            <script>
                function simulateDownloadBtnClick(){
                    try{
                        var commandLink = document.getElementById('frmScrForm:downloadLink');
                        commandLink.click();
                    }catch(error){
                        console.log(error);
                    }
                }
            </script>
            <h:form id="frmScrForm" dir="#{ChartBean.htmlDir}">
                <table width="100%">
                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                    <tr>                    
                        <td>
                            <p:lineChart rendered="false" id="hiddenChart"/>                                                        
                            <p:panel style="background-color : transparent;
                                     width: 100%;border: transparent" binding="#{ChartBean.fabsScreenGrid}"/>
                        </td>

                    </tr>                
                </table>            
                <div style="display:none">
                    <p:commandButton id="downloadLink" value="Download" ajax="true" partialSubmit="true"
                                     immediate="true" onclick="PrimeFaces.monitorDownload(start, stop)"   
                                     icon="ui-icon-arrowthichk-s">  
                        <p:fileDownload value="#{TabularBean.exportedFile}" />  
                    </p:commandButton> 
                </div>
            </h:form>
        </h:body>
    </f:view>
</html>
