<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{CustomReportFilterBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <link id="FR" type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css" media="screen"></link>     
        <link id="FR2" type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css" media="print"></link>     
        <meta http-equiv="default-style" content="FR" />
        <meta http-equiv="expires" content="9999999999999999" />
        <meta http-equiv="cache-control" content="max-age=9999999999999999" />
        <h:outputText  escape="false" id="customedDynamicBalloonStyle" value="#{CustomReportFilterBean.customedDynamicBalloonStyle}"/>
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid;width: 97%">
        <span style="display:none" id="#{CustomReportFilterBean.portletInsId}marker"></span>

        <script id="script1" type="text/javascript">
            jQuery(document).ready(function() {
                var jsComnds = document.getElementById("frmScrForm:jsCommands");
                try{
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
            }); 
            /*<![CDATA[*/
            var width = document.body.offsetWidth;
            var x_mouseClick;
            var y_mouseClick;
            var isIE = document.all ? true : false;

            window.onclick= getMousePosition;
            function getMousePosition(event) {
                x_mouseClick = event.clientX;
                y_mouseClick = event.clientY;
                return true;
            }
            function hideBreifSeCtion(panelId){
                var currentOverlayPanal = document.getElementById(panelId);
                var briefId = panelId.replace("balloonOverLay","briefPanel");
                var briefInfoPanel = document.getElementById(briefId);
                var middlePOS = false;
                var rightPOS = false;
                var leftPOS = false;
                var topPOS = false;
                var body = document.body,
                html = document.documentElement;
                //  alert(1);
                var height = Math.max( body.scrollHeight, body.offsetHeight, 
                html.clientHeight, html.scrollHeight, html.offsetHeight );
                if((width-x_mouseClick) <400 && width>400 && x_mouseClick<400){
                    middlePOS = true;
                }else if((width-x_mouseClick) > 400){
                    rightPOS = true;
                }else if ((width-x_mouseClick) < 400 && x_mouseClick > 400){
                    leftPOS = true;
                }
                if(y_mouseClick < 133){
                }else{
                    if(height-y_mouseClick < 160){
                        topPOS = true;
                    }
                }
                if(middlePOS && topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style"); 
                    var1 = var1+ " background-image:url(resources/left-bottom-small.png)!important;position:absolute!important;width:200px!important;z-index:1;";
                    
                    currentOverlayPanal.setAttribute("style", var1);
                    if(briefInfoPanel!=null){
                        briefInfoPanel.setAttribute("style", "display:none!important");
                    }
                }else if(middlePOS && !topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style");
                    var1 = var1 + "background-image:url(resources/left-top-small.png)!important;left:"+(x_mouseClick)+"px!important;position:absolute!important;width:200px!important;z-index:1;";
                    currentOverlayPanal.setAttribute("style", var1);
                    
                    if(briefInfoPanel!=null){
                        briefInfoPanel.setAttribute("style", "display:none!important");
                    }
                }else if(rightPOS && topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style");
                    var1 = var1 + "background-image:url(resources/left_bottom.png)!important; position:absolute!important;visibility:visible;z-index:1;";
                    currentOverlayPanal.setAttribute("style", var1);
                                
                       
                }else if(rightPOS && !topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style");
                    var1 = var1 + "background-image:url(resources/left_up.png)!important;position:absolute!important;visibility:visible;z-index:1;";
                    currentOverlayPanal.setAttribute("style", var1);
                }else if (leftPOS && !topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style");
                    var1 = var1 + "background-image:url(resources/right_up.png)!important;position:absolute!important;visibility:visible;z-index:1;";
                    currentOverlayPanal.setAttribute("style", var1);
                }else if (leftPOS && topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style");
                    var1 = var1 + "background-image:url(resources/right_bottom.png)!important;position:absolute!important;visibility:visible;z-index:1;";
                    currentOverlayPanal.setAttribute("style", var1);
              
                }
            }
            function simulateDownloadBtnClick(){
                try{
                    var commandLink = document.getElementById('frmScrForm:downloadLink');
                    commandLink.click();
                }catch(error){
                    console.log(error);
                }
            }
            function displayNone(panelId){
                var overlayPanel =  document.getElementById(panelId);
                overlayPanel.setAttribute("style", "display:none!important");
                top.FABS.Portlet.updateIframeSizeWithHeight({iframeName:"#{TabularBean.portletInsId}Frame",screenHeight:"500"});
            }
            function displayBlock(buttonId, panelId,firstClick, secondClick){
                var overlayPanel =  document.getElementById(panelId);
                if(firstClick && secondClick){
                    overlayPanel.setAttribute("style", "display:block!important");
                }else{
                    overlayPanel.setAttribute("style", "display:none!important");
                }
            }
            function balloonPositionManager(event, id, side){
                var overlayPanelId = id.replace("openButton","balloonOverLay");
                var currentOverlayPanal = document.getElementById(overlayPanelId);
                var body = document.body,
                html = document.documentElement;
                var height = Math.max( body.scrollHeight, body.offsetHeight, 
                html.clientHeight, html.scrollHeight, html.offsetHeight );
                var middlePOS = false;
                var rightPOS = false;
                var leftPOS = false;
                var topPOS = false;
                if((width-event.clientX) <400 && width>400 && event.clientX<400){
                    middlePOS = true;
                }else if((width-event.clientX) > 400){
                    rightPOS = true;
                }else if ((width-event.clientX) < 400 && event.clientX > 400){
                    leftPOS = true;
                }
                if(event.clientY < 140){
                    if(height-event.clientY < 168){  
                        top.FABS.Portlet.resizeIframeHeightForBalloon({iframeName:"#{FormBean.portletInsId}Frame",screenHeight:((event.clientY)+190)});
                    }
                }else{
                    if(height-event.clientY < 168){
                        topPOS = true;
                    }
                }
            } 
            /*]]>*/
        </script>
        <h:form id="frmScrForm" dir="#{CustomReportFilterBean.htmlDir}" enctype="multipart/form-data">      
            <table width="100%">
                <tr>
                    <td>                                     
                        <h:panelGrid  id="middlePanel" binding="#{CustomReportFilterBean.htmlPanelGrid}" dir="#{CustomReportFilterBean.htmlDir}"/>

                    </td>
                </tr>
                  <tr>
                    <td>
                        <h:panelGrid  id="entityRequestPanel"  binding="#{CustomReportFilterBean.entityRequestPanelGrid}"/>
                    </td>
                </tr>
            </table>
            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{CustomReportFilterBean.onloadJSStr}" />
                <p:commandLink partialSubmit="true" id="c2aLink" immediate="true"
                               ajax="true" update=":frmScrForm:middlePanel" 
                               styleClass="c2aLink" action="#{CustomReportFilterBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned" 
                               ajax="true" update=":frmScrForm:middlePanel" 
                               immediate="true" action="#{CustomReportFilterBean.lookupReturned}" />
            </div>
        </h:form>
    </h:body>
</html>
