<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- 
    Document   : OTMSMenu
    Created on : Aug 10, 2010, 12:52:46 PM
    Author     : htawab
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"            
      xmlns:pou="http://primefaces.org/ui"     
      dir="#{DockMenuBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>  

        <h:outputText  escape="false" id="customedDynamicStyle" value="#{DockMenuBean.customedDynamicStyle}"/>
        <link type="text/css" title="MenuCss" rel="stylesheet" href="#{request.contextPath}/resources/MenuRime#{DockMenuBean.htmlDir}.css"></link>
        <script id="script1" type="text/javascript">
            //<![CDATA[/
            var latestMenuElement;
            $('html').click(function (e) {
                if ($(e.target).closest('#docMenuForm').length == 0) {
//                    console.log('ouside Menu Panel');
                    if (latestMenuElement !== undefined) {
//                        console.log('simulate cLick');
                        $(latestMenuElement).trigger('mouseenter');
                        $(latestMenuElement).trigger('click');
                        e.preventDefault();
                    }
                } else {
//                    console.log('inside Menu');
                    latestMenuElement = e.target;
                    top.FABS.Portlet.updateMenuFrameSize({});
                }
            });
            // HBM, extend liferay session if the user is working inside a screen
            window.onclick = function () {
                top.FABS.Session.extend();
            };
            window.onkeydown = function () {
                top.FABS.Session.extend();
            };
            function clickDockMenu() {
                top.FABS.Portlet.updateMenuFrameSize({});
            }
            function clickDockMenuSmall() {
                top.FABS.Portlet.updateMenuFrameSizeSmall({});
            }
            function dblClickDockMenu() {
            }

            top.FABS.Portlet.updateClosedState({});
//if(!window.localStorage.getItem('firstLoad'))
//{
//window.localStorage['firstLoad'] =true;
//
//history.go(0);
//
//}
//else
//{
//window.localStorage.removeItem('firstLoad');
//
//}
            /*var timer;
             var el = document.getElementById('docMenuForm');
             
             el.onclick = function() {
             if (timer) clearTimeout(timer);
             timer = setTimeout(function() {}, 50);        
             top.FABS.Portlet.updateMenuFrameSize({}); 
             }
             
             el.ondblclick = function() {
             clearTimeout(timer);
             }*/

            function InitMouseDblClick(event) {
                if (event.initMouseEvent) {     // all browsers except IE before version 9
                    var mousedownEvent = document.createEvent("MouseEvent");
                    mousedownEvent.initMouseEvent("mousedown", true, true, window, 0,
                            event.screenX, event.screenY, event.clientX, event.clientY,
                            event.ctrlKey, event.altKey, event.shiftKey, event.metaKey,
                            0, null);
                    event.target.dispatchEvent(mousedownEvent);
                } else {
                    if (document.createEventObject) {   // IE before version 9
                        var mousedownEvent = document.createEventObject(window.event);
                        mousedownEvent.button = 1;  // left button is down
                        event.srcElement.fireEvent("onmousedown", mousedownEvent);
                    }
                }
            }
            function click(event) {
                var ev = document.createEvent("MouseEvent");
                ev.initMouseEvent(
                        "dblclick",
                        true /* bubble */, true /* cancelable */,
                        window, null,
                        event.screenX, event.screenY, 0, 0, /* coordinates */
                        false, false, false, false, /* modifier keys */
                        0 /*left*/, null);
                el.dispatchEvent(ev);
            }

            function displayWidthStyleToUlTag()
            {
                var mainUL = document.getElementById("docMenuForm:ID_MegaMenu").firstChild;
                //alert("ID_MegaMenu : "+mainUL);
                var liKids = mainUL.childNodes;
                var tdsCount = 0;
                //alert("liKids.length : "+liKids.length);
                for (var i = 0; i < liKids.length; i++) {
                    var liClassName = liKids[i].className;
                    //alert(liKids[i].getElementsByTagName("ul"));
                    var lastUl = liKids[i].getElementsByTagName("ul");
                    if (lastUl != null) {
                        dim         //alert("lastUl : "+lastUl);
                        for (var j = 0; j < lastUl.length; j++) {
                            var tds = lastUl[j].getElementsByTagName("td");
                            if (tds.length > 1) {
                                var lastULClassName = lastUl[j].className;
                                $('mega_menu_submenu6 > ul').css('width', (150 * tds.length) + 'px!important');
                                //alert("LI: "+liKids[i]+" UL: "+ lastUl[j]+ "TDs: "+tds.length );
                                // var style = document.createElement('style');
                                //style.type = 'text/css';
                                //style.innerHTML = '.lastUl'+j+' { width:'+(150 * tds.length)+'px!important;}';
                                // alert(style.innerHTML);
                                // lastUl[j].appendChild(style);
                                //alert(lastUl[j].className);
                                //lastUl[j].width=(150 * tds.length)+"px!important";
                                //alert("width : "+lastUl[j].width)
                                //  lastUl[j].style.backgroundColorHover ='blue!important';
                            }
                        }

                    }

                }
            }
            function getStyleSheet(recommendedWidth) {
                for (var i = 0; i < document.styleSheets.length; i++) {
                    var sheet = document.styleSheets[i];
                    if (sheet.title == "MenuCss") {
                        //alert(sheet.title);
                        stylesheet.insertRule(".have-border { border: 1px solid black;}", 0);
                    }
                }
            }
            function logout() {
                var commandLink = document.getElementById('docMenuForm:logOutBtn');
                commandLink.click();
            }
            //]]>

        </script>  

        <!--h:outputStylesheet name="resources/MenuRime.css" /-->
    </h:head>

    <h:body style="-rave-layout: grid;overflow:hidden;" id="outputBody1">
        <h:form id="docMenuForm" style="width:100%" enctype="multipart/form-data">
            <table width="100%">
                <tr width="100%">
                    <td>
                        <pou:panel id="leftPanel" rendered="false"/>
                    </td>
                    <td width="100%">
                        <h:panelGrid styleClass="middlePanel" id="middlePanel" binding="#{DockMenuBean.menuPanel}"/>
                    </td>
                    <td>
                        <pou:panel id="rightPanel" rendered="false"/>
                    </td>
                </tr>
            </table>   
            <div style="display:none">
                <p:inputTextarea id="jsCommands" />
            </div>
        </h:form>
    </h:body>
    <script>
        //<![CDATA[
        // displayWidthStyleToUlTag();
        $(document).ready(function () {
            $('li.ui-widget.ui-menuitem.ui-corner-all.ui-menu-parent.mega_menu_submenu').mouseover(function () {
                var myLeft = $(this).children('ul').children('table').offset().left;
                var myRight = myLeft + $(this).children('ul').children('table').width();
                var viewportRight = $(window).width() + $(window).scrollLeft();
                if ((myRight > viewportRight) && (viewportRight - myRight) < 100) {
                    console.log("viewreport:", viewportRight);
                    console.log("myRight:", myRight);
                    $(this).children('ul').css('left', "auto").css('right', $(this).children('ul').children('table').width() - $(this).width());
                }
            });
        });
//]]>
    </script>
    
</html>
