<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        
        
        Hello from Facelets
        <br />
       
        <div id="graphics" style="overflow:hidden;position:relative;width:600px;height:370px;border:#999999 1px solid;">
<span style="font-size:14pt;color:Green;"><b>&nbsp;Drag the yellow circles</b></span>
</div>
<script src="js/jsDraw2DX.js" type="text/javascript" charset="utf-8"></script>
        
        <script src="js/draw.js" type="text/javascript" charset="utf-8"></script>
    </h:body>
</html>

