<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{EntityAttachmentBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/rime.css"></link>            
        <style>
            .viewerPanel{
                width:100%;
                min-width: 100%;
                max-width: 100%;
            }
            .viewerPanel > div{
                width: 100%;
                height:300px;
            }
            .viewerPanel > div > * {
                max-width: 100%;
                max-height: 100%;
            }

            div.scroll{
               height: 100%;/*something like 90% would work too if parent's height is specified*/
               width: 100%;
               word-wrap: break-word;/*if you want to prevent horizontal scrolling and wrap text instead*/
               overflow: scroll;
            }
        </style>
    
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid">
        <script>
            jQuery(document).ready(function() {
                //alert('from JQuery');
                var jsComnds = document.getElementById("entityAttScr:jsCommands");
                try{
                    //alert(jsComnds.value);
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
            });            
                         
        </script>
        <script type="text/javascript">  
            function start() {  
                statusDialog.show();  
            }  
  
            function stop() {  
                statusDialog.hide();  
            }  
        </script>
        <h:form id="entityAttScr" dir="#{EntityAttachmentBean.htmlDir}"  enctype="multipart/form-data">
           <!-- <p:growl id="messages" showDetail="true"/> -->
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            <p:confirmDialog message="#{EntityAttachmentBean.confirmDialogStr}" severity="alert"
                             widgetVar="confirmation">
                <p:commandButton id="confirm" actionListener="#{EntityAttachmentBean.deleteAttachment}"
                                 oncomplete="confirmation.hide()" update="downloadPnl viewAttachmentsPnl"
                                 value="#{EntityAttachmentBean.confirmBtnStr}">
                </p:commandButton>
                <p:commandButton id="decline" oncomplete="confirmation.hide()" 
                                 value="#{EntityAttachmentBean.declineBtnStr}"
                                 type="button"/>
            </p:confirmDialog>
            <table width="100%">
                <tr>
                    <td>
                        <h:panelGrid  id="topLeftPanel"/>
                    </td>
                    <td>
                    </td>
                    <td>
                        <h:panelGrid  id="topRightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid  id="leftPanel"/>
                    </td>
                    <td> 
                        <p:dialog modal="true" widgetVar="statusDialog" header="Uploading"
                                  draggable="false" closable="false" resizable="false">  
                            <p:graphicImage value="/resources/ajax-loader.gif" />  
                        </p:dialog>
                        
                        <p:panel id="viewAttachmentsPnl" header="View Attachment(s)" toggleable="true" collapsed="true" rendered="#{not EntityAttachmentBean.entity.preSavedEntity}">    
                            <p:tabView value="#{EntityAttachmentBean.entityAttachments}" var="item">
                                <p:tab title="#{item.shortName}" titletip="#{item.name}">
                                    <h:panelGroup rendered="#{fn:contains(item.mimeType, 'image')}">
                                         <h:graphicImage value="/AttachmentContentServlet?attachmentId=#{item.id}" width="200" height="171" />
                                    </h:panelGroup>

                                    <h:panelGroup rendered="#{fn:contains(item.mimeType, 'text')}">
                                        <h:outputText escape="false" value="#{item.rawString}" style="width: 100%; overflow-x: scroll; display:block;"/>                                       </h:panelGroup>

                                    <h:panelGroup rendered="#{fn:contains(item.mimeType, 'pdf')}">
                                        <object type="application/pdf" data="${request.contextPath}/AttachmentContentServlet?attachmentId=#{item.id}" height="400px" width="100%" internalinstanceid="3">
                                            Your browser can't display pdf, <a href="${request.contextPath}/AttachmentContentServlet?attachmentId=#{item.id}">click</a> to download pdf instead.
                                        </object>            
                                    </h:panelGroup>

                                    <h:panelGroup rendered="#{ not fn:contains(item.mimeType, 'pdf') and not fn:contains(item.mimeType, 'image') and not fn:contains(item.mimeType, 'text')}">
                                        <h:graphicImage value="#{pathManager.path}/img/folder.png" width="200" height="171" />
                                    </h:panelGroup>                                
                                </p:tab>
                            </p:tabView>
                        </p:panel> 
                        <br/>
                        <p:panel id="downloadPnl" header="#{EntityAttachmentBean.downloadPnlHdrStr}"
                                 toggleable="true" collapsed="true">
                            <p:ajax event="close" listener="#{EntityAttachmentBean.handleClose}"/>  
                            <p:ajax event="toggle" listener="#{EntityAttachmentBean.handleToggle}"/> 
                            <p:dataTable id="downloadTable" value="#{EntityAttachmentBean.entityAttachments}"
                                    var="attachmentFile" editable="true" 
                                    emptyMessage="#{EntityAttachmentBean.noRecordStr}">
                                <p:ajax event="rowEdit" listener="#{EntityAttachmentBean.onEdit}" 
                                        update=":entityAttScr:messages" />  
                                <p:ajax event="rowEditCancel" listener="#{EntityAttachmentBean.onCancel}"
                                        update=":entityAttScr:messages" />
                                <p:column>
                                    <p:commandButton id="showDialogButton" update=":entityAttScr:viewAttachmentsPnl"
                                                     onclick="confirmation.show()" value="Delete" 
                                                     rendered="#{EntityAttachmentBean.deleteAttachmentButton}">
                                    <f:setPropertyActionListener value="#{attachmentFile}"
                                                                 target="#{EntityAttachmentBean.selectedAttachment}"/>
                                    </p:commandButton>

                                </p:column>
                                <p:column>
                                    <p:commandButton id="downloadLink" value="#{EntityAttachmentBean.downloadLinkStr}"
                                                     ajax="false" 
                                                     onclick="PrimeFaces.monitorDownload(start, stop)"   
                                                     icon="ui-icon-arrowthichk-s" styleClass="download_btn"
                                                     rendered="#{EntityAttachmentBean.downloadAttachmentButton}">  
                                        <p:fileDownload value="#{EntityAttachmentBean.downloadContent(attachmentFile)}" />  
                                    </p:commandButton>
                                </p:column>
                                <p:column id="editor" headerText="#{EntityAttachmentBean.editorStr}">  
                                    <p:rowEditor />  
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{EntityAttachmentBean.attachedFileLblStr}"/>
                                    </f:facet>
                                    <h:outputText value="#{attachmentFile.name}"/>
                                </p:column>
                                <p:column> 
                                    <f:facet name="header">
                                        <h:outputText value="#{EntityAttachmentBean.attachedFileDateTime}"/>
                                    </f:facet>
                                    <h:outputText value="#{attachmentFile.attachmentDateTime}"/>
                                </p:column>
                                <p:column> 
                                    <f:facet name="header">
                                        <h:outputText value="#{EntityAttachmentBean.attachmentUser}"/>
                                    </f:facet>
                                    <h:outputText value="#{attachmentFile.attachmentUser}"/>
                                </p:column>
                                <p:column headerText="#{EntityAttachmentBean.attachedFileDescLblStr}">
                                    <p:cellEditor>
                                        <f:facet name="output">  
                                            <h:outputText value="#{attachmentFile.description}" />  
                                        </f:facet>  
                                        <f:facet name="input">  
                                            <h:inputText value="#{attachmentFile.description}"/>
                                        </f:facet> 
                                    </p:cellEditor>
                                </p:column>
                               <!-- <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{EntityAttachmentBean.mimeTypeLblStr}"/>
                                    </f:facet>
                                    <h:outputText value="#{attachmentFile.mimeType}"/>
                                </p:column>-->
                            </p:dataTable>
                        </p:panel>
                        <br/>
                        <p:panel id="uploadPnl" header="#{EntityAttachmentBean.uploadPnlStr}" toggleable="true" rendered="#{EntityAttachmentBean.uploadPnl}">
                            <p:fileUpload fileUploadListener="#{EntityAttachmentBean.handleFileUpload}" mode="advanced"
                                          multiple="true" update="downloadPnl viewAttachmentsPnl"
                                          auto="true" onstart="start()" oncomplete="stop()" 
                                           />
                        </p:panel>
                        


                    </td>
                    <td>
                        <h:panelGrid  id="rightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid  id="fotterPanel"/>
                    </td>

                    <td>

                    </td>
                </tr>
            </table>

            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{EntityAttachmentBean.onloadJSStr}" />                
            </div>
        </h:form>
    </h:body>
</html>