<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css"></link>            
    </h:head>

    <h:body id="outputBody1" style="-rave-layout: grid" >
        <script type="text/javascript">
            /*<![CDATA[*/
            // HBM, extend liferay session if the user is working inside a screen
            window.onclick = function() {top.FABS.Session.extend();};
            window.onkeydown = function() {top.FABS.Session.extend();};
            var positionDel_bId;
            var positionDel_popupId='';
            window.onclick = function() {top.Liferay.Session.extend();};
            function uiframework_Init(Id)
            {
                positionDel_bId=Id;

                //document.write(str.substring(0, str.length - 6));
            }

            function uiframeworkBallon(){
                if(positionDel_bId!=null)
                {
                    var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':')+1) + "popDiv"+
                        positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                    //alert (panelID. );
                    var div=document.getElementById(panelID);
                    div.style.display='none';
                    positionDel_popupId='';
                }
            }
            function uiframeworkAction(event)
            {
                //  var toggleID= positionDel_bId.substr(0, positionDel_bId.length - 16) + 'toggle';
                //  var toggleCol=document.getElementById(toggleID);
                //  toggleCol.value=false;
                //   alert(toggleCol.value);
                var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':')+1) + 'popDiv'+
                    positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                // alert (panelID);
                var div=document.getElementById(panelID);
                if(div.style.display=='none')
                {
                    if(positionDel_popupId!='')
                    {
                        var closePanel=document.getElementById(positionDel_popupId);
                        closePanel.style.display='none';

                    }
                    positionDel_popupId=panelID;
                    div.style.display='block';

                    try { window.scrollBy(event.clientX-50,250);} catch(err){};

                }
                else
                {
                    div.style.display='none';
                    positionDel_popupId='';

                }

                div.style.position='absolute';
            }
            /*]]>*/

        </script>
        <h:form id="FABSSTPForm">
            <table>                               
                <tr>
                    <td>
                        <h:panelGrid id="leftPanel"/>
                    </td>
                    <td>
                        <h:panelGrid id="generalPanel" binding="#{FABSSetupBean.htmlPanelGrid}" style="position:relative"/>
                    </td>
                    <td>
                        <h:panelGrid id="rightPanel"/>
                    </td>
                </tr>
            </table>
            <div style="display:none">
                <h:commandLink partialSubmit="true" styleClass="backupLink" immediate="true" action="#{FABSSetupBean.backupDataAction}" />
                <h:commandLink partialSubmit="true" styleClass="c2aLink" immediate="true" action="#{FABSSetupBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned" 
                               ajax="true" update="FABSSTPForm:generalPanel" 
                               immediate="true" action="#{FABSSetupBean.lookupReturned}"/>
            </div>

            <p:dialog id="dialog" header="#{FABSSetupBean.lookupHeaderStr}"
                      widgetVar="lkpdlg" dynamic="true" visible="#{FABSSetupBean.lookupPanelRendered}"
                      showEffect="clip" hideEffect="clip" modal="true">  
                <h:panelGrid id="lkpgeneralPanel"
                             binding="#{FABSSetupBean.lookupPanelPopup}"
                             style="position:relative"/>  
            </p:dialog> 
        </h:form>
    </h:body>
</html>