<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="rtl"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Form With Tabular</title>
    </h:head>
    <h:body id="formWithTabularBody" style="-rave-layout: grid;width: 97%" >
        <h:form id="formWithTabularForm" dir="rtl" enctype="multipart/form-data">          
            <table width="100%">
                <tr>
                    <td>
                    	<iframe>
                    	</iframe>
                    </td>
                </tr>
            </table>
        </h:form>
    </h:body>
</html>