<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : lap3
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      dir="#{FormScreenTranslationBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui">
    <h:head>                  
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css"></link>
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid" >
        <script>
            jQuery(document).ready(function() {
                //alert('from JQuery');
                var jsComnds = document.getElementById("SCrTranslationForm:jsCommands");
                try{
                    //alert(jsComnds.value);
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
            });            
                         
        </script>
        <h:form id="SCrTranslationForm">
          <table width="100%">
           
                <tr>
                    <td>                                     
                        <h:panelGrid  id="middlePanel" binding="#{FormScreenTranslationBean.htmlPanelGrid}"
                                      dir="#{FormScreenTranslationBean.htmlDir}"/>

                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid  id="entityRequestPanel" 
                                      binding="#{FormScreenTranslationBean.entityRequestPanelGrid}"/>
                    </td>
                </tr>
            </table>
           <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{FormScreenTranslationBean.onloadJSStr}" />
                <p:commandLink partialSubmit="true" 
                               styleClass="backupLink" immediate="true" action="#{FormScreenTranslationBean.backupDataAction}" />
                <p:commandLink partialSubmit="true" id="c2aLink" immediate="true"
                               ajax="true" update="SCrTranslationForm:middlePanel"
                               styleClass="c2aLink" action="#{FormScreenTranslationBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned" 
                               ajax="true" update="SCrTranslationForm:middlePanel" 
                               immediate="true" action="#{FormScreenTranslationBean.lookupReturned}" />
                <p:commandLink partialSubmit="true" id="rdoLink" styleClass="rdoLink" 
                               ajax="true" update="SCrTranslationForm:middlePanel" 
                               immediate="true" action="#{FormScreenTranslationBean.ReloadDataOnly}" />
            </div>
        </h:form>
    </h:body>
</html>
