<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TabularRime.css"/>
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid">
        <script id="script1" type="text/javascript">
            /*<![CDATA[*/
            var positionDel_bId;
            var positionDel_popupId ='';
            function uiframework_Init(Id)
            {
                positionDel_bId=Id;
            }

            function uiframeworkAction(event)
            {
                //alert(positionDel_bId);
                //alert(positionDel_bId.lastIndexOf(':'));
                var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':')+1) + 'popDiv'+
                    positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                //alert(panelID);
                var div=document.getElementById(panelID);
                //alert(div);
                if(div.style.display=='none')
                {
                    if(positionDel_popupId!='')
                    {
                        var closePanel=document.getElementById(positionDel_popupId);
                        closePanel.style.display='none';

                    }
                    positionDel_popupId=panelID;
                    div.style.display='block';

                }
                else
                {
                    div.style.display='none';
                    positionDel_popupId='';
                }
                div.style.position='absolute';
            }
            /*]]>*/
        </script>
        <h:form id="FunctionGroupForm" style="width:100%">
            <table  dir="#{FunctionGroupBean.htmlDir}" style="width:98%">
                <tr>
                    <td>
                        <h:panelGrid id="topLeftPanel"/>
                    </td>
                    <td>
                        <h:panelGrid id="processPanel" binding="#{FunctionGroupBean.processPanelGrid}" style="position:relative"/>
                    </td>
                    <td>
                        <h:panelGrid id="topRightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid id="leftPanel"/>
                    </td>
                    <td>
                        <table width="100%">
                            <tr>
                            </tr>
                        </table>
                        <h:panelGrid id="generalPanel" binding="#{FunctionGroupBean.mainGrid}" style="position:relative; width:98%"/>
                    </td>
                    <td>
                        <h:panelGrid id="rightPanel"/>
                    </td>
                </tr>
            </table>
            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{FunctionGroupBean.onloadJSStr}" />
            </div>
        </h:form>
    </h:body>
</html>
