<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 10, 2012, 12:40:59 PM
    Author     : nkamal
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{TabularBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui">

    <h:head>   


    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid" >
        <h:form id="ImportDataForm" enctype="multipart/form-data" prependId="false">
            <p:fileUpload fileUploadListener="#{ImportDataBean.uploadedFile}"  
                          mode="advanced" 
                          />    
        </h:form>
    </h:body>
</html>
