<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Inbox
    Created on : Jul 11, 2010, 5:25:59 PMa
    Author     : mrashad
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      dir="#{InboxPage.htmlDir}"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TabularRime.css"></link>

        <script src="#{request.contextPath}/js/websocket.js"></script>
    </h:head>
    <h:body id="outputBody" style="-rave-layout: grid;width:100%;">
        <script src="js/tabular.js" type="text/javascript"></script>
        <p:growl id="webSocketNotification" widgetVar="webSocketNotificationWidgetVar" />

        <script>
            function editRow(index) {
                document.getElementsByClassName('ui-icon-pencil')[index].click();
            }
            // HBM, extend liferay session if the user is working inside a screen
            window.onclick = function () {
                top.FABS.Session.extend();
            };
            window.onkeydown = function () {
                top.FABS.Session.extend();
            };
            jQuery(document).ready(function () {
                //alert('from JQuery');
                try {
                    var jsComnds = document.getElementById("InboxForm:jsCommands");
                    //alert(jsComnds.value);
                    eval(jsComnds.value);
                } catch (error) {
                    console.log(error);
                }
            });
            function KeepRowEditable(rowIndex) {
                jQuery('.ui-icon-pencil')[rowIndex].id = 'supercoolnewrow';
                jQuery('#supercoolnewrow').trigger('click');
            }
            function reload(portletInsId) {
                AUI().one('#' + portletInsId + 'Frame').get('contentWindow.location').reload(true);
            }
        </script>

        <h:form id="InboxTabs" styleClass="tabularScrForm" dir="#{InboxPage.htmlDir}" enctype="multipart/form-data">
            <!--<p:tabView orientation="left"> -->
            <p:tabView onTabChange="top.FABS.Portlet.updateIframeSize('#{InboxPage.portletInsId}Frame');"  onTabShow="top.FABS.Portlet.updateIframeSize('#{InboxPage.portletInsId}Frame');">     
                <p:tab title="Tasks">
                    <h:panelGrid columns="1" cellpadding="10">
                        <h:form id="InboxForm" styleClass="tabularScrForm" dir="#{InboxPage.htmlDir}" enctype="multipart/form-data">
                            <p:messages globalOnly="true"/>
                            <!-- When removing this layout error "Primefaces is not defined" occures. -->
                            <table  style="width:100%">
                                <tr>
                                    <td>
                                        <h:panelGrid id="tableGrid"
                                                     style="position:relative;width:100%!important" class="generalPanel" 
                                                     binding="#{InboxPage.inboxPanel}"/>
                                    </td>
                                </tr>
                            </table>
                            <div style="display:none">
                                <p:inputTextarea id="jsCommands" value="#{InboxPage.onloadJSStr}" />
                                <p:commandLink partialSubmit="true" id="c2aLink" immediate="true"
                                               ajax="true" update="InboxForm:tableGrid"
                                               styleClass="c2aLink" action="#{InboxPage.refresh}"/>

                            </div>

                            <div style="display:none">
                                <h:inputHidden id="userLoginName" value="#{InboxPage.loggedUser.loginName}" />
                            </div>
                        </h:form>
                    </h:panelGrid>
                    <p:poll interval="#{InboxPage.refreshIntervalPeriod}" listener="#{InboxPage.refresh}" />
                </p:tab>
                <p:tab title="Notifications">
                    <h:panelGrid columns="1" style="width:100%!important" cellpadding="10">
                        <h:form id="tf" styleClass="tabularScrForm" dir="#{NotificationBean.htmlDir}" enctype="multipart/form-data">
                            <p:messages globalOnly="true"/>
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <h:panelGrid id="generalPanel"
                                                     style="position:relative;width:100%!important" 
                                                     binding="#{NotificationBean.htmlPanelGrid}"/>
                                    </td>
                                </tr>
                            </table>
                            <div style="display:none">
                                <h:inputHidden id="userLoginnName" value="#{NotificationBean.loggedUser.loginName}" />
                            </div>
                        </h:form>
                    </h:panelGrid>
                </p:tab>
                <!--   <p:tab title="Server Jobs">
                               <h:panelGrid columns="1" cellpadding="10">
                              <h:outputText value="Not implemented yet" />
                      </h:panelGrid>
                  </p:tab>
                   <p:tab title="Alerts">
                               <h:panelGrid columns="1" cellpadding="10">
                              <h:outputText value="Not implemented yet" />
                      </h:panelGrid>
                  </p:tab>
                  <p:tab title="Routing Tasks">
                               <h:panelGrid columns="1" cellpadding="10">
                              <h:outputText value="Not implemented yet" />
                      </h:panelGrid>
                  </p:tab> -->

            </p:tabView>
            <p:remoteCommand name="passSelectedIndexes" id="passSelectedIndexescmd"
                             action="#{TabularBean.lookupSelectionListener}"
                             process="@this" />
        </h:form>
    </h:body>
</html>