<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : JobAppSearch
    Created on : Oct 10, 2010, 5:25:59 PM
    Author     : ahussien
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
        <h:head>
            <ice:outputStyle href="/resources/TabularRime.css" id="outputStyle3"/>
        </h:head>
            <h:body id="outputBody1" style="-rave-layout: grid">
                <div style="z-index:0;position:relative">
                        <script type="text/javascript">

                            var positionDel_bId;
                            var positionDel_popupId='';
                            function uiframework_Init(Id)
                            {
                                positionDel_bId=Id;

                                //document.write(str.substring(0, str.length - 6));
                            }

                            function uiframeworkBallon(){
                                if(positionDel_bId!=null)
                                {
                                    var panelID = positionDel_bId.substr(0, positionDel_bId.length - 16) + "popDiv";
                                    //alert (panelID. );
                                    var div=document.getElementById(panelID);
                                    div.style.display='none';
                                    positionDel_popupId='';
                                }

                            }
                            function uiframeworkAction(event)
                            {
                                //  var toggleID= positionDel_bId.substr(0, positionDel_bId.length - 16) + 'toggle';
                                //  var toggleCol=document.getElementById(toggleID);
                                //  toggleCol.value=false;
                                //   alert(toggleCol.value);
                                var panelID = positionDel_bId.substr(0, positionDel_bId.length - 16) + 'popDiv';
                                // alert (panelID);
                                var div=document.getElementById(panelID);
                                if(div.style.display=='none')
                                {
                                    if(positionDel_popupId!='')
                                    {
                                        var closePanel=document.getElementById(positionDel_popupId);
                                        closePanel.style.display='none';

                                    }
                                    positionDel_popupId=panelID;
                                    div.style.display='block';

                                }
                                else
                                {
                                    div.style.display='none';
                                    positionDel_popupId='';

                                }

                                div.style.position='absolute';
                                //div.style.top=event.clientY;
                                //div.style.left=event.clientX-20;
                                //     var linkId=positionDel_bId.substr(0, positionDel_bId.length - 6) +'';
                                //   var domNode = document.getElementById("_DefineCompanyBasicData_WAR_OHRWebApp_:form1:hiddenField");
                                // domNode.value=panelID;
                                //alert(domNode.value);

                            }

                        </script>
                        <ice:form id="JobAppSearchForm">
                            <table>
                                <tr>
                                    <td>
                                        <ice:panelGrid id="processPanel" binding="#{JobAppSearch.processPanelGrid}" style="position:relative"/>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <ice:inputText id="textField1" value="#{JobAppSearch.keyWord}" style="width:250px"/>
                                                </td>
                                                <td width="5px">
                                                </td>
                                                <td>
                                                    <ice:commandButton action="#{JobAppSearch.searchAction}" id="button1"
                                                                       image="/resources/searchButton.jpg"/>
                                                </td>
                                                <td width="20px">
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <ice:selectBooleanCheckbox id="newSearch" value="#{JobAppSearch.searchInResult}" label="Search In Result"/>
                                                            </td>
                                                            <td width="10px">
                                                            </td>
                                                            <td>
                                                                <ice:outputLabel id="newSearchTXT" value="Search In Result" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="5px">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <table>
                                            <tr>
                                                <td>
                                                    <ice:selectBooleanCheckbox id="includeCV" value="#{JobAppSearch.includeCV}"/>
                                                </td>
                                                <td width="10px">

                                                </td>
                                                <td>
                                                    <ice:outputLabel id="includeCVTXT" value="Include CV" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="20px">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="2px" cellspacing="2px">

                                            <tr>
                                                <td width="10px">
                                                </td>
                                                <td>
                                                    <ice:outputLabel id="age" value="Age: "/>
                                                </td>
                                                <td width="5px">
                                                </td>
                                                <td>
                                                    <ice:selectOneMenu id="ageDropDown" value="#{JobAppSearch.selectedAgeCondition}">
                                                        <f:selectItems value="#{JobAppSearch.conditionsList}"/>
                                                    </ice:selectOneMenu>
                                                </td>
                                                <td width="5px">
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <ice:inputText id="ageField" value="#{JobAppSearch.ageText}" style="width:50px"/>
                                                            </td>
                                                            <td width="7px">
                                                            </td>
                                                            <td>
                                                                <ice:outputLabel id="age2" value="Year(s)"/>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="10px">
                                                </td>
                                            </tr>
                                            <tr style="height:2px">
                                                <td height="2px"></td>
                                            </tr>
                                            <tr>
                                                <td width="10px">
                                                </td>
                                                <td>
                                                    <ice:outputLabel id="exp" value="Experience: "/>
                                                </td>
                                                <td width="5px">
                                                </td>
                                                <td>
                                                    <ice:selectOneMenu id="expDropDown" value="#{JobAppSearch.selectedExpCondition}">
                                                        <f:selectItems value="#{JobAppSearch.conditionsList}"/>
                                                    </ice:selectOneMenu>

                                                </td>
                                                <td width="5px">
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <ice:inputText id="expField" value="#{JobAppSearch.expText}" style="width:50px"/>
                                                            </td>
                                                            <td width="7px">
                                                            </td>
                                                            <td>
                                                                <ice:outputLabel id="exp2" value="Year(s)"/>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="10px">
                                                </td>
                                            </tr>
                                            <tr style="height:2px">
                                                <td height="2px"></td>
                                            </tr>
                                            <tr>
                                                <td width="10px">
                                                </td>
                                                <td>
                                                    <ice:outputLabel id="lang" value="Language: "/>
                                                </td>
                                                <td width="5px">
                                                </td>
                                                <td>
                                                    <ice:selectOneMenu id="langDropDown"/>
                                                </td>
                                                <td width="5px">

                                                </td>
                                                <td>
                                                    <ice:inputText id="langField" value="#{JobAppSearch.langText}"/>
                                                </td>
                                                <td width="10px">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="height:20px">
                                    <td height="20px">
                                        <hr/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ice:outputLabel id="searchCriteria" value="#{JobAppSearch.searchCriteria}"/>
                                        <ice:outputText id="criteria" value="#{JobAppSearch.criteria}"/>
                                    </td>
                                </tr>
                                <tr style="height:10px">
                                    <td height="20px"></td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>
                                        <table>
                                            <ice:dataTable id="applicantsTable" binding="#{JobAppSearch.table}"/>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </ice:form>
                </div>
            </h:body>
</html>
