<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >

    <script src="js/graffile.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="style/lines.css"/>
    <f:view contentType="text/html">
        <h:head id="header">
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>
        <h:body id="body">

            <p:layout id="pagelayout" fullPage="true">

                <p:layoutUnit position="east"  closable="true" collapsible="true">
                    <h:form id="moveForm">
                        <h:inputHidden id="movedEntityId" value="#{jpaBean.movedEntityId}"/>
                        <h:inputHidden id="movedEntityX" value="#{jpaBean.movedEntityX}"/>
                        <h:inputHidden id="movedEntityY" value="#{jpaBean.movedEntityY}"/>
                        <p:commandButton style="display:none;" id="updateEntityPosition"  value="updateEntityPosition" actionListener="#{jpaBean.updateEntityPosition(e)}" />
                        <p:commandButton style="display:none;" id="clearAllDlg"  value="clearAllDlg" actionListener="#{jpaBean.clearAllDlg(e)}" update=":addEntityForm,:addRelationForm" />

                    </h:form>
                    <h:form id="att">
                        <h:inputHidden id="relations" value="#{jpaBean.relations}"/>
                    </h:form>
                    <h:form>

                        <p:menu>
                            <p:submenu label="Tool Box">
                                <p:menuitem value="Add New Entity" actionListener="#{jpaBean.clearAllDlg(e)}" update=":addEntityForm,:addRelationForm" onclick="addDlg.show();" oncomplete="openAddItem();" />
                                <p:menuitem value="Add New Relation" actionListener="#{jpaBean.clearAllDlg(e)}" update=":addEntityForm,:addRelationForm" onclick="addRelDlg.show()" oncomplete="openAddRel();"/>
                                <p:menuitem value="Clear All" onclick="clearDlg.show();" />
                            </p:submenu>
                        </p:menu>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit id="centerLayoutUnit" position="center" >

                    <p:dialog id="AddEntityDialog" header="Create New Entity" widgetVar="addDlg" modal="true" width="500" height="300" appendToBody="true" >  
                        <h:form id="addEntityForm">

                            <h:inputHidden id="editEntityId" value="#{jpaBean.editEntityId}"/>
                            <p:commandButton style="display: none" update=":addEntityForm" process="@form" id="getEntity"  value="getEntity" actionListener="#{jpaBean.getEntityInfo(e)}" oncomplete="openEditItem();" />

                            <h:panelGrid columns="2" style="margin-bottom:10px">  
                                <h:outputLabel for="entityName" value="Entity Name:" />  
                                <p:inputText id="entityName"  widgetVar="entityInput" value="${jpaBean.entityName}" />  
                            </h:panelGrid>  
                            <h:panelGrid columns="1" style="margin-bottom:10px;width: 100%">  
                                <p:dataTable value="#{jpaBean.newEntityFields}" var="field"  editable="true">

                                    <p:column headerText="Field Name" style="width:46%"> 




                                        <p:commandButton icon="ui-icon-close" value="Remove" title="Remove"
                                                         actionListener="#{jpaBean.removeField(e,field)}" update=":addEntityForm" oncomplete="resetEntityFormStatus();"/>



                                    </p:column>
                                    <p:column headerText="Field Type" style="width:46%"> 
                                        <p:cellEditor>  
                                            <f:facet name="output">  
                                                <h:outputText value="${field.fieldType}" />  
                                            </f:facet>  
                                            <f:facet name="input">  
                                                <p:selectOneMenu value="#{field.fieldType}" style="float:left;width: 100%" >  
                                                    <f:selectItem itemLabel="--Select Type--"  itemValue="#{null}"/>
                                                    <f:selectItems  value="#{jpaBean.fieldTypes}" var="fieldtype" itemLabel="#{fieldtype}" itemValue="#{fieldtypes}" />      

                                                </p:selectOneMenu>
                                            </f:facet>  
                                        </p:cellEditor> 
                                    </p:column>
                                    <p:column headerText="Field Name" style="width:46%"> 
                                        <p:cellEditor>  
                                            <f:facet name="output">  
                                                <h:outputText value="${field.fieldName}" />  
                                            </f:facet>  
                                            <f:facet name="input">  
                                                <p:inputText value="${field.fieldName}" style="width:100%"/>  
                                            </f:facet>  
                                        </p:cellEditor>  
                                    </p:column>

                                    <p:column style="width:8%">  
                                        <p:rowEditor />  
                                    </p:column>
                                    <f:facet name="footer">
                                        <p:commandButton value="Add Field" actionListener="#{jpaBean.addField(e)}"
                                                         update=":addEntityForm" oncomplete="resetEntityFormStatus();"/>
                                    </f:facet>
                                </p:dataTable>
                            </h:panelGrid>
                            <p:commandButton id ="Create" value="Create" onsuccess="drawAllLines();addListeners()" actionListener="${jpaBean.addItem(e)}"  styleClass="ui-priority-primary" process="@all" oncomplete="addDlg.hide();drawAllLines();addListeners();" update=":addEntityForm,:addRelationForm,:form,:att">
                            </p:commandButton>

                            <p:commandButton id="Save" value="Save" onsuccess="drawAllLines();addListeners()" actionListener="${jpaBean.updateItem(e)}"  styleClass="ui-priority-primary" process="@all" oncomplete="addDlg.hide();drawAllLines();addListeners();" update=":addEntityForm,:addRelationForm,:form,:att">
                            </p:commandButton>
                            <p:commandButton id="Delete" value="Delete" onsuccess="drawAllLines();addListeners()" actionListener="${jpaBean.deleteItem(e)}"  styleClass="ui-priority-primary" process="@all" oncomplete="addDlg.hide();drawAllLines();addListeners();" update=":addEntityForm,:addRelationForm,:form,:att">
                            </p:commandButton>



                        </h:form>
                    </p:dialog>


                    <p:dialog id="AddRelationDialog" header="Create New Relation" widgetVar="addRelDlg" modal="true" width="500" height="300" appendToBody="true" >  
                        <h:form id="addRelationForm">
                            <h:inputHidden id="editRelationId" value="#{jpaBean.editRelationId}"/>

                            <p:commandButton style="display: none" update=":addRelationForm" process="@form" id="getRelation"  value="getRelation" actionListener="#{jpaBean.getRelationInfo(e)}"  oncomplete="openEditRel();"/>

                            <h:panelGrid columns="2" style="margin-bottom:10px">  
                                <h:outputLabel for="relationName" value="Relation Name:" />  
                                <p:inputText id="relationName"  widgetVar="entityInput" value="${jpaBean.relationName}" />  
                            </h:panelGrid>  
                            <h:panelGrid columns="1" style="margin-bottom:10px;width: 100%"> 
                                <table>
                                    <tr>
                                        <td>
                                            
                                    <p:selectOneMenu id="entities1" style="float:left" value="#{jpaBean.entityR1}">
                                        <p:ajax event="change" update="fields1" listener="#{jpaBean.updateFields1(e)}"/>
                                        <f:selectItem itemLabel="--Select Entity--"  itemValue="#{null}"/>
                                        <f:selectItems  value="#{jpaBean.currentEntites.entrySet()}" var="entity" itemLabel="#{entity.value.entityName}" itemValue="#{entity.key}" />      
                                    </p:selectOneMenu> 
                                      
                                    </td>
                                    <td>
                                       
                                    <p:selectOneMenu  id="fields1" value="#{jpaBean.field1}" style="float:left;">                   
                                        <f:selectItem itemLabel="--Select Field--"  itemValue="#{null}"/>
                                        <f:selectItems  value="#{jpaBean.fields1}" var="entity" itemLabel="#{entity.fieldName}" itemValue="#{entity.fieldName}" />      
                                    </p:selectOneMenu> 
                                    
                                    </td>
                                    <td>

                                    <p:selectOneMenu id="typeOfRelation1" value="#{jpaBean.typeOfRelation1}" style="float:left;">                    
                                        <f:selectItem itemLabel="--Select Type--"  itemValue="#{null}"/>
                                        <f:selectItems  value="#{jpaBean.typeOfRelation}" var="type" itemLabel="#{type}" itemValue="#{type}" />      
                                    </p:selectOneMenu> 
                                    </td>    
                                    </tr> 
                                    <tr>
                                        <td>
                                    <p:selectOneMenu id="entities2" style="float:left" value="#{jpaBean.entityR2}">
                                        <p:ajax event="change" update="fields2" listener="#{jpaBean.updateFields2(e)}"/>
                                        <f:selectItem itemLabel="--Select Entity--"  itemValue="#{null}"/>
                                        <f:selectItems value="#{jpaBean.currentEntites.entrySet()}" var="entity" itemLabel="#{entity.value.entityName}" itemValue="#{entity.key}" />      
                                    </p:selectOneMenu> 
                                    </td>
                                    <td>
                                    <p:selectOneMenu  id="fields2" value="#{jpaBean.field2}" style="float:left;">                   
                                        <f:selectItem itemLabel="--Select Field--"  itemValue="#{null}"/>
                                        <f:selectItems  value="#{jpaBean.fields2}" var="entity" itemLabel="#{entity.fieldName}" itemValue="#{entity.fieldName}" />      
                                    </p:selectOneMenu> 
                                    </td>
                                    <td>

                                    <p:selectOneMenu id="typeOfRelation2" value="#{jpaBean.typeOfRelation2}" style="float:left;">                    
                                        <f:selectItem itemLabel="--Select Type--"  itemValue="#{null}"/>
                                        <f:selectItems  value="#{jpaBean.typeOfRelation}" var="type" itemLabel="#{type}" itemValue="#{type}" />      
                                    </p:selectOneMenu> 
                                    </td>    
                                    </tr>
                                </table>

                            </h:panelGrid>
                        
                            <p:commandButton id="Create" value="Create" actionListener="${jpaBean.addRelation(e)}"  styleClass="ui-priority-primary" process="@all" oncomplete="addRelDlg.hide();drawAllLines();addListeners();" update=":addEntityForm,:addRelationForm,:form,:att">
                            </p:commandButton>

                            <p:commandButton id="Save" value="Save" actionListener="${jpaBean.updateRelation(e)}"  styleClass="ui-priority-primary" process="@all" oncomplete="addRelDlg.hide();drawAllLines();addListeners();" update=":addEntityForm,:addRelationForm,:form,:att">
                            </p:commandButton>
                            <p:commandButton id="Delete" value="Delete" actionListener="${jpaBean.deleteRelation(e)}"  styleClass="ui-priority-primary" process="@all" oncomplete="addRelDlg.hide();drawAllLines();addListeners();" update=":addEntityForm,:addRelationForm,:form,:att">
                            </p:commandButton>

                        </h:form>
                    </p:dialog>




                    <p:dialog id="ClearAllDialog" header="Modal Dialog" widgetVar="clearDlg" modal="true" height="100" appendToBody="true">  
                        <h:form id="clearAllForm">
                            <h:panelGrid columns="2" style="margin-bottom:10px">  
                                <h:outputLabel for="entityName" value="you are about to clear all work items,Continue?" />
                            </h:panelGrid>  
                            <p:commandButton  value="Yes"  ajax="true" process="@all"
                                              actionListener="${jpaBean.clearAll(e)}"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check" update=":form,:att"  oncomplete="clearDlg.hide();drawAllLines();"/> 
                            <p:commandButton  value="No" styleClass="ui-confirmdialog-no" icon="ui-icon-close" oncomplete="clearDlg.hide();"/> 
                        </h:form>

                    </p:dialog>

                    <h:form id="form"  style="height: 100%;" binding="${jpaBean.workBench}">
                        <div id ="uuuu" style="position: relative"/>
                    </h:form>
                </p:layoutUnit>
            </p:layout>
            <script src="js/jsDraw2DX.js" type="text/javascript" charset="utf-8"></script>

            <script src="js/drawLine.js" type="text/javascript" charset="utf-8"></script>
        </h:body>
    </f:view>


</html>

