<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:head>

    </h:head>
    <h:body>
        
        <script type="text/javascript"> 
           function simulateDownloadBtnClick(){
                try{
                    var commandLink = document.getElementById('frmScrForm:downloadLink');
                    commandLink.click();
                }catch(error){
                    console.log(error);
                }
            }
        </script>

         <h:form id="frmScrForm" dir="#{MailMergePreviewBean.htmlDir}"> 

            File Name:
            <h:inputText id="templateName" value="#{MailMergePreviewBean.templateName}" required="true"/>
            <h:message for="templateName"  style="color:red" />
            <p>
                Save as:
                <h:selectOneRadio value="#{MailMergePreviewBean.fileType}" >
                    <f:selectItem itemValue="HTML" itemLabel="HTML" />
                    <f:selectItem itemValue="word" itemLabel="Word" />
                    <f:selectItem itemValue="PDF" itemLabel="PDF" />
                </h:selectOneRadio>
                
                <p:commandButton value="Save as" action="#{MailMergePreviewBean.saveFile}"/>                
            </p>
            <div>
                <h:panelGrid style="height:500px" id ="mailMergePreviwgrid">
                    <pe:ckEditor readOnly="true" id="editor1" widgetVar="editor1Widget" value="#{MailMergePreviewBean.templateContent}"/>   
                </h:panelGrid>
            </div>
            <div style="display:none">
                <p:commandButton id="downloadLink" value="Download" ajax="true" partialSubmit="true"
                                 immediate="true" onclick="PrimeFaces.monitorDownload(start, stop)"   
                                 icon="ui-icon-arrowthichk-s">  
                    <p:fileDownload value="#{MailMergePreviewBean.exportedFiles}" />  
                </p:commandButton> 
            </div>
        </h:form>  
    </h:body>
</html>