<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      dir="#{MailMergeContenetBean.htmlDir}"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <link id="FR" type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css" media="screen"></link>     
        <link id="FR2" type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css" media="print"></link>     
        <meta http-equiv="default-style" content="FR" />
        <meta http-equiv="expires" content="9999999999999999" />
        <meta http-equiv="cache-control" content="max-age=9999999999999999" />
        <h:outputText  escape="false" id="customedDynamicBalloonStyle" value="#{MailMergeContenetBean.customedDynamicBalloonStyle}"/>
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid;width: 97%">

        <script id="script1" type="text/javascript">
            jQuery(document).ready(function() {
                //alert('from JQuery');
                var jsComnds = document.getElementById("frmScrForm:jsCommands");
                try{
                    //alert(jsComnds.value);
                    //alert("eval")
                    eval(jsComnds.value);
                }catch(error){
                    //alert("exp");
                    console.log(error);
                }
            }); 
            /*<![CDATA[*/
            var width = document.body.offsetWidth;
            var x_mouseClick;
            var y_mouseClick;
            var isIE = document.all ? true : false;

            window.onclick= getMousePosition;
            function getMousePosition(event) {
                //	var _x;
                //	var _y;
                //	if (!isIE) {
                x_mouseClick = event.clientX;
                y_mouseClick = event.clientY;
                //alert(x_mouseClick);
                //	}
                //	if (isIE) {
                //		_x = event.clientX + document.body.scrollLeft;
                //		_y = event.clientY + document.body.scrollTop;
                //	}
                //	posX = _x;
                //	posY = _y;
                return true;
            }
            function hideBreifSeCtion(panelId){
                var currentOverlayPanal = document.getElementById(panelId);
                
                //var buttonPosition =
                //                    var curleft = 0;
                //                    var curtop = 0;
                //		if (overlayPanel.offsetParent) {	
                //			do {
                //				curleft += overlayPanel.offsetLeft;
                //				curtop += overlayPanel.offsetTop;	
                //                             //   alert(overlayPanel.offsetParent +" "+overlayPanel.offsetLeft  +" "+ overlayPanel.offsetTop +" "+curleft);
                //			} while (overlayPanel == overlayPanel.offsetParent);
                //		}  
                var briefId = panelId.replace("balloonOverLay","briefPanel");
                var briefInfoPanel = document.getElementById(briefId);
                //                alert("left:"+(overlayPanel.offsetLeft));
                //alert(x_mouseClick+"  "+ y_mouseClick);
                //                if(briefInfoPanel!=null){
                //                    if(((width -x_mouseClick) < 400) && (x_mouseClick<400)){
                //                        //alert(1);
                //                        briefInfoPanel.setAttribute("style", "display:none");
                //                    }else{
                //                        //alert(2);
                //                        briefInfoPanel.setAttribute("style", "display:block");
                //                    }
                //                }
                var middlePOS = false;
                var rightPOS = false;
                var leftPOS = false;
                var topPOS = false;
                var body = document.body,
                html = document.documentElement;
                //  alert(1);
                var height = Math.max( body.scrollHeight, body.offsetHeight, 
                html.clientHeight, html.scrollHeight, html.offsetHeight );
                if((width-x_mouseClick) <400 && width>400 && x_mouseClick<400){
                    middlePOS = true;
                }else if((width-x_mouseClick) > 400){
                    rightPOS = true;
                }else if ((width-x_mouseClick) < 400 && x_mouseClick > 400){
                    leftPOS = true;
                }
                // alert(2);
                // small hight portlet
                if(y_mouseClick < 133){
                    //                    if(height-y_mouseClick < 160){  
                    //                        top.FABS.Portlet.resizeIframeHeightForBalloon({iframeName:"#{MailMergeContenetBean.portletInsId}Frame",screenHeight:((y_mouseClick)+290)});
                    //                    }
                }else{
                    if(height-y_mouseClick < 160){
                        topPOS = true;
                    }
                }
                // alert((height-y_mouseClick)+" x_mouseClick"+x_mouseClick+" \n rightPOS "+rightPOS + " leftPOS " +leftPOS + " middlePOS " + middlePOS+ " topPOS " +topPOS);
                //small width portlet
                if(middlePOS && topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style"); 
                    //  alert(var1);
                    
                    var1 = var1+ " background-image:url(resources/left-bottom-small.png)!important;position:absolute!important;width:200px!important;z-index:1;";
                    
                    currentOverlayPanal.setAttribute("style", var1);
                    //return;
                    if(briefInfoPanel!=null){
                        briefInfoPanel.setAttribute("style", "display:none!important");
                    }
                }else if(middlePOS && !topPOS){
                    // alert("1");
                    var var1 =  currentOverlayPanal.getAttribute("style");
                    // alert(var1);
                    var1 = var1 + "background-image:url(resources/left-top-small.png)!important;left:"+(x_mouseClick)+"px!important;position:absolute!important;width:200px!important;z-index:1;";
                    currentOverlayPanal.setAttribute("style", var1);
                    
                    if(briefInfoPanel!=null){
                        briefInfoPanel.setAttribute("style", "display:none!important");
                    }
                }else if(rightPOS && topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style");
                    // alert(var1);
                    var1 = var1 + "background-image:url(resources/left_bottom.png)!important; position:absolute!important;visibility:visible;z-index:1;";
                    currentOverlayPanal.setAttribute("style", var1);
                                
                       
                }else if(rightPOS && !topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style");
                    //  alert(var1);
                    var1 = var1 + "background-image:url(resources/left_up.png)!important;position:absolute!important;visibility:visible;z-index:1;";
                    currentOverlayPanal.setAttribute("style", var1);
                    //  alert("s");
                }else if (leftPOS && !topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style");
                    // alert(var1);
                    var1 = var1 + "background-image:url(resources/right_up.png)!important;position:absolute!important;visibility:visible;z-index:1;";
                    currentOverlayPanal.setAttribute("style", var1);
                }else if (leftPOS && topPOS){
                    var var1 =  currentOverlayPanal.getAttribute("style");
                    //alert(var1);
                    var1 = var1 + "background-image:url(resources/right_bottom.png)!important;position:absolute!important;visibility:visible;z-index:1;";
                    currentOverlayPanal.setAttribute("style", var1);
              
                }
            }
            function simulateDownloadBtnClick(){
                try{
                    var commandLink = document.getElementById('frmScrForm:downloadLink');
                    commandLink.click();
                }catch(error){
                    console.log(error);
                }
            }
            function displayNone(panelId){
                // //alert(panel);
                var overlayPanel =  document.getElementById(panelId);
                overlayPanel.setAttribute("style", "display:no       ne!important");
                top.FABS.Portlet.updateIframeSizeWithHeight({iframeName:"#{TabularBean.portletInsId}Frame",screenHeight:"500"});
            }
            function displayBlock(buttonId, panelId,firstClick, secondClick){
                var overlayPanel =  document.getElementById(panelId);
                if(firstClick && secondClick){
                    overlayPanel.setAttribute("style", "display:block!important");
                }else{
                    overlayPanel.setAttribute("style", "display:none!important");
                }
            }
            function balloonPositionManager(event, id, side){
                var overlayPanelId = id.replace("openButton","balloonOverLay");
                var currentOverlayPanal = document.getElementById(overlayPanelId);
                var body = document.body,
                html = document.documentElement;
                //alert(1);
                var height = Math.max( body.scrollHeight, body.offsetHeight, 
                html.clientHeight, html.scrollHeight, html.offsetHeight );
                var middlePOS = false;
                var rightPOS = false;
                var leftPOS = false;
                var topPOS = false;
                if((width-event.clientX) <400 && width>400 && event.clientX<400){
                    middlePOS = true;
                }else if((width-event.clientX) > 400){
                    rightPOS = true;
                }else if ((width-event.clientX) < 400 && event.clientX > 400){
                    leftPOS = true;
                }
                // alert(2);
                // small hight portlet
                if(event.clientY < 140){
                    if(height-       event.clientY < 168){  
                        top.FABS.Portlet.resizeIframeHeightForBalloon({iframeName:"#{MailMergeContenetBean.portletInsId}Frame",screenHeight:((event.clientY)+190)});
                    }
                }else{
                    if(height-event.clientY < 168){
                        topPOS = true;
                    }
                }
            } 
            /*]]>*/
        </script>

        <h:form id="frmScrForm" dir="#{MailMergeContenetBean.htmlDir}"> 

            <h:panelGrid style="height:500px"  id="middlePanel" binding="#{MailMergeContenetBean.htmlPanelGrid}" dir="#{MailMergeContenetBean.htmlDir}">
                <h:panelGroup>
                    <p:commandButton value="#{MailMergeContenetBean.insertButtonName}"
                                     style="background-color: #A6C9E2;color: #000"
                                     actionListener="#{MailMergeContenetBean.insertProperty}"
                                     onclick="javascript:addTextToEditor();"/>
                    <p:commandButton value="Save"                   
                                     styleClass="save_btn"
                                     icon="save_btn_icon"
                                     actionListener="#{MailMergeContenetBean.saveAction}"
                                     title="Save" update="savingResult"/>
                    <h:outputText id="savingResult" value="#{MailMergeContenetBean.userMessage}"/>
                </h:panelGroup>
                <pe:ckEditor  id="editor1" widgetVar="editor1Widget" value="#{MailMergeContenetBean.contentValue}"  />   
            </h:panelGrid> 
            <div style="display:none">
                <h:inputHidden id="hidden" value="#{MailMergeContenetBean.fieldExp}"/> 
                <p:inputTextarea id="jsCommands" value="#{MailMergeContenetBean.onloadJSStr}" />
                <pe:timePicker id="toLoadExt"/>
                <p:commandLink partialSubmit="true" 
                               styleClass="backupLink" immediate="true" action="#{MailMergeContenetBean.backupDataAction}" />
                <p:commandLink partialSubmit="true" id="c2aLink" immediate="true"
                               ajax="true" update=":frmScrForm:middlePanel" 
                               styleClass="c2aLink" action="#{MailMergeContenetBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned" 
                               ajax="true" update=":frmScrForm:middlePanel" 
                               immediate="true" action="#{MailMergeContenetBean.lookupReturned}" />
                <p:commandLink partialSubmit="true" id="rdoLink" styleClass="rdoLink" 
                               ajax="true" update=":frmScrForm:middlePanel" 
                               immediate="true" action="#{MailMergeContenetBean.ReloadDataOnly}" />
                <p:commandButton id="downloadLink" value="Download" ajax="true" partialSubmit="true"
                                 immediate="true" onclick="PrimeFaces.monitorDownload(start, stop)"   
                                 icon="ui-icon-arrowthichk-s">  
                    <p:fileDownload value="#{TabularBean.exportedFile}" />  
                </p:commandButton> 
            </div>
        </h:form>

    </h:body>

    <script type="text/javascript">
        function addTextToEditor(){
            var propName= document.getElementById("frmScrForm:j_id32_LookupInputText").value;          
            if(propName!="")
                CKEDITOR.instances["frmScrForm:editor1"].insertText("[["+propName+"]]");
        }
    </script>
</html>