<?xml version="1.0" encoding="UTF-8"?>
<!--
    Document   : Edit Tenant & Company Name
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css"/>
    </h:head>

    <h:body id="outputBody1" style="height: 300px; ">
        <h:form id="tf" >
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            <p:dataTable value="#{ManageAdminTenantBean.userTenants}" var="currentTenant" editable="true" style="margin-bottom: 20px" rows="10"
                         paginator="true" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15,20">
                <p:ajax event="rowEdit" listener="#{ManageAdminTenantBean.onRowEdit}"  />
                <p:column style="width:50px">
                    <p:rowEditor/>
                </p:column>
                <p:column headerText="Tenant name">
                    <p:cellEditor>
                        <f:facet name="input">
                            <h:outputText value="#{currentTenant.name}" style="width:100%"/>
                        </f:facet>
                        <f:facet name="output">
                            <h:outputText value="#{currentTenant.name}" style="width:100%"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Company name">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{currentTenant.companyName}" style="width:100%"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{currentTenant.companyName}" style="width:100%"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

            </p:dataTable> 

        </h:form>
    </h:body>
</html>
