<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://java.sun.com/jsf/core">   
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TreeRime.css"></link>            
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid">
        <script>
            jQuery(document).ready(function() {
                //alert('from JQuery');
                var jsComnds = document.getElementById("frmScrForm:jsCommands");
                try{
                    //alert(jsComnds.value);
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
            });
            function simulateDownloadBtnClick(){
                try{
                    var commandLink = document.getElementById('frmScrForm:downloadLink');
                    commandLink.click();
                }catch(error){
                    console.log(error);
                }
            }
        </script>

        <h:form id="frmScrForm">
            <pe:ajaxErrorHandler type="javax.faces.application.ViewExpiredException" button="Reload"  
                                 buttonOnclick="document.location.href=document.location.href;" 
                                 body="Due to inactivity on page please push RELOAD to continue." title="Page expired ..." /> 
            <table>
                <tr>
                    <td>
                        <h:panelGrid  id="topLeftPanel"/>

                    </td>
                    <td>
                    </td>
                    <td>
                        <h:panelGrid  id="topRightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid  id="leftPanel"/>
                    </td>
                    <td>                                       
                        <h:panelGrid id="generalPanel"
                                     binding="#{MultiLevelBean.htmlPanelGrid}"
                                     style="position:relative"/>
                    </td>
                    <td>
                        <h:panelGrid  id="rightPanel"/>
                    </td>
                </tr>
            </table>            
            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{MultiLevelBean.onloadJSStr}" />
                <p:commandLink partialSubmit="true" 
                               styleClass="backupLink" immediate="true" action="#{MultiLevelBean.backupDataAction}" />
                <p:commandLink partialSubmit="true" id="c2aLink"
                               styleClass="c2aLink" immediate="true" action="#{MultiLevelBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned" 
                               ajax="true" update="frmScrForm:generalPanel" 
                               immediate="true" action="#{MultiLevelBean.lookupReturned}" />
                <p:commandButton id="downloadLink" value="Download" ajax="true" partialSubmit="true"
                                 immediate="true" onclick="PrimeFaces.monitorDownload(start, stop)"   
                                 icon="ui-icon-arrowthichk-s">  
                    <p:fileDownload value="#{TabularBean.exportedFile}" />  
                </p:commandButton> 
            </div>
        </h:form>
    </h:body>
</html>
