<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page1
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : mibrahim
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
        <h:head>
            <ice:outputStyle href="/resources/TabularRime.css" id="outputStyle3"/>
        </h:head>
            <h:body id="outputBody1" style="-rave-layout: grid">
                <div style="z-index:0;position:relative">
                        <script type="text/javascript">

                            var positionDel_bId;
                            var positionDel_popupId='';
                            function uiframework_Init(Id)
                            {
                                positionDel_bId=Id;

                                //document.write(str.substring(0, str.length - 6));
                            }

                            function uiframeworkBallon(){
                                if(positionDel_bId!=null)
                                {
                                    var panelID = positionDel_bId.substr(0, positionDel_bId.length - 16) + "popDiv";
                                    //alert (panelID. );
                                    var div=document.getElementById(panelID);
                                    div.style.display='none';
                                    positionDel_popupId='';
                                }

                            }
                            function uiframeworkAction(event)
                            {
                                //  var toggleID= positionDel_bId.substr(0, positionDel_bId.length - 16) + 'toggle';
                                //  var toggleCol=document.getElementById(toggleID);
                                //  toggleCol.value=false;
                                //   alert(toggleCol.value);
                                var panelID = positionDel_bId.substr(0, positionDel_bId.length - 16) + 'popDiv';
                                // alert (panelID);
                                var div=document.getElementById(panelID);
                                if(div.style.display=='none')
                                {
                                    if(positionDel_popupId!='')
                                    {
                                        var closePanel=document.getElementById(positionDel_popupId);
                                        closePanel.style.display='none';

                                    }
                                    positionDel_popupId=panelID;
                                    div.style.display='block';

                                }
                                else
                                {
                                    div.style.display='none';
                                    positionDel_popupId='';

                                }

                                div.style.position='absolute';
                                //div.style.top=event.clientY;
                                //div.style.left=event.clientX-20;
                                //     var linkId=positionDel_bId.substr(0, positionDel_bId.length - 6) +'';
                                //   var domNode = document.getElementById("_DefineCompanyBasicData_WAR_OHRWebApp_:form1:hiddenField");
                                // domNode.value=panelID;
                                //alert(domNode.value);

                            }

                        </script>

                    <ice:form id="ObjAttBrowserForm">

                            <!-- Controls for dynamically manipulating tree nodes. -->
                            <ice:panelGroup>

                                <ice:outputText
                                        value="Node: #{tree.selectedNodeObject.text}"
                                        escape="false" />

                                <br/>
                                <ice:outputText
                                        value="Field: #{tree.selectedNodeObject.nodeField}"
                                        escape="false" />

                                <br/>
                                <ice:outputText
                                        value="Type: #{tree.selectedNodeObject.nodeClass}"
                                        escape="false" />

                                <br/>
                                <ice:outputText
                                        value="Generic Type: #{tree.selectedNodeObject.nodeGenericType}"
                                        escape="false" />

                                <br/>
                                <ice:outputText
                                        value="Expression: #{tree.selectedNodeObject.nodeExpression}"
                                        escape="false" />
                                <p/>
                            </ice:panelGroup>

                            <ice:panelGrid id="treePanel" binding="#{tree.htmlPanelGrid}"/>

                        </ice:form>
                </div>
 </h:body>
</html>
