<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : mrashad
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{OEntitySpecsTreeBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TreeRime.css"></link>
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid">
        <script>
            jQuery(document).ready(function() {
                //alert('from JQuery');
                var jsComnds = document.getElementById("frmScrForm:jsCommands");
                try {
                    //alert(jsComnds.value);
                    eval(jsComnds.value);
                } catch (error) {
                    console.log(error);
                }
            });
        </script>
        <script id="script1" type="text/javascript">
            /*<![CDATA[*/
            // this functions should call
            function onLoadJSExecute() {
                // this
                var jsComnds = document.getElementById("frmScrForm:jsCommands");
                try {
                    //alert(jsComnds.value);
                    eval(jsComnds.value);
                } catch (error) {
                    console.log(error);
                }
            }

            /*<![CDATA[*/
            var positionDel_bId;
            var positionDel_popupId = '';
            function uiframework_Init(options)
            {
                positionDel_bId = options.Id;

            }


            function uiframeworkBallon() {
                if (positionDel_bId != null)
                {
                    var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':') + 1) + "popDiv" +
                            positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                    //alert (panelID. );
                    var div = document.getElementById(panelID);
                    div.style.display = 'none';
                    positionDel_popupId = '';
                }
            }
            function uiframeworkAction(event)
            {
                //  var toggleID= positionDel_bId.substr(0, positionDel_bId.length - 16) + 'toggle';
                //  var toggleCol=document.getElementById(toggleID);
                //  toggleCol.value=false;
                //   alert(toggleCol.value);
                var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':') + 1) + 'popDiv' +
                        positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                // alert (panelID);
                var div = document.getElementById(panelID);
                if (div.style.display == 'none')
                {
                    if (positionDel_popupId != '')
                    {
                        var closePanel = document.getElementById(positionDel_popupId);
                        closePanel.style.display = 'none';

                    }
                    positionDel_popupId = panelID;
                    div.style.display = 'block';

                    try {
                        window.scrollBy(event.clientX - 50, 250);
                    } catch (err) {
                    }
                    ;

                }
                else
                {
                    div.style.display = 'none';
                    positionDel_popupId = '';

                }

                div.style.position = 'absolute';
            }
            /*]]>*/

        </script>
        <h:form id="frmScrForm" dir="#{OEntitySpecsTreeBean.htmlDir}">
            <p:layout id="MainLayout" fullPage="true">
                <p:layoutUnit id="topLayoutUnit" position="north">
                    <p:layout id="topLayout">
                        <p:layoutUnit id="topLeftLayout" position="west"/>
                        <p:layoutUnit id="topCenterLayout" position="center"/>
                        <p:layoutUnit id="toprightLayout" position="east"/>
                    </p:layout>
                </p:layoutUnit>
                <p:layoutUnit id="centerLayoutUnit" position="center">
                    <h:panelGrid id="generalPanel"
                                 binding="#{OEntitySpecsTreeBean.htmlPanelGrid}"
                                 style="position:relative"/>
                </p:layoutUnit>
                <p:layoutUnit id="bottomLayoutUnit" position="south"/>
            </p:layout>
            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{OEntitySpecsTreeBean.onloadJSStr}" />
                <p:commandLink partialSubmit="true"
                               styleClass="backupLink" immediate="true" action="#{OEntitySpecsTreeBean.backupDataAction}" />
                <p:commandLink partialSubmit="true" id="c2aLink"
                               styleClass="c2aLink" immediate="true" action="#{OEntitySpecsTreeBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned"
                               ajax="true" update="frmScrForm:generalPanel"
                               immediate="true" action="#{OEntitySpecsTreeBean.lookupReturned}" />
            </div>
        </h:form>
    </h:body>
</html>