<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:p="http://primefaces.org/ui"
       dir="#{OutboxPage.htmlDir}"
       xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TabularRime.css"></link>
    </h:head>
    <h:body id="outputBody" style="-rave-layout: grid;width:100%;">
        <script>
            // HBM, extend liferay session if the user is working inside a screen
            window.onclick = function() {top.FABS.Session.extend();};
            window.onkeydown = function() {top.FABS.Session.extend();};
            function setSelectedTask(linkFLD){
                var id = linkFLD.id;
                id = id.substr(0, id.indexOf('table1:'));
                id = id + "selectedTask";
                var selectedTHF = document.getElementById(id);
                selectedTHF.value = linkFLD.title;
                return true;
            }

            function KeepRowEditable(rowIndex){
                jQuery('.ui-icon-pencil')[rowIndex].id = 'supercoolnewrow';
                jQuery('#supercoolnewrow').trigger('click');
            }
            function reload(portletInsId){
                AUI().one('#'+portletInsId+'Frame').get('contentWindow.location').reload(true);
            }
        </script>
        <h:form id="OutboxForm" styleClass="tabularScrForm" dir="#{OutboxPage.htmlDir}" enctype="multipart/form-data">
            <p:messages globalOnly="true"/>
            <!-- When removing this layout error "Primefaces is not defined" occures. -->
            <table  style="width:100%">
                <tr>
                    <td>
                        <h:panelGrid id="tableGrid"
                                     style="position:relative;width:100%!important" class="generalPanel"
                                     binding="#{OutboxPage.outboxPanel}"/>
                    </td>
                </tr>
            </table>
            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{OutboxPage.onloadJSStr}" />
                <p:commandLink partialSubmit="true" id="c2aLink" immediate="true"
                               ajax="true" update="OutboxForm:tableGrid"
                               styleClass="c2aLink" action="#{OutboxPage.refresh}"/>
            </div>
        </h:form>
    </h:body>
</html>