<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
        <h:head>
                <ice:outputStyle href="/resources/FormRime.css" id="outputStyle3"/>
        </h:head>
            <h:body id="outputBody1" style="-rave-layout: grid">
                    <script type="text/javascript">
                        /*<![CDATA[*/
                            var positionDel_bId;
                            var positionDel_popupId='';
                            function uiframework_Init(Id)
                            {
                                positionDel_bId=Id;

                                //document.write(str.substring(0, str.length - 6));
                            }

                            function uiframeworkBallon(){
                                if(positionDel_bId!=null)
                                {
                                    var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':')+1) + "popDiv"+
                                    positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                                    //alert (panelID. );
                                    var div=document.getElementById(panelID);
                                    div.style.display='none';
                                    positionDel_popupId='';
                                }
                            }
                            function uiframeworkAction(event)
                            {
                                //  var toggleID= positionDel_bId.substr(0, positionDel_bId.length - 16) + 'toggle';
                                //  var toggleCol=document.getElementById(toggleID);
                                //  toggleCol.value=false;
                                //   alert(toggleCol.value);
                                var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':')+1) + 'popDiv'+
                                    positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                                // alert (panelID);
                                var div=document.getElementById(panelID);
                                if(div.style.display=='none')
                                {
                                    if(positionDel_popupId!='')
                                    {
                                        var closePanel=document.getElementById(positionDel_popupId);
                                        closePanel.style.display='none';

                                    }
                                    positionDel_popupId=panelID;
                                    div.style.display='block';

                                    try { window.scrollBy(event.clientX-50,250);} catch(err){};

                                }
                                else
                                {
                                    div.style.display='none';
                                    positionDel_popupId='';

                                }

                                div.style.position='absolute';
                            }
                            /*]]>*/

                        </script>
                    <ice:form id="paySlipScrForm">
                        <table width="100%">
                            <tr>
                                <td>
                                    <ice:panelLayout id="topLeftPanel"/>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <ice:panelLayout id="topRightPanel"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ice:panelLayout id="leftPanel"/>
                                </td>
                                <td>
                                    <ice:panelGrid id="middlePanel" binding="#{PaySlipBean.htmlPanelGrid}"/>

                                </td>
                                <td>
                                    <ice:panelLayout id="rightPanel"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ice:panelLayout id="fotterPanel"/>
                                </td>

                                <td>
                                    <ice:panelLayout id="entityRequestPanel"  binding="#{PaySlipBean.entityRequestPanelGrid}"/>
                                </td>
                            </tr>
                        </table>
                        <div style="display:none">
                            <ice:commandLink partialSubmit="true" styleClass="backupLink" immediate="true" action="#{PaySlipBean.backupDataAction}" />
                            <ice:commandLink partialSubmit="true" styleClass="c2aLink" immediate="true" action="#{PaySlipBean.refresh}" />
                        </div>
                        <ice:panelPopup id="test" rendered="#{PaySlipBean.lookupPanelRendered}"  modal="true" style="position:abosulate;left:250px;top:300px;hieght:auto;width:auto;">
                            <f:facet name="header">
                                <ice:outputLabel id="labelForLooupPanel" value="#{PaySlipBean.lookupHeaderStr}"/>
                            </f:facet>
                            <f:facet name="body">
                                <ice:panelGrid id="popupLookup" binding="#{PaySlipBean.lookupPanelPopup}" />
                            </f:facet>
                        </ice:panelPopup>
                    </ice:form>
            </h:body>
        </html>