<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:pou="http://primefaces.org/ui">
    <h:head>
        <ice:outputStyle href="/resources/FormRime.css" id="outputStyle3"/>
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid" >                    
        <ice:form id="frmScrForm" dir="#{RegistrationMedication.htmlDir}">            
            <table width="100%">
                <tr>
                    <!--ice:selectInputText id="selectInputAutoComplete" rows="10" valueChangeListener="#{RegistrationMedication.complete}">
                                    <f:selectItems value="#{RegistrationMedication.list}"/>
                                </ice:selectInputText-->
                    <pou:messages id="messages" showDetail="true" autoUpdate="true"/>
                    <pou:panelGrid style="width: 100%">  
                        <f:facet name="header">  
                            <pou:row>  
                                <pou:column colspan="7">Medicine Data</pou:column>  
                            </pou:row>  
                            <pou:row>   
                                <pou:column>Medicine</pou:column>                                 
                                <pou:column>Dosage</pou:column>  
                                <pou:column>Period</pou:column>                                  
                            </pou:row>  
                        </f:facet>                           
                        <pou:row>
                            <pou:column>
                                <pou:inputText id="searchTXT" value="#{RegistrationMedication.selectedMedSrch}"
                                               style="width: 450px">
                                    <pou:ajax event="keyup" update="medList" listener="#{RegistrationMedication.complete}"/>
                                </pou:inputText>
                                <pou:selectOneListbox id="medList" value="#{RegistrationMedication.selectedMed}"  
                                                      style="height:100px; width: 450px" >  
                                    <f:selectItems value="#{RegistrationMedication.medicinesCopy}"  
                                                   var="med" itemLabel="#{med.name}" itemValue="#{med.name}"/>  
                                </pou:selectOneListbox>


                            </pou:column>
                            <pou:column>
                                <pou:selectOneListbox id="dosList" value="#{RegistrationMedication.selectedDos}"  
                                                      style="height:100px">  
                                    <f:selectItems value="#{RegistrationMedication.doses}"  
                                                   var="dos" itemLabel="#{dos.description}" itemValue="#{dos.description}" />  
                                </pou:selectOneListbox>
                            </pou:column>
                            <pou:column>
                                <pou:selectOneListbox id="periodList" value="#{RegistrationMedication.selectedPer}"  
                                                      style="height:100px">  
                                    <f:selectItems value="#{RegistrationMedication.perUDCs}"  
                                                   var="per" itemLabel="#{per.value}" itemValue="#{per.value}" />  
                                </pou:selectOneListbox> 
                            </pou:column>
                        </pou:row>
                        <f:facet name="footer">  
                            <pou:row>
                                <pou:column>
                                    <pou:commandButton id="loadButton" value="Add Medication" update="medTable"

                                                       actionListener="#{RegistrationMedication.addMedication}"/>
                                </pou:column>
                            </pou:row>
                        </f:facet> 

                    </pou:panelGrid>                  

                </tr> 

            </table>
            <table width="100%">
                <tr>
                    <td>
                        <ice:panelLayout id="topLeftPanel"/>
                    </td>
                    <td>
                    </td>
                    <td>
                        <ice:panelLayout id="topRightPanel"/>
                    </td>
                </tr>

                <tr>
                    <td>                            
                        <pou:dataTable id="medTable" var="med" value="#{RegistrationMedication.medicationDataModel}"
                                       selection="#{RegistrationMedication.selectedMedications}" selectionMode="multiple"
                                       emptyMessage="Please Select data from above">  
                            <f:facet name="header">  
                                Registration Medicine  
                            </f:facet>  



                            <pou:column headerText="Medicine">  
                                #{med.medicine}  
                            </pou:column>  

                            <pou:column headerText="Dosage">  
                                #{med.dosage}  
                            </pou:column>  

                            <pou:column headerText="Period" >  
                                #{med.period}  
                            </pou:column>                              

                            <f:facet name="footer">  
                                <pou:commandButton id="deleteButton" value="Delete" update="medTable"
                                                   onclick="confirmationDel.show()">  
                                    <pou:confirmDialog id="confirmDialog" message="Are you sure?"  
                                                       header="Deleting Medcation Record" severity="alert" widgetVar="confirmationDel">  

                                        <pou:commandButton id="confirm" value="Yes" 
                                                           oncomplete="confirmationDel.hide()"  update="medTable"
                                                           actionListener="#{RegistrationMedication.deleteMedication}" />  
                                        <pou:commandButton id="decline" value="No" onclick="confirmationDel.hide()" type="button" />   

                                    </pou:confirmDialog> 
                                </pou:commandButton>
                                <pou:commandButton id="pharamacyButton" value="Complete" update="medTable"
                                                   onclick="confirmation.show()">  
                                    <pou:confirmDialog id="confirmPharmDialog" message="Are you sure?"  
                                                       header="Transferring to Pharmacy" severity="alert" widgetVar="confirmation">  

                                        <pou:commandButton id="confirmPharm" value="Yes" 
                                                           oncomplete="confirmation.hide()" 
                                                           actionListener="#{RegistrationMedication.transferToPharmacy}" />  
                                        <pou:commandButton id="declinePharm" value="No" onclick="confirmation.hide()" type="button" />   

                                    </pou:confirmDialog> 
                                </pou:commandButton>
                                <!--pou:commandButton id="saveButton" value="Save"
                                                   update="medTable,:frmScrForm:searchTXT,:frmScrForm:medList"
                                                   actionListener="#{RegistrationMedication.saveMedication}"/-->  
                            </f:facet>  
                        </pou:dataTable>   


                    </td>
                </tr> 
                <td>
                    <ice:panelLayout id="rightPanel"/>
                </td>
                <tr>
                    <td>
                        <ice:panelLayout id="fotterPanel"/>
                    </td>                                
                </tr>
            </table>                        
        </ice:form>
    </h:body>
</html>
