<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : ProcessTask
    Created on : Jul 11, 2010, 5:25:59 PMa
    Author     : mrashad
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      dir="#{ProcessTaskBean.htmlDir}"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TabularRime.css"></link>
    </h:head>
    <h:body id="outputBody" style="-rave-layout: grid;width:100%;">
        <h:form id="processTaskForm" styleClass="tabularScrForm" dir="#{ProcessTaskBean.htmlDir}" 
                enctype="multipart/form-data">
            <p:messages globalOnly="true"/>
            <!-- When removing this layout error "Primefaces is not defined" occures. -->
            <table  style="width:100%">
                <tr>
                    <td>
                        <h:panelGrid id="tableGrid"
                                     style="position:relative;width:100%!important" class="generalPanel" 
                                     binding="#{ProcessTaskBean.htmlPanelGrid}"/>
                    </td>
                </tr>
            </table>
            <div style="display:none">
                <p:commandLink partialSubmit="true" id="c2aLink" immediate="true"
                               ajax="true" update="processTaskForm:tableGrid"
                               styleClass="c2aLink" action="#{ProcessTaskBean.refresh}"/>
            </div>
        </h:form>
    </h:body>
</html>