<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{ProcessDetailsBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css"></link>      
        <meta http-equiv="default-style" content="FR" />
        <meta http-equiv="expires" content="9999999999999999" />
        <meta http-equiv="cache-control" content="max-age=9999999999999999" />        
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid">
        <script>
            jQuery(document).ready(function() {
                var jsComnds = document.getElementById("frmScrForm:jsCommands");
                try{
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
            });
        </script>
        <h:form id="frmScrForm" dir="#{ProcessDetailsBean.htmlDir}" enctype="multipart/form-data">
            <table width="100%">
                <tr>
                    <td>
                        <h:panelGrid  id="topLeftPanel"/>
                    </td>
                    <td>
                    </td>
                    <td>
                        <h:panelGrid  id="topRightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid  id="leftPanel"/>
                    </td>
                    <td>                                     
                        <h:panelGrid  id="middlePanel" binding="#{ProcessDetailsBean.htmlPanelGrid}" 
                                      dir="#{ProcessDetailsBean.htmlDir}"/>
                    </td>
                    <td>
                        <h:panelGrid  id="rightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid  id="fotterPanel"/>
                    </td>

                </tr>
            </table>

            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{ProcessDetailsBean.onloadJSStr}" />
                <p:commandLink partialSubmit="true" 
                               styleClass="backupLink" immediate="true" action="#{ProcessDetailsBean.backupDataAction}" />
                <p:commandLink partialSubmit="true" id="c2aLink"
                               styleClass="c2aLink" immediate="true" action="#{ProcessDetailsBean.refresh}" />
            </div>
        </h:form>
    </h:body>
</html>