<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : mrashad
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{PrsnlzTabularBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui">

    <h:head>                  
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TabularRime.css"></link>
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid"  onload="onLoadJSExecute();">

        <script type="text/javascript">
            
            function validateMandaroryFields(){
                try{
                    var commandLink = document.getElementById('tf:validateBtn');
                    commandLink.click();
                }catch(error){
                    console.log(error);
                }
            }
        
            function editLastDatatableRow(){
                jQuery('.ui-icon-pencil')[0].id = 'supercoolnewrow';
                jQuery('#supercoolnewrow').trigger('click');
            }
            function onLoadJSExecute(){
                // this 
                var jsComnds = document.getElementById("tf:jsCommands");
                try{
                    //alert(jsComnds.value);
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
            }
        </script>      
        <h:form id="tf" style="width:100%" dir="#{PrsnlzTabularBean.htmlDir}">
            <table dir="#{PrsnlzTabularBean.htmlDir}">
                <tr>
                    <td>
                        <h:panelGrid  id="topLeftPanel"/>

                    </td>
                    <td>

                    </td>
                    <td>
                        <h:panelGrid  id="topRightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid  id="leftPanel"/>
                    </td>
                    <td>                                       
                        <h:panelGrid id="generalPanel"
                                     binding="#{PrsnlzTabularBean.htmlPanelGrid}"
                                     style="position:relative"/>
                    </td>
                    <td>
                        <h:panelGrid  id="rightPanel"/>
                    </td>
                </tr>
            </table>                            
            <p:dialog id="dialog" header="#{PrsnlzTabularBean.lookupHeaderStr}"
                      widgetVar="lkpdlg" dynamic="true" visible="#{PrsnlzTabularBean.lookupPanelRendered}"
                      showEffect="clip" hideEffect="clip" modal="true">  
                <h:panelGrid id="lkpgeneralPanel"
                             binding="#{PrsnlzTabularBean.lookupPanelPopup}"
                             style="position:relative"/>  
            </p:dialog> 
            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{PrsnlzTabularBean.onloadJSStr}" />
                <p:commandLink partialSubmit="true" 
                               styleClass="backupLink" immediate="true" action="#{PrsnlzTabularBean.backupDataAction}" />
                <p:commandLink partialSubmit="true" id="c2aLink" immediate="true"
                               ajax="true" update="tf:generalPanel"
                               styleClass="c2aLink" action="#{PrsnlzTabularBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned" 
                               ajax="true" update="tf:generalPanel" 
                               immediate="true" action="#{PrsnlzTabularBean.lookupReturned}" />
                <p:commandLink partialSubmit="true" id="validateBtn" ajax="true"  
                               styleClass="validateBtn" immediate="true"  update="tf:generalPanel" 
                               actionListener="#{TabularBean.validateMandatoryFields}" />

            </div>
        </h:form>
    </h:body>
</html>
