<?xml version="1.0" encoding="UTF-8"?>
<!--
    Document   : Page
    Created on : Nov 29, 2011, 12:25:59 AM
    Author     : nKamal
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{PrsnlzFormBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/FormRime.css"></link>    
    </h:head>
    <h:body id="PrsnlzBody" style="-rave-layout: grid">
        <script>
            jQuery(document).ready(function() {
                //alert('from JQuery');
                var jsComnds = document.getElementById("frmScrForm:jsCommands");
                try{
                    //alert(jsComnds.value);
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
            });
        </script>

        <h:form id="frmScrForm" dir="#{PrsnlzFormBean.htmlDir}">
            <table dir="#{PrsnlzFormBean.htmlDir}">
                <tr>
                    <td>
                        <h:panelGrid  id="topLeftPanel"/>

                    </td>
                    <td>

                    </td>
                    <td>
                        <h:panelGrid  id="topRightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid  id="leftPanel"/>
                    </td>
                    <td>                                       
                        <h:panelGrid id="middlePanel"
                                     binding="#{PrsnlzFormBean.htmlPanelGrid}"
                                     style="position:relative"/>
                    </td>
                    <td>
                        <h:panelGrid  id="rightPanel"/>
                    </td>
                </tr>
            </table> 
            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{PrsnlzFormBean.onloadJSStr}" />
                <p:commandLink partialSubmit="true" 
                               styleClass="backupLink" immediate="true" action="#{PrsnlzFormBean.backupDataAction}" />
                <p:commandLink partialSubmit="true" id="c2aLink"
                               styleClass="c2aLink" immediate="true" action="#{PrsnlzFormBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned" 
                               ajax="true" update="frmScrForm:generalPanel" 
                               immediate="true" action="#{PrsnlzFormBean.lookupReturned}" />
            </div>
        </h:form>
    </h:body>
</html>