<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- 
    Document   : OTMSMenu
    Created on : Aug 10, 2010, 12:52:46 PM
    Author     : htawab
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
        <h:head>
            <ice:outputStyle href="/resources/TabularRime.css" id="outputStyle3"/>
        </h:head>
            <h:body id="outputBody1" style="-rave-layout: grid">
                <ice:form id="reportLayoutForm">
                    <table width="100%">
                        <tr>
                            <td>
                                <ice:panelLayout id="leftPanel"/>
                            </td>
                            <td>
                                <ice:inputHidden id="ajaxRefresh" value="#{ReportLayout.refreshLayout}"/>
                                <ice:panelGrid id="middlePanel" binding="#{ReportLayout.layoutPanel}"/>
                            </td>
                            <td>
                                <ice:panelLayout id="rightPanel"/>
                            </td>
                        </tr>
                    </table>
                </ice:form>
  </h:body>
</html>

