<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{ReportBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
         
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TabularRime.css"></link>
      
    </h:head>
    <h:body id="outputBody1" style="width:100%;-rave-layout: grid">
        <h:form id="tf" styleClass="tabularScrForm" dir="#{TabularBean.htmlDir}"
            enctype="multipart/form-data">
            <h:outputText style="display: none"  escape="false" id="customedDynamicBalloonStyle"  value="#{TabularBean.customedDynamicBalloonStyle}">
        </h:outputText>
            <table dir="#{ReportBean.htmlDir}" style="width:100%">
                <tr>
                    <td>
                        <h:panelGrid  id="topLeftPanel"/>
                    </td>
                    <td>
                        <h:panelGrid  id="topRightPanel"/>
                    </td>
                </tr>
                <tr> 
                    <td  colspan="3">                                        
                        <h:panelGrid  id="generalPanel"
                                      binding="#{ReportBean.htmlPanelGrid}"
                                      style="position:relative;width:100%!important" class="generalPanel"/>
                    </td>
                </tr>
            </table>
        </h:form>
    </h:body>
</html>