<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : SessionInfo
    Created on : Oct 26, 2010, 1:29:03 PM
    Author     : mmohamed
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
        <h:head>
            <ice:outputStyle href="/resources/TabularRime.css" id="outputStyle3"/>
        </h:head>
            <h:body id="outputBody1" style="-rave-layout: grid">
                    <ice:form id="SessionInfiForm">
                        
                        <table>
                            <tr>
                                <td>
                                    <ice:panelLayout id="header" binding="#{SessionInfo.headerPanel}"/>
                                </td>
                                <td align="right">
                                    <ice:commandButton id="save_pref" type="image" title="Save Preferences"
                                                       style="height:30px;width:30px;" image="/resources/save_pref.png"
                                                       actionListener="#{SessionInfo.pref_action}"/>
                                    <ice:commandButton id="del_pref" type="image" title="Delete Preferences"
                                                       style="height:30px;width:30px;" image="/resources/del_pref.png"
                                                       actionListener="#{SessionInfo.pref_action}"/>

                                    <ice:graphicImage id="otms_page" visible="#{SessionInfo.otmsPage}"
                                                      title="OTMS Page" url="/resources/otms_page.png"
                                                      style="height:30px;width:30px;"/>
                                </td>
                            </tr>
                            <tr>
                                <td height="20px">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>

                                        <tr>
                                            <td>
                                                <ice:outputLabel id="username" value="#{SessionInfo.userNameLabelValue}"/>
                                            </td>
                                            <td>
                                                <ice:outputText id="username_value" value="#{SessionInfo.loggedUser.loginName}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ice:outputLabel id="hat" value="#{SessionInfo.hatLabelValue}"/>
                                            </td>
                                            <td>
                                                <ice:selectOneMenu id="hatsDropDown" value="#{SessionInfo.currentHat}" valueChangeListener="#{SessionInfo.changeHat}" partialSubmit="true" immediate="true" >
                                                    <f:selectItems value="#{SessionInfo.hatItems}"/>
                                                </ice:selectOneMenu>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </ice:form>
                    
                 </h:body>
</html>


