<?xml version="1.0" encoding="UTF-8"?>
<!--
    Document   : Page1
    Created on : Jun 20, 2010, 12:18:21 PM
    Author     : nsaleh
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
        <h:head>
                <ice:outputStyle href="./resources/stylesheet.css" id="outputStyle1"/>
                <ice:outputStyle href="./xmlhttp/css/xp/xp.css" id="outputStyle2"/>
        </h:head>
            <h:body id="outputBody1" style="-rave-layout: grid">
                <ice:form id="TaskPropForm">
                    <table width="100%">
                        <tr>
                            <td>
                                <ice:panelLayout id="leftPanel"/>
                            </td>
                            <td>
                                <ice:panelGrid id="middlePanel" binding="#{TaskDetails.taskPropertiesPanelGrid}"/>
                            </td>
                            <td>
                                <ice:panelLayout id="rightPanel"/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <ice:panelLayout id="leftBottomPanel"/>
                            </td>
                            <td>
                                <ice:panelGrid id="actionPanel" binding="#{TaskDetails.taskPropertiesActionsPanelGrid}"/>
                            </td>
                            <td>
                                <ice:panelLayout id="rightBottomPanel"/>
                            </td>
                        </tr>
                    </table>
                </ice:form>
            </h:body>
        </html>