<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : OTMSMenu
    Created on : Aug 10, 2010, 12:52:46 PM
    Author     : htawab
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TabularRime.css"></link>
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid" >
        <h:outputText id="leftPanel" value="#{AJAXMB.tempP}"/>
    </h:body>
</html>
