<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
        <h:head>
			<ice:outputStyle href="/resources/TabularRime.css" />
        </h:head>
            <h:body id="outputBody1" style="-rave-layout: grid" >
                        <script id="script1" type="text/javascript">
                            /*<![CDATA[*/
                            var positionDel_bId;
                            var positionDel_popupId ='';
							var contextURL='';
                              function uiframework_Init(options)
                            {
                                positionDel_bId=options.Id;
                                contextURL=options.contextURL;
                            }


                            function uiframeworkBallon(){
                                //alert("uiframeworkBallon:"+positionDel_bId);
                                if(positionDel_bId!=null)
                                {
                                    var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':')+1) + "popDiv"+

                                    positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                                //alert("uiframeworkBallon:"+panelID);
                                    var div=document.getElementById(panelID);
                                    //alert("uiframeworkBallon:"+div);
                                    div.style.display='none';
                                    positionDel_popupId='';
                                }
                            }

                            function uiframeworkAction(event)
                            {
                             //alert("uiframeworkAction(event):"+positionDel_bId);
                             //alert("uiframeworkAction(event):"+positionDel_bId.lastIndexOf(':'));
                                var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':')+1) + 'popDiv'+
                                    positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                             // alert("uiframeworkAction(event):"+panelID);
                                var div=document.getElementById(panelID);
                                //alert("uiframeworkAction(event):"+div);

                                /*div.style = position: absolute;
                                *               background-image: url("/OTMS-Web/resources/balloon.png");
                                *               background-repeat: no-repeat;
                                *               left: -43px;
                                *               height: 245px;
                                *               width: 465px;
                                *               z-index: 1000;
                                *               display: block;
                                */

                                if(div.style.display=='none')
                                {
                                    if(positionDel_popupId!='')
                                    {
                                        var closePanel=document.getElementById(positionDel_popupId);
                                        closePanel.style.display='none';

                                    }
                                    positionDel_popupId=panelID;
                                    div.style.display='block';
                                    var right = true;
                                    var bottom = true;

                                    //alert(event.clientX);
                                    //alert(event.clientY);
                                    //alert(document.width);
                                    //alert(document.height);

                                    //alert((document.width > 465 - 43));
                                    //alert((event.clientX - document.width));
                                    //alert((event.clientX - document.width < 465 - 43));


                                    //alert((document.height > 245));
                                    //alert( (event.clientY - document.height));
                                    //alert( (event.clientY - document.height < 245));



                                    if((event.clientX > 465 - 43) && (document.width - event.clientX < 465 - 43) && (document.width - event.clientX < event.clientX)){ // 465 - 43 is the remaining part to the left in the balloon
                                        right = false
                                    }

                                    if((event.clientY > 250) && (document.height - event.clientY < 245) && (document.height - event.clientY < event.clientY)){
                                        bottom = false;
                                    }

                                    if(right && bottom){
                                        //do nothing --> default
                                        try { window.scrollBy(event.clientX-50,250);} catch(err){};
                                    }else if(right && !bottom){
                                        div.style.top = -245;
                                        div.style.backgroundImage= 'url("'+contextURL+'/resources/balloon-topRight.png")';
                                        try { window.scrollBy(event.clientX-50,-250);} catch(err){};
                                    }else if (!right && bottom){
                                        div.style.left = -390;
                                        div.style.backgroundImage= 'url("'+contextURL+'/resources/balloon-bottomLeft.png")';
                                        try { window.scrollBy(50,250);} catch(err){};
                                    }else if (!right && !bottom){
                                        div.style.top = -245;
                                        div.style.left = -390;
                                        div.style.backgroundImage= 'url("'+contextURL+'/resources/balloon-topLeft.png")';
                                        try { window.scrollBy(50,-250);} catch(err){};
                                    }

                                    //div.onmousedown = uiframeworkAction(event);
                                    //div.onmousedown = "uiframeworkAction(event);";

                                    //if(bottom){
                                        //alert('12');
                                        //try { window.scrollBy(event.clientX-50,250);} catch(err){};
                                   // }else{
                                        //alert('34');
                                        //try { window.scrollBy(event.clientX-50,-250);} catch(err){};
                                   // }

                                    //alert(event.clientX);
                                    //alert(event.clientY);
                                    //alert(document.width);
                                    //alert(document.height);
                                }
                                else
                                {
                                    div.style.display='none';
                                    positionDel_popupId='';

                                }
                                div.style.position='absolute';
                            }
                            /*]]>*/
                        </script>
                        <ice:form id="TranslationBeanForm">
                            <table>
                                <tr>
                                    <td>
                                        <ice:panelLayout id="topLeftPanel"/>

                                    </td>
                                    <td>
                                        <ice:panelGrid id="processPanel" binding="#{TranslationBean.processPanelGrid}" style="position:relative"/>
                                    </td>
                                    <td>
                                        <ice:panelLayout id="topRightPanel"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ice:panelLayout id="leftPanel"/>
                                    </td>
                                    <td>
                                        <ice:panelGrid id="generalPanel" binding="#{TranslationBean.htmlPanelGrid}" style="position:relative"/>
                                    </td>
                                    <td>
                                        <ice:panelLayout id="rightPanel"/>
                                    </td>
                                </tr>
                            </table>
                            <div style="display:none">
                                <ice:commandLink partialSubmit="true" styleClass="backupLink" immediate="true" action="#{TranslationBean.backupDataAction}" />
                                <ice:commandLink partialSubmit="true" styleClass="c2aLink" immediate="true" action="#{TranslationBean.refresh}" />
                            </div>
                            <ice:panelPopup  id="test" binding="#{TranslationBean.popup}" rendered="#{TranslationBean.lookupPanelRendered}"
                            modal="true" autoPosition="manual">
                                <f:facet name="header">
                                    <h:panelGrid id="popupHeader2" width="100%" columns="2" styleClass="popUpHeader" columnClasses="icePopUpLbl,closeButtonStyle" >
                                        <ice:outputLabel id="labelForLooupPanel" value="#{TranslationBean.lookupHeaderStr}"
                                        styleClass="icePopUpLbl"/>
                                        <h:commandButton id="popupClose2" type="button" image="/resources/close.png"
                                        action="#{TranslationBean.exitLookup}" style="cursor: pointer;" immediate="true" />
                                    </h:panelGrid>
                                </f:facet>
                                <f:facet name="body">
                                    <ice:panelGrid id="popupLookup" binding="#{TranslationBean.lookupPanelPopup}" />
                                </f:facet>
                            </ice:panelPopup>
                            <ice:panelPopup  id="importDataPopUp" rendered="#{TranslationBean.importDataPanelRendered}"
                            modal="true" autoPosition="manual"  style="position:abosulate;left:200px;top:200px;width:55%;hieght:auto;">

                                <f:facet name="body">
                                    <ice:panelGrid id="popupImport" binding="#{TranslationBean.importPanelPopup}" />
                                </f:facet>
                            </ice:panelPopup>
                        </ice:form>
                        
            </h:body>
        </html>
