<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{TreeBrowserBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TreeRime.css"></link>            
    </h:head>
        <h:body id="outputBody1" style="background-color: #eeeeee; -rave-layout: grid">
<script>
 jQuery(document).ready(function() {
	//alert('from JQuery');
        var jsComnds = document.getElementById("frmScrForm:jsCommands");
                try{
			//alert(jsComnds.value);
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
    });
</script>
        <script id="script1" type="text/javascript">
            /*<![CDATA[*/
            // this functions should call 
            function onLoadJSExecute(){
                // this 
                var jsComnds = document.getElementById("frmScrForm:jsCommands");
                try{
			//alert(jsComnds.value);
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
            }
  
            /*<![CDATA[*/
                var positionDel_bId;
                var positionDel_popupId='';
                function uiframework_Init(options)
                {
                    positionDel_bId=options.Id;
                               
                }


                function uiframeworkBallon(){
                    if(positionDel_bId!=null)
                    {
                        var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':')+1) + "popDiv"+
                        positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                        //alert (panelID. );
                        var div=document.getElementById(panelID);
                        div.style.display='none';
                        positionDel_popupId='';
                    }
                }
                function uiframeworkAction(event)
                {
                    //  var toggleID= positionDel_bId.substr(0, positionDel_bId.length - 16) + 'toggle';
                    //  var toggleCol=document.getElementById(toggleID);
                    //  toggleCol.value=false;
                    //   alert(toggleCol.value);
                    var panelID = positionDel_bId.substr(0, positionDel_bId.lastIndexOf(':')+1) + 'popDiv'+
                        positionDel_bId.substr(positionDel_bId.lastIndexOf('_'));
                    // alert (panelID);
                    var div=document.getElementById(panelID);
                    if(div.style.display=='none')
                    {
                        if(positionDel_popupId!='')
                        {
                            var closePanel=document.getElementById(positionDel_popupId);
                            closePanel.style.display='none';

                        }
                        positionDel_popupId=panelID;
                        div.style.display='block';

                        try { window.scrollBy(event.clientX-50,250);} catch(err){};

                    }
                    else
                    {
                        div.style.display='none';
                        positionDel_popupId='';

                    }

                    div.style.position='absolute';
                }
                /*]]>*/

        </script>
        <h:form id="frmScrForm" dir="#{TreeBrowserBean.htmlDir}">
            <table dir="#{TabularBean.htmlDir}">
                <tr>
                    <td>
                        <h:panelGrid  id="topLeftPanel"/>
                            
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        <h:panelGrid  id="topRightPanel"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:panelGrid  id="leftPanel"/>
                    </td>
                    <td>                                       
                        <h:panelGrid id="generalPanel"
                                 binding="#{TreeBrowserBean.htmlPanelGrid}"
                                 style="position:relative"/>
                    </td>
                    <td>
                        <h:panelGrid  id="rightPanel"/>
                    </td>
                </tr>
            </table>            
            <div style="display:none">
                <p:inputTextarea id="jsCommands" value="#{TreeBrowserBean.onloadJSStr}" />
                <p:commandLink partialSubmit="true" 
                               styleClass="backupLink" immediate="true" action="#{TreeBrowserBean.backupDataAction}" />
                <p:commandLink partialSubmit="true" id="c2aLink"
                               styleClass="c2aLink" immediate="true" action="#{TreeBrowserBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned" 
                               ajax="true" update="frmScrForm:generalPanel" 
                               immediate="true" action="#{TreeBrowserBean.lookupReturned}" />
            </div>
        </h:form>
    </h:body>
</html>
