<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 10, 2012, 12:40:59 PM
    Author     : nkamal
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{FormBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <f:metadata>
        <f:viewParam name="loggedUserLocalParam" value="#{UploadImageBean.loggedUserLocal}"/>
        <f:viewParam name="udLocalParam" value="#{UploadImageBean.udLocal}"/>
    </f:metadata>
    <h:head>   
        <h:outputStylesheet library="css" name="#{request.contextPath}/resources/FormRime.css"/> 
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid" >
        <h:form id="UploadImageForm" enctype="multipart/form-data" prependId="false">
            
            <table><tr><td>
                        <p:fileUpload value="#{UploadImageBean.uploadedFile}"  
                          mode="simple" 
                          />   
              
                    </td></tr>
            <tr><td >
                    <p:commandButton title="Upload" alt="Upload" icon="upload_btn_icon"  value="Submit" styleClass="upload_btn" ajax="false"  
                    actionListener="#{UploadImageBean.uploadImageSimple}"/>     
                    </td></tr></table>
            
             
        </h:form>
    </h:body>
</html>
