<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
    <h:head>
        <ice:outputStyle href="/resources/FormRime.css" id="outputStyle3"/>
    </h:head>
    <h:body id="outputBody1" style="-rave-layout: grid" >
        <ice:form id="uploadCompanyImageForm">
            <table width="100%">
                <tr>
                    <td>
                <ice:panelLayout id="topLeftPanel"/>
                </td>
                <td>
                </td>
                <td>
                <ice:panelLayout id="topRightPanel"/>
                </td>
                </tr>
                <tr>
                    <td>
                <ice:panelLayout id="leftPanel"/>
                </td>
                <td>
                <ice:panelGrid id="middlePanel" binding="#{FormBean.htmlPanelGrid}" dir="#{FormBean.htmlDir}"/><br/><br/>
                <ace:fileEntry id="fileEntry" label="Upload Image" fileEntryListener="#{UploadCompanyLogoBean.uploadImage}"
                               style="width:100px" styleClass="iceCmdBtn" immediate="true" useOriginalFilename="true"/><br></br>
                <h:commandButton value="Add" styleClass="iceCmdBtn"/>
                <h:commandButton value="Remove" styleClass="iceCmdBtn" action="#{UploadCompanyLogoBean.removeImage}"/>
                <br/><br/>
                <ice:graphicImage id="thumbnailImage" value="#{UploadCompanyLogoBean.logo}" width="200" height="200"
                  style="position: center; float:center" />
                </td>
                <td>
                <ice:panelLayout id="rightPanel"/>
                </td>
                </tr>
                <tr>
                    <td>
                <ice:panelLayout id="fotterPanel"/>
                </td>

                <td>
                <ice:panelLayout id="entityRequestPanel"  binding="#{UploadCompanyLogoBean.entityRequestPanelGrid}"/>
                </td>
                </tr>
            </table>
            <div style="display:none">
                <ice:commandLink partialSubmit="true" styleClass="backupLink" immediate="true" action="#{UploadCompanyLogoBean.backupDataAction}" />
                <ice:commandLink partialSubmit="true" styleClass="c2aLink" immediate="true" action="#{UploadCompanyLogoBean.refresh}" />
            </div>
        </ice:form>
    </h:body>
</html>
