<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    Document   : Page2
    Created on : Jul 11, 2010, 5:25:59 PM
    Author     : arezk
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      dir="#{UserTenantRoleAdminBean.htmlDir}"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
         
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/TabularRime.css"></link>
      
    </h:head>
   <h:body id="outputBody1" style="width:100%;-rave-layout: grid" 
           > 
                <script id="script1" type="text/javascript">
            /*<![CDATA[*/
            var width = document.body.offsetWidth;
            var x_mouseClick;
            var y_mouseClick;
            function hideBreifSeCtion(panelId){
                //                var overlayPanel = document.getElementById(panelId);
                
                //var buttonPosition =
                //                    var curleft = 0;
                //                    var curtop = 0;
                //		if (overlayPanel.offsetParent) {	
                //			do {
                //				curleft += overlayPanel.offsetLeft;
                //				curtop += overlayPanel.offsetTop;	
                //                             //   alert(overlayPanel.offsetParent +" "+overlayPanel.offsetLeft  +" "+ overlayPanel.offsetTop +" "+curleft);
                //			} while (overlayPanel == overlayPanel.offsetParent);
                //		}  
                var briefId = panelId.replace("balloonOverLay","briefPanel");
                var briefInfoPanel = document.getElementById(briefId);
                //                //alert("left:"+(overlayPanel.offsetLeft));
                if(briefInfoPanel!=null){
                    if(((width -x_mouseClick) < 400) && (x_mouseClick<400)){
                        //alert(1);
                        briefInfoPanel.setAttribute("style", "display:none");
                    }else{
                        //alert(2);
                        briefInfoPanel.setAttribute("style", "display:block");
                    }
                }
            }
            function displayNone(panelId){
                // //alert(panel);
                var overlayPanel =  document.getElementById(panelId);
                overlayPanel.setAttribute("style", "display:none!important");
                top.FABS.Portlet.updateIframeSizeWithHeight({iframeName:"#{UserTenantRoleAdminBean.portletInsId}Frame",screenHeight:"500"});
            }
            function displayBlock(buttonId, panelId,firstClick, secondClick){
                var overlayPanel =  document.getElementById(panelId);
                if(firstClick && secondClick){
                    overlayPanel.setAttribute("style", "display:block!important");
                }else{
                    overlayPanel.setAttribute("style", "display:none!important");
                }
            }
            function balloonPositionManager(event, id){
                // var rowIndex = id.split(":");
                //var screenFieldIndex = rowIndex[3].split("_");
                var overlayPanelId = id.replace("openButton","balloonOverLay");
                // //alert(id);
                //                var overlayPanelId = rowIndex[0]+":"+rowIndex[1]+":"+rowIndex[2]+":balloonOverLay"+"_"+screenFieldIndex[1];
                //                if(screenFieldIndex.length>2){
                //                    overlayPanelId = overlayPanelId +"_"+screenFieldIndex[2];
                //                }
                //alert(overlayPanelId+"\n"+id);
                var currentOverlayPanal = document.getElementById(overlayPanelId);
                if(currentOverlayPanal !=null && currentOverlayPanal.style.display !="none"){
                    currentOverlayPanal.style.display =="none";
                    top.FABS.Portlet.updateIframeSizeWithHeight({iframeName:"#{UserTenantRoleAdminBean.portletInsId}Frame",screenHeight:"500"});
                    return;
                }
                var body = document.body,
                html = document.documentElement;
                x_mouseClick = event.clientX;
                y_mouseClick = event.clientY;
                var height = Math.max( body.scrollHeight, body.offsetHeight, 
                html.clientHeight, html.scrollHeight, html.offsetHeight );
               
              
                var right = true;
              
                if(width - event.clientX < 400){
                    if(event.clientX > 400){
                        right = false;
                    }
                }
                var smallWidth = false;
                if(width - event.clientX < 400 && event.clientX < 400){
                    smallWidth = true;
                }    
                //alert(height +" " +event.clientY +" "+(height - event.clientY) +" right: "+right+" smallWidth: "+smallWidth);
                if(right==true && !smallWidth){
                    ///alert(//"1");
                    if(event.clientY < 133){  
                        if(height-event.clientY < 168){
                              //alert("2");
                            top.FABS.Portlet.resizeIframeHeightForBalloon({iframeName:"#{UserTenantRoleAdminBean.portletInsId}Frame",screenHeight:((event.clientY)+190)});
                        }
                          //alert("3");
                        currentOverlayPanal.setAttribute("style", 
                        "background-image:url(resources/left_up.png)!important;position:absolute!important;");
                    }else{
                      //alert("4");
                        if(height-event.clientY < 168){
                              //alert("5");
                            currentOverlayPanal.setAttribute("style", 
                            "background-image:url(resources/left_bottom.png)!important;position:absolute!important;");
                              //alert("6");
                        }else{
                              //alert("7");
                            currentOverlayPanal.setAttribute("style", 
                            "background-image:url(resources/left_up.png)!important;position:absolute!important;");
                                //alert("8");
                        }
                          //alert("9");
                        //                        currentOverlayPanal.setAttribute("my","left top");
                        //                        currentOverlayPanal.setAttribute("at","left bottom");
                    }      
                     //alert("10");
                }else if(!right){
                     //alert("11");
                    //TODO: if small && balloon should be displayed on right side
                    var widthManager="";
                    var leftTopSmall="";
                    var leftBottomSmall="";
                    if(event.clientY < 133){
                      //alert("12");
                        if(height-event.clientY < 168){
                              //alert("13");
                            top.FABS.Portlet.resizeIframeHeightForBalloon({iframeName:"#{UserTenantRoleAdminBean.portletInsId}Frame",screenHeight:((event.clientY)+190)});
                        }
                          //alert("14");
                        currentOverlayPanal.setAttribute("style", "background-image:url(resources/right_up.png);position:absolute!important;"+widthManager+leftTopSmall);
                    }else{
                      //alert("15");
                        currentOverlayPanal.setAttribute("style", "background-image:url(resources/right_bottom.png);position:absolute!important;"+widthManager+leftBottomSmall);
                    }    
                }else if(smallWidth){
               //     alert("16");
                    var widthManager="";
                    var leftTopSmall="";
                    var leftBottomSmall="";
                    if(smallWidth){
                     // alert("17");
                        widthManager = "width:200px!important;left:"+0+"px!important;";
                        leftTopSmall="background-image:url(resources/left-top-small.png)!important;";
                        leftBottomSmall="background-image:url(resources/left-bottom-small.png)!important;";
                        
                    }
                    
                    //alert(briefId);
                    if(event.clientY < 133){
                        if(height-event.clientY < 168){
                            top.FABS.Portlet.resizeIframeHeightForBalloon({iframeName:"#{UserTenantRoleAdminBean.portletInsId}Frame",screenHeight:((event.clientY)+190)});
                        }
                   //     alert("test2");
                        currentOverlayPanal.setAttribute("style", "position:absolute!important;"+widthManager+leftTopSmall);
                    }else{
                    //    alert("test3");
                        if(height-event.clientY> 167)
                              currentOverlayPanal.setAttribute("style", "position:absolute!important;"+widthManager+leftTopSmall);
                              else
                        currentOverlayPanal.setAttribute("style", "position:absolute!important;"+widthManager+leftBottomSmall);
                    } 
                    var briefId = overlayPanelId.replace("balloonOverLay","briefPanel");
                   // alert("briefId: "+briefId);
                    var briefInfoPanel = document.getElementById(briefId);
                    // alert("briefInfoPanel "+briefInfoPanel);
                    if(briefInfoPanel!=null){
                        
                        briefInfoPanel.setAttribute("style", "display:none!important");
                    }
                }
                //alert("test");
            }
            /*]]>*/
        </script>
        <script>
            function reload(portletInsId){
                AUI().one('#'+portletInsId+'Frame').get('contentWindow.location').reload(true);
            }
            function validateMandaroryFields(){
                try{
                    var commandLink = document.getElementById('tf:validateBtn');
                    commandLink.click();
                }catch(error){
                    console.log(error);
                }
            }
            function simulateDownloadBtnClick(){
                try{
                    var commandLink = document.getElementById('tf:downloadLink');
                    commandLink.click();
                }catch(error){
                    console.log(error);
                }
            }
            //jQuery('c2aLink').id = 'ballAc';simulate(\"click\")
            jQuery(document).ready(function() {
                ////alert('from JQuery');
                var jsComnds = document.getElementById("tf:jsCommands");
                try{
                    //alert(jsComnds.value);
                    eval(jsComnds.value);
                }catch(error){
                    console.log(error);
                }
            });        
            function editLastDatatableRow(){           
                jQuery('.ui-icon-pencil')[0].id = 'supercoolnewrow';
                jQuery('#supercoolnewrow').trigger('click');
                /*jQuery('.ui-datatable-data tr').last().find('span.ui-icon-pencil').each(function(){
         jQuery(this).click()
      });*/
            }
            function KeepRowEditable(rowIndex){
                try{
                    jQuery('.ui-icon-pencil')[rowIndex].id = 'supercoolnewrow';
                    jQuery('#supercoolnewrow').trigger('click');
                }catch(error){
                    console.log(error);
                }
            }
            function setSelectedRow(value){
                var selectedRow = document.getElementById('tf:selectedRow');
                selectedRow.value = value;
            }
            function updateFrameHeightForCal(portletInsId){
                top.FABS.Portlet.updateIframeSizeForCal(portletInsId+"Frame");
            }

            function KeepEditable(){
                var selectedRow = document.getElementById('tf:selectedRow');
                try{
                    if(selectedRow.value != "-10"){
                        jQuery('.ui-icon-pencil')[selectedRow.value].id = 'supercoolnewrow';
                        jQuery('#supercoolnewrow').trigger('click');
                        selectedRow.value = "-10";
                    }else{
                    }
                } catch(error) {
                    console.log(error);
                }
            }
            function selectCurrentRow(text, fieldsCount){
                var row = text.parentNode;
                var rowIndex = 0;
                for(var i = 30; i  >= 10; i--){
                    if(row.getAttribute("data-ri") != null)
                    {
                        rowIndex = row.getAttribute("data-ri");
                        break;
                    }
                    else 
                    {
                        row = row.parentNode;
                    }
                }

                var rowPlace = parseInt(rowIndex)*parseInt(fieldsCount);
                jQuery('.ui-cell-editor-output')[rowPlace].id = 'tempID';
                jQuery('#tempID').trigger('click');
                jQuery('.ui-cell-editor-output')[rowPlace].id = null;
            }
            
         
        </script>  
        <script type="text/javascript">  
            function start() {  
                PF('statusDialog').show();  
            }  
                    
            function stop() {  
                PF('statusDialog').hide();  
            }  
        </script>  
        <h:form id="tf" styleClass="tabularScrForm" dir="#{UserTenantRoleAdminBean.htmlDir}"
            enctype="multipart/form-data">
            <h:outputText style="display: none"  escape="false" id="customedDynamicBalloonStyle"  value="#{UserTenantRoleAdminBean.customedDynamicBalloonStyle}">
        </h:outputText>
            <table dir="#{UserTenantRoleAdminBean.htmlDir}" style="width:100%">
                <tr>
                    <td>
                        <h:panelGrid  id="topLeftPanel"/>

                    </td>
                    <td>
                        <h:panelGrid  id="processPanel" binding="#{UserTenantRoleAdminBean.processPanelGrid}"
                                      style="position:relative" dir="#{UserTenantRoleAdminBean.htmlDir}"/>
                    </td>
                    <td>
                        <h:panelGrid  id="topRightPanel"/>
                    </td>
                </tr>
                <tr> 
                    <!--   <td>
                           <h:panelGrid  id="leftPanel"/>
                       </td>-->
                    <td  colspan="3">                                        
                        <h:panelGrid  id="generalPanel"
                                      binding="#{UserTenantRoleAdminBean.htmlPanelGrid}"
                                      style="position:relative;width:100%!important" class="generalPanel"/>
                    </td>
                    <!--      <td>
                              <h:panelGrid  id="rightPanel"/>
                          </td> -->
                </tr>
            </table>

            <div style="display:none">
                <p:commandLink partialSubmit="true" id="redirectView" immediate="true"
                               ajax="true" styleClass="c2aLink" action="#{UserTenantRoleAdminBean.dummyRedirection}" />  
                <p:inputTextarea id="jsCommands" value="#{UserTenantRoleAdminBean.onloadJSStr}" />
                <p:commandLink partialSubmit="true" 
                               styleClass="backupLink" immediate="true" action="#{UserTenantRoleAdminBean.backupDataAction}" />
                <p:commandLink partialSubmit="true" id="c2aLink" immediate="true"
                               ajax="true" update="tf:generalPanel"
                               styleClass="c2aLink" action="#{UserTenantRoleAdminBean.refresh}" />
                <pe:tooltip for="c2aLink" value="Fade effect is used by default" showEffect="fadeIn" hideEffect="fadeIn"/>  
                <p:commandLink partialSubmit="true" id="balloonLink" immediate="true"
                               styleClass="balloonLink" action="#{UserTenantRoleAdminBean.refresh}" />
                <p:commandLink partialSubmit="true" id="lookupReturned" styleClass="lookupReturned" 
                               ajax="true" update="tf:generalPanel" 
                               immediate="true" action="#{UserTenantRoleAdminBean.lookupReturned}"/>
                <p:commandLink partialSubmit="true" id="fileEntrtyReturned" 
                               styleClass="fileEntrtyReturned" 
                               immediate="true" action="#{UserTenantRoleAdminBean.fileEntrtyReturned}" />
                <p:commandLink partialSubmit="true" id="onlyActive" ajax="true"
                               styleClass="backupLink" immediate="true" actionListener="#{UserTenantRoleAdminBean.filterAction}" />
                <p:commandLink partialSubmit="true" id="onlyInActive" ajax="true" 
                               styleClass="backupLink" immediate="true" actionListener="#{UserTenantRoleAdminBean.filterAction}" />
                <p:commandLink partialSubmit="true" id="ActiveInActive" ajax="true" 
                               styleClass="backupLink" immediate="true" actionListener="#{UserTenantRoleAdminBean.filterAction}" />
                <p:commandLink partialSubmit="true" id="rdoLink" ajax="true" 
                               styleClass="rdoLink" immediate="true" 
                               actionListener="#{UserTenantRoleAdminBean.reloadDataOnly}" />
                <p:commandLink partialSubmit="true" id="validateBtn" ajax="true"  
                               styleClass="validateBtn" immediate="true" 
                               actionListener="#{UserTenantRoleAdminBean.validateMandatoryFields}" />
                <h:inputHidden id="selectedRow" value="#{UserTenantRoleAdminBean.selectedRow}" />
                <p:commandButton id="downloadLink" value="Download" ajax="true" partialSubmit="true"
                                 immediate="true" onclick="PrimeFaces.monitorDownload(start, stop)"   
                                 icon="ui-icon-arrowthichk-s">  
                    <p:fileDownload value="#{UserTenantRoleAdminBean.exportedFile}" />  
                </p:commandButton> 
            </div>
            
        </h:form>
    </h:body>
</html>