<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:dvt="http://xmlns.oracle.com/dss/adf/faces">

    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view xmlns:f="http://java.sun.com/jsf/core" 
            xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
            xmlns:dvt="http://xmlns.oracle.com/dss/adf/faces" locale="#{EmployeeViewer.htmlDir}">
        <script id="script1" type="text/javascript"> 
            function openScreen(options){
                var entityDBID = options.entityDBID;
                var funDBID = options.funDBID;
                var screenName = options.screenName;
                var screenInstId = options.screenInstId;
                var viewPage = options.viewPage;
                var portletTitle = options.portletTitle;
                top.FABS.Portlet.openPopupForOrgChart({
                    "screenName":screenName
                    ,"screenInstId":screenInstId
                    ,"viewPage":viewPage
                    ,"portletTitle":portletTitle
                    ,"entityDBID":entityDBID
                    ,"funDBID":funDBID
                });
            }
        </script>
        <script id="script2" type="text/javascript"> 
            function openPortalPage(options){
                var funDBID = options.funDBID;
                var userName = options.userName;
                var entityDBID = options.entityDBID;
                var entityType = options.entityType;
                var pageURL = options.pageURL;
                top.FABS.Portlet.openPortalPage({
                    "funDBID":funDBID
                    ,"userName":userName
                    ,"entityDBID":entityDBID
                    ,"entityType":entityType
                    ,"pageURL":pageURL
                });
            }
        </script>
        <af:document id="d1">
            <af:form id="f1">
                <af:panelStretchLayout id="psl1">
                    <f:facet name="bottom">
                        <af:panelGroupLayout id="pgl5">
                            <af:commandButton text="Print" id="cb12">
                                <af:showPrintablePageBehavior/>
                            </af:commandButton>
                        </af:panelGroupLayout>
                    </f:facet>
                    <f:facet name="center">
                        <dvt:hierarchyViewer id="shv" styleClass="AFStretchWidth"
                                             controlPanelBehavior="initExpanded"
                                             var="node"
                                             value="#{EmployeeViewer.model}"
                                             contentDelivery="immediate" summary="foo">
                            <af:dragSource actions="MOVE" defaultAction="MOVE"  />
                            <af:dropTarget dropListener="#{EmployeeViewer.handleDrop}" actions="MOVE" >
                                <af:dataFlavor flavorClass="org.apache.myfaces.trinidad.model.RowKeySet"  />
                            </af:dropTarget> 
                            <dvt:node width="233" height="330" id="n2"  setAnchorListener="#{EmployeeViewer.doSetAnchor}"    >
                                <f:facet name="zoom25">
                                    <af:panelGroupLayout layout="vertical" id="pg2l435">
                                        <af:outputText value="#{node.employeeName}"
                                                       inlineStyle="font-weight:bold;font-size:10px;color:#383A47"
                                                       id="ot1735"/>
                                        <af:outputText value="#{node.positionName}"
                                                       inlineStyle="font-size:10px;color:#383A47"
                                                       id="ot1835"/>
                                    </af:panelGroupLayout>
                                </f:facet>
                                <f:facet name="zoom100">
                                    <af:panelGroupLayout layout="vertical"
                                                         inlineStyle="#{node.style}"
                                                         id="pgl2">
                                        <af:panelGroupLayout layout="horizontal" id="pgl22">
                                            <af:panelGroupLayout id="pgl3">
                                                <af:image
                                                    inlineStyle="width:108px;height:120px;"
                                                    source="#{node.image}"
                                                    id="i1"/>
                                            </af:panelGroupLayout>
                                            <af:spacer width="5" height="5" id="s221"/>
                                            <af:panelGroupLayout layout="vertical" id="pg2l4">
                                                <af:outputText value="#{node.employeeName}"
                                                               inlineStyle="font-weight:bold;font-size:20px;color:#383A47"
                                                               id="ot17"/>
                                                <af:menu binding="#{EmployeeViewer.employeeMenu}" 
                                                         inlineStyle="font-size:14px;color:#383A47">
                                                    <h:inputHidden id="ot19" value="#{node.employeeDBID}" />
                                                </af:menu>
                                                <af:menu binding="#{EmployeeViewer.employeeMenu}" 
                                                         rendered="#{node.employeeDBID>0}"
                                                         inlineStyle="font-size:14px;color:#383A47">
                                                    <h:inputHidden id="ot19111" value="#{node.id}" />
                                                </af:menu>
                                                <af:outputText value="#{node.positionName}"
                                                               inlineStyle="font-size:20px;color:#383A47"
                                                               id="ot18"/>
                                                <af:menu binding="#{EmployeeViewer.positionMenu}"
                                                         rendered="#{EmployeeViewer.defaultOrgChart}"
                                                         inlineStyle="font-size:14px;color:#383A47">
                                                    <h:inputHidden id="ot20" value="#{node.id}" />
                                                </af:menu>

                                            </af:panelGroupLayout>
                                        </af:panelGroupLayout>
                                        <af:spacer height="5" id="s1"/>
                                        <af:separator id="s4"/>
                                        <af:spacer height="5" id="s3"/>
                                        <dvt:panelCard effect="slide_horz"
                                                       inlineStyle="border-width:1px;border-color:#CCCCCC;
                                                       font-size:16px;font-weight:bold;color:#5a6a7a"
                                                       id="pc1">
                                            <af:showDetailItem text="#{EmployeeViewer.contactValue}"
                                                               inlineStyle="font-weight:bold;font-size:16px;color:#5a6a7a"
                                                               id="sdi1">
                                                <af:panelFormLayout inlineStyle="width:100%;height:100%;padding:5px"
                                                                    id="pfl1">
                                                    <af:panelLabelAndMessage label="#{EmployeeViewer.mobileValue}"
                                                                             rendered="#{EmployeeViewer.defaultOrgChart}"                                                                             labelStyle=" text-align: left;font-size:14px;color:#5A6A7A" id="plam2">
                                                        <af:outputText value="#{node.mobile}"
                                                                       inlineStyle="font-size:14px;color:#383A47" id="ot3" />
                                                    </af:panelLabelAndMessage>
                                                    <af:panelLabelAndMessage label="#{EmployeeViewer.phoneValue}"
                                                                             rendered="#{EmployeeViewer.defaultOrgChart}"
                                                                             labelStyle=" text-align: left;font-size:14px;color:#5A6A7A" id="plam6">
                                                        <af:outputText value="#{node.phone}"
                                                                       inlineStyle="font-size:14px;color:#383A47" id="ot8" />
                                                    </af:panelLabelAndMessage> 
                                                    <af:panelLabelAndMessage label="#{EmployeeViewer.employeeCodeValue}"
                                                                             rendered="#{EmployeeViewer.empDirectManagerOrgChart}"
                                                                             labelStyle=" text-align: left;font-size:14px;color:#5A6A7A" id="plam21">
                                                        <af:outputText value="#{node.employeeDBID}"
                                                                       inlineStyle="font-size:14px;color:#383A47" id="ot31" />
                                                    </af:panelLabelAndMessage>
                                                    <af:panelLabelAndMessage label="#{EmployeeViewer.emailValue}"
                                                                             rendered="#{EmployeeViewer.empDirectManagerOrgChart}"
                                                                             labelStyle=" text-align: left;font-size:14px;color:#5A6A7A" id="plam5">
                                                        <af:outputText value="#{node.email}"
                                                                       inlineStyle="font-size:14px;color:#383A47" id="ot6" />
                                                    </af:panelLabelAndMessage>
                                                    <af:panelLabelAndMessage label="#{EmployeeViewer.unitNameValue}"
                                                                             rendered="#{EmployeeViewer.empDirectManagerOrgChart}"
                                                                             labelStyle=" text-align: left;font-size:14px;color:#5A6A7A" id="plam51">
                                                        <af:outputText value="#{node.email}"
                                                                       inlineStyle="font-size:14px;color:#383A47" id="ot61" />
                                                    </af:panelLabelAndMessage>
                                                </af:panelFormLayout>
                                            </af:showDetailItem>          
                                        </dvt:panelCard>
                                    </af:panelGroupLayout>
                                </f:facet>
                            </dvt:node>
                            <dvt:link linkType="orthogonalRounded" id="l1"   />
                        </dvt:hierarchyViewer>
                    </f:facet>
                </af:panelStretchLayout>
            </af:form> 
        </af:document>
    </f:view>
</jsp:root>
