<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:af="http://myfaces.apache.org/trinidad"
      xmlns:dvt="http://xmlns.oracle.com/dss/adf/faces">
    <h:head>
        <title>Employee Org Chart</title>
    </h:head>
    <h:body>
        <f:view>
            <af:document id="d1">
                <af:form id="f1"></af:form>
                <dvt:hierarchyViewer id="hierarchyViewer1" layout="hier_vert_top" var="node"
                                     inlineStyle="width:100%;height:600px;" value="#{EmployeeTree.model}"

                                     >
                    <dvt:node width="233" height="330" id="n2"   >
                        <f:facet name="zoom100">
                            <af:panelGroupLayout layout="vertical"
                                                 inlineStyle="width:100%;height:100%;padding:5px"
                                                 id="pgl2">
                                <af:panelGroupLayout layout="horizontal" id="pgl3">
                                    <af:panelGroupLayout inlineStyle="width:85px;height:120px"
                                                         id="pgl4">
                                        <af:image id="i1"/>
                                    </af:panelGroupLayout>
                                    <af:spacer width="5" height="5" id="s2"/>
                                    <af:panelGroupLayout layout="vertical" id="pgl1">
                                        <af:outputText value="#{node.name}"
                                                       inlineStyle="font-weight:bold;font-size:20px;color:#383A47"
                                                       id="ot5"/>
                                        <af:outputText value="#{node.id}"
                                                       inlineStyle="font-size:20px;color:#383A47"
                                                       id="ot9"/>

                                    </af:panelGroupLayout>
                                </af:panelGroupLayout>
                                <af:spacer height="5" id="s1"/>
                                <af:separator id="s4"/>
                                <af:spacer height="5" id="s3"/>
                                <dvt:panelCard effect="slide_horz"
                                               inlineStyle="border-width:1px;border-color:#CCCCCC;
                                               font-size:16px;font-weight:bold;color:#5a6a7a"
                                               id="pc1">
                                    <af:showDetailItem text="first group title "
                                                       inlineStyle="font-weight:bold;font-size:16px;color:#5a6a7a"
                                                       id="sdi1">
                                        <af:panelFormLayout inlineStyle="width:100%;height:100%;padding:5px"
                                                            id="pfl1">
                                            <af:panelLabelAndMessage label="Department ID"
                                                                     labelStyle="font-size:14px;color:#5A6A7A" id="plam2">
                                                <af:outputText value="#{node.deptId}"
                                                               inlineStyle="font-size:14px;color:#383A47" id="ot3" />
                                            </af:panelLabelAndMessage>
                                            <af:panelLabelAndMessage label="attribute label5"
                                                                     labelStyle="font-size:14px;color:#5A6A7A" id="plam6">
                                                <af:outputText value="attribute value5"
                                                               inlineStyle="font-size:14px;color:#383A47" id="ot8" />
                                            </af:panelLabelAndMessage>
                                            <af:panelLabelAndMessage label="attribute label6"
                                                                     labelStyle="font-size:14px;color:#5A6A7A" id="plam5">
                                                <af:outputText value="attribute value6"
                                                               inlineStyle="font-size:14px;color:#383A47" id="ot6" />
                                            </af:panelLabelAndMessage>
                                        </af:panelFormLayout>
                                    </af:showDetailItem>
                                    <af:showDetailItem text="second group title "
                                                       inlineStyle="font-weight:bold;
                                                       font-size:16px;color:#5a6a7a" id="sd12">
                                        <af:panelFormLayout inlineStyle="width:100%;height:100%;padding:5px"
                                                            id="pfl2">
                                            <af:panelLabelAndMessage label="attribute label7"
                                                                     labelStyle="font-size:14px;color:#5A6A7A" id="plam3">
                                                <af:outputText value="attribute value7"
                                                               inlineStyle="font-size:14px;color:#383A47" id="ot7"/>
                                            </af:panelLabelAndMessage>
                                            <af:panelLabelAndMessage label="attribute label8"
                                                                     labelStyle="font-size:14px;color:#5A6A7A" id="plam4">
                                                <af:outputText value="attribute value8"
                                                               inlineStyle="font-size:14px;color:#383A47" id="ot1"/>
                                            </af:panelLabelAndMessage>
                                            <af:panelLabelAndMessage label="attribute label9"
                                                                     labelStyle="font-size:14px;color:#5A6A7A" id="plam1">
                                                <af:outputText value="attribute value9"
                                                               inlineStyle="font-size:14px;color:#383A47" id="ot4"/>
                                            </af:panelLabelAndMessage>
                                        </af:panelFormLayout>
                                    </af:showDetailItem>
                                </dvt:panelCard>
                            </af:panelGroupLayout>
                        </f:facet>
                    </dvt:node>
                    <dvt:link linkType="orthogonalRounded" id="l1"   />

                </dvt:hierarchyViewer>
            </af:document>
        </f:view>
    </h:body>
</html>

