
af|panelAccordion::disclosed-icon {
    content: url(icon.png);
}
.menuPanel{
    
}
.balloonButton{
    /*margin-left: 2px;*/
    background-repeat: no-repeat !important;
    border: 1px solid!important;
    font-size: 0 !important;
    height: 50px !important;
    margin-right: 0 !important;
    padding: 0 !important;
    width: 120px !important;
    box-shadow: 0 0px 0 #FFFFFF inset;
    background-color: red!important;
    icon: url(icon.png)!important;
}

.balloonButton:hover,  .balloonButton:active, .balloonButton:focus, .balloonButton:default{
    width: 0px!important;
    background-repeat: no-repeat !important;
    border: 0 none !important;
    font-size: 0 !important;
    height: 50px !important;
    margin-right: 0 !important;
    padding: 0 !important;
    box-shadow: 0 0px 0 #FFFFFF inset;
    background-color: transparent!important;
}
